[2014-07-01 07:14] pinscript opened #10 "JSON does not set the correct Content-Type header"
Hi,

I'm experimenting with Gin and stumbled on some problems. The code below does not result in a Content-Type: application/json being set in the response.

[code]

Response:

[code]

I've tried fixing the issue myself but i cannot find a way to set a header. All headers are just ignored.

Anyone else experiencing the same problem?

I'm on Go 1.1 on Windows so that might have something to do with

[2014-07-01 07:37] #10 closed, assigned to javierprovecho

[2014-07-01 08:03] alexandernyquist opened #12 "encoding/xml cannot marshal maps"
This code from the documentation:

    r.GET("/someXML", func(c *gin.Context) {
        c.XML(200, gin.H{"message": "hey", "status": 200})
    })

Will result in a `xml: unsupported type: gin.H` error.

Marshalling a specific type would of course work:

    type Response struct {
        	Name string
    }
    c.XML(200, Response{"Alexander Nyquist"})

    // <Response><Name>Alexander Nyquist</Nam

[2014-07-01 11:01] manucorporat opened #14 "Rename context.EnsureBody() to context.ValidateBody()"
I feel like the current method name is not pretty clear.

Right now, we have two methods for JSON validation (XML validation is coming soon).

[code]

and

[code]

https://github.com/gin-gonic/gin/blob/master/gin.go#L281-L298

The first one `ParseBody()` unmarshal the JSON stream and also validates it, if an error occurred it is returned, otherwise, nil is returned.

The second one `EnsureBody()`

[2014-07-01 16:51] ekanna opened #15 "Session Mgmt?"
Hi,

Any plans to support session management like github.com/gorilla/sessions?

[2014-07-02 08:35] manucorporat opened #19 "ROADMAP for 0.2"
**Roadmap for 0.2**
- Performance improments, reduce allocation and garbage collection overhead
- Fix bugs
- Ask our designer for a cool logo
- Add tons of unit tests and benchmarks
- Improve logging system
- Improve JSON/XML validation using bindings
- Improve XML support
- Improve documentation
- Add more cool middlewares, for example redis catching (this also helps developers to understand the

[2014-07-02 08:38] martensson opened #20 "Support for 405 Method Not Allowed"
Would be great to easy add support for status 405, specially when creating a REST API.

And do you have any example adding a more verbose access logger? Logging response-code, user-agent, client-ip, etc?

Keep up the good work! :+1:

[2014-07-02 11:16] allochi opened #22 "Change c.Req to c.Request similar to c.Writer"
Hi,

So, this is not an urgent request, but I think it's only fair to call things in their actual names.

[code]

I'm not going to go crazy about it and request something like this :smile:

[code]

but this improve the readability of the context, and indicate that these are the `http` request and writer.

[2014-07-02 14:08] manucorporat opened #24 "Important performance improvement"
I just tested a new system to reduce the allocation and garbage collection overhead.

Some benchmarks:

Current (old) system:

[code]

New system:

[code]

But this is even better.
- It also reduces drastically the garbage collection stress in a full-loaded system.
- This system allows the community to extend the `gin.Context` (adding more static variables etc...) without degrading the performance

[2014-07-03 06:58] dorajistyle opened #27 "How can I use html template?"
Hello.
Thank you for sharing nice framework.

I wonder how can I use html template in gin framework.

I've tried below,

    html := template.ParseFiles("file1", "file2")
    r.HTMLTemplates = html

Then I've got an error bellow.

    multiple-value "html/template".ParseFiles() in single-value context

And I've researched bit more.
Finally discovered Context.HTML.

    func render(c *gin.Context)

[2014-07-03 11:21] mattatcha opened #29 "Issue with custom CORS header middleware"
I have created a the following middleware function but It doesn't seem to be working properly.  When I do an options request I get a 404 and I get `http: multiple response.WriteHeader calls` in my console.

[code]

I have mounted it as the before anything else with the following.

[code]

[2014-07-03 20:32] zaibon opened #35 "Need to be able to choose the action delimiters of templates"
I'm using Gin with angularjs, since angular also use {{ }} we have change the action delimiters of go templates.

[2014-07-03 20:34] #35 closed, assigned to javierprovecho

[2014-07-04 14:33] mdigger opened #38 "URL with the trailing slash"
I can't specify a URL with a slash at the end: `router.GET("/login/", login)`.

`prefix := path.Join(group.prefix, component)` in `func (group *RouterGroup) Group(...)` and `p = path.Join(group.prefix, p)` in `func (group *RouterGroup) Handle(...)` removes the trailing slash.

[2014-07-05 18:25] manucorporat opened #42 "Submit your middleware to 'github.com/gin-gonic/contrib'!"
Everybody who created a cool middleware, please submit a Pull Request to github.com/gin-gonic/contrib

[2014-07-05 18:26] AustinDizzy opened #43 "Logged Intrusion?"
I started poking around with the samples locally to test a few things to use gin for an API handler. Anyways, the live logger in my terminal started reporting activity after an hour of inactivity. Logs are below:

[code]

The snippet I was running in main.go is as follows:

[code]

I installed Go 1.3 using [GVM](/moovweb/gvm) on Ubuntu 12.04, completely up to date on all other system binaries and

[2014-07-05 18:57] #43 closed, assigned to austinheap

[2014-07-06 00:01] muei opened #44 "the router not overrite"
if you register the  router
r.GET("/test/:name", func(c *gin.Context) {
    name := c.Params.ByName("name")
    c.String(200, "the parmas are"+name)
})
this will error  when compiling, they can't coexist!
r.GET("/test/json", func(c *gin.Context) {
    c.String(200, "this will error because the router top")
})

[2014-07-06 10:05] #44 closed, assigned to javierprovecho

[2014-07-06 18:23] manucorporat opened #45 "Go1.3 only support?"
I was experimenting with the new `sync.Pool`. It will make Gin a little bit faster running in a single core and much faster when running in several cores.

Sadly `sync.Pool`is only available in Go1.3. So if Gin uses it, we can't support 1.2.

What do you guys think? would you have any problem with that?

[2014-07-06 23:15] georgyo opened #48 "Unable to get http response code in middle ware."
If I wanted to create a simple logger to mimic apache access logs, it is currently impossible to get the written status code. `http.ResponseWriter`'s implementation is `http.response` which is unexported. As such there is no way to get to it's also unexported `http.response.status`.

You can get the entire header map from `http.ResponseWriter.Header()` however it won't give you anything about the

[2014-07-07 00:13] #48 closed, assigned to manucorporat

[2014-07-07 02:21] patrickdappollonio opened #49 "A better way to send an error as JSON/XML, canceling next handlers"
I've been trying naively to send a 400 http status code with a JSON message in it, adding proper headers as "application/json" and a body with a proper error message. The first thing I thought was using `c.JSON(400, gin.H{"error": "error here"})` but if this appears in a middleware, and there are new handlers or middlewares following up, I receive `http: multiple response.WriteHeader calls` from t

[2014-07-07 14:38] nickdenisenko opened #51 "How can I use websocket"
Hello! Thank you for cool framework!

I use `code.google.com/p/go.net/websocket` package

[code]

How can I handle websocket with `gin`?

[2014-07-08 03:29] muei opened #53 "Not prompt an error when port is occupied!"
test on windows 64!
Not prompt an error when port is   occupied!

and if the server is running success, no message .I need to use browser to test whether is success

[2014-07-08 03:37] muei opened #54 "c.Html(...) default suffix"
I hope the suffix will be defautl as ".tmpl", so I can use like c.Html(200,"index",nil) ,this will find index.tmpl, if c.Html(200,"index.html".nil) will find the index.html.
ps: i'm not a english user, so my English is very bad, please forgive me

[2014-07-08 05:51] kzjeef opened #55 "How to write request test ?"
Use std and http handler can write following test case, but how to do similar thing in gin ?

I think the main point should be `how to create a request and response and fill it into gin's Context structure`...

[code]

[2014-07-08 06:58] saggit opened #57 "How can i use gin with standard handlers?"
Hello! how can i use gin with the standard handlers like:

[code]

thanks.

[2014-07-08 07:26] #57 closed, assigned to javierprovecho

[2014-07-08 10:06] #24 closed, assigned to manucorporat

[2014-07-08 10:07] #29 closed, assigned to manucorporat

[2014-07-08 10:13] #15 closed, assigned to manucorporat

[2014-07-08 13:32] alexandernyquist opened #59 "Content negotiation"
My application will serve an API that is available via JSON and XML. There is currently not a convenient way of doing this in Gin. As it is now, I end up with a bunch of switch-cases.

What do you guys say about supporting (maybe a basic implementation) content negotiation (conneg)[0]?

The most simple API could look something like this:

	r.GET("/ping", func(c *gin.Context) {
	    c.Negotiate(200

[2014-07-09 01:45] #53 closed, assigned to javierprovecho

[2014-07-09 01:49] #49 closed, assigned to nobody

[2014-07-09 08:35] #55 closed, assigned to javierprovecho

[2014-07-09 08:44] muei opened #61 "How to turn off caching in development mode？"
Now ,when I update the ".tmpl" files,  I can't see the latest changes

[2014-07-09 20:40] benschw opened #63 "Can't unmarshal JSON array with c.EnsureBody"
trying this:

[code]

and i'm getting this:

[code]

[2014-07-11 11:24] pheew opened #64 "Pluggable view renderer"
Hi Guys,

I've been playing with the framework and overal I really like it. One point where I think it's lacking is a pluggable view rendering engine. The engine struct is currently tied to HTMLTemplate so it's not really easy to switch it out and use a different implementation when appropriate. Wouldn't it be better to introduce interfaces for these components? Say, for instance, in the case of t

[2014-07-12 07:37] al3xandru opened #65 "Setup of gin with Google App Engine"
I don't seem to be able to setup gin with GAE. I understand that the trunk is Go1.3, but checking out the `app_engine` branch and running `go install` results in an error too:

[code]

[code]

[2014-07-15 15:44] #54 closed, assigned to nobody

[2014-07-15 15:45] #45 closed, assigned to javierprovecho

[2014-07-15 15:48] #63 closed, assigned to nobody

[2014-07-15 20:15] iwanbk opened #66 "Create mailing list"
I think this project has many attention that deserve a mailing list.

[2014-07-15 21:45] #65 closed, assigned to nobody

[2014-07-16 00:57] #38 closed, assigned to javierprovecho

[2014-07-16 00:58] #22 closed, assigned to manucorporat

[2014-07-16 00:59] #14 closed, assigned to manucorporat

[2014-07-16 15:49] taisph opened #72 "undefined: sync.Pool error"
[code]

sync.Pool seems to be introduced in go1.3 meaning gin no longer works with Google App Engine, drone.io and others running go1.2.

Is this intentional?

[2014-07-17 04:09] cachafla opened #75 "Inability to use '/' for static files"
Hi,

I'm very sad to find out that gin doesn't allow you to have '/' as your top level route for static files. Almost every single web framework out there assumes that the static files you have inside your project are going to be served from $static_dir and they will be mapped as HTTP routes from '/'. An example from express.js does this:

[code]

Doing that maps "/index.html" to "public/index.htm

[2014-07-17 21:22] #75 closed, assigned to nobody

[2014-07-18 02:17] muei opened #77 "When to release the next stable version"
Come on！

[2014-07-18 07:17] al3xandru opened #78 "Organize a decent template system"
I know this might be caused by my lack of experience or the way `html/template` works, but I cannot figure how I could get:

1. an easy to maintain hierarchical template structure
2. how to organize this so that I can easily use it from the app.

In _my_ ideal world:

1. I could have a `base.tmpl`
2. this could be extended/customized in final templates
3. templates would be organized in a director

[2014-07-18 13:26] #77 closed, assigned to nobody

[2014-07-18 14:30] #64 closed, assigned to nobody

[2014-07-26 03:30] dfilipovic39 opened #84 "Please add redirect support"
Could you please put additional function on contex that would redirect. Something like:

c.Writer.Header().Add("Location", "http://www.example.com")
c.Writer.WriteHeader(302)

it is very commonly used...

[2014-07-26 05:02] dfilipovic39 opened #85 "Deffered header write"
It would be very nice to have this. Lets say i want to have sessions and i need the header to be written before the response. Currently there i no way to do that.
Martni framework has it solved with Before function on custom ResponseWriter
https://github.com/go-martini/martini/blob/master/response_writer.go#L13

[2014-07-26 18:54] bscott opened #86 "go get failing"
When running

[code]

I get an error, seems master branch is broken

[code]

[2014-07-28 17:40] haoxian-zhao opened #87 "how do we return an array of json as response"
from the example looks like we can only return a single json file for response? could you please advice? thanks

[2014-07-31 18:34] #86 closed, assigned to nobody

[2014-07-31 18:35] #87 closed, assigned to nobody

[2014-08-01 05:32] alehano opened #90 "Feature request: Reverse url"
It's useful when you can build url string by url name and parameters. Like in http://www.gorillatoolkit.org/pkg/mux

[code]

[2014-08-05 23:15] haoxian-zhao opened #92 "do we support query parameter? I dont see it from the doc"
e.g. /api/v1/contents?page=10

thanks

[2014-08-14 16:38] vitorsvieira opened #93 "google group creation, please!"
Hi guys,

Just passing here to ask you guys, when you have some time, to create a google group.
I think it is very usefull and it will be nice to keep reading and helping the users through there.

You guys should be there with Gorilla, Revel, Martini and others...

[2014-08-15 19:40] schmitch opened #94 "Different Context? (Appengine)"
Is it possible to have a different Context then gin.Context? I'am using appengine and i need to use some app engine related context

https://developers.google.com/appengine/docs/go/gettingstarted/usingusers

[2014-08-15 19:44] #94 closed, assigned to nobody

[2014-08-17 01:24] #93 closed, assigned to nobody

[2014-08-18 03:24] #92 closed, assigned to nobody

[2014-08-18 15:23] #84 closed, assigned to nobody

[2014-08-18 18:15] MattNewberry opened #95 "iota results in missing parameter"
Synopsis:
When using `iota` to default a const group to a 0 value, and sending a 0 value via a JSON payload, the binding process fails believing the required value is missing.

Schema:

[code]

JSON:

[code]

Response:

[code]

[2014-08-19 01:38] manucorporat opened #96 "Development mode"
IDEAS
- HTML rendering without cache.
- Additional logging
    - Log existing routes
    - Log listening port

API
- Debug mode by default
- Using an environment variable called `GIN_MODE` that is loaded at init time.
[code]

- Developer-API.
Any call to this method would replace the default option.
[code]

Log example:
[code]

[2014-08-22 12:53] JimmyPettersson85 opened #100 "[Binding] Embedded struct fails required condition"
The following will not be caught by binding.JSON.Bind()

[code]

The expected error would be "Required Embedded"
If we change E to

[code]

it will be caught with the error message "Required Field", with no information about that Field resides in an embedded struct .

[2014-08-25 11:27] olebedev opened #104 "gorilla websocket error"
I am trying to use gin with gorilla/websocket:

[code]

But I am getting an error: `websocket: response does not implement http.Hijacker`.

As I see, there is no Hijack method on c.Writer, maybe it should be added? Or please tell my how can I use it without changing `gin` code. Thanks.

[2014-08-25 12:01] #104 closed, assigned to nobody

[2014-08-26 15:54] #51 closed, assigned to manucorporat

[2014-08-29 09:11] Anson99 opened #106 "How to load static files, like css, js etc."

[2014-08-29 09:30] #106 closed, assigned to nobody

[2014-08-29 11:58] #85 closed, assigned to nobody

[2014-08-29 12:00] #61 closed, assigned to nobody

[2014-08-31 06:58] badoet opened #107 "upload image processing using gin"
do gin have a feature to handle multipart form post upload?

[2014-08-31 18:59] RoelVanNyen opened #108 "r.group not working"
I made a quick test with custom middleware groups:

[code]

TEST and TEST2 never gets printed.

I do get a warning:
[GIN] WARNING. Headers were already written!

Any ideas ?

[2014-09-01 09:09] techjanitor opened #109 "Binding doesn't support multipart/form-data"
context.go only supports application/x-www-form-urlencoded for forms:
case c.Request.Method == "GET" || ctype == MIMEPOSTForm:
		b = binding.Form

[GIN] 2014/09/01 - 03:48:13 | 400 | 248.788us | 172.4.231.9 POST /post
Error #1: unknown content-type: multipart/form-data
Meta: Operation aborted

[2014-09-03 08:06] dustywilson opened #111 "Go does not contain an exclamation point"
You use Go! in your documentation, but the language that is spelled "Go!" (with an exclamation point) is a completely different programming language, not the one from Google.  Google's Go (which is what you're using) does not have an exclamation point at all in its name.  This is not a sarcastic bug report.  It feels that you are trying to be accurate and complete (and I totally support that) by i

[2014-09-07 15:22] Thomasdezeeuw opened #113 "An idea for content negotiation"
I have this idea, which I would like to share and maybe implement in Gin. Here it goes.

On every request check which type of content the user would like, using the following two methods:

1. Check `Accept` header.
2. Check for `url` extention, example: `/api/resource.json`, would result in `json` content.

And default to HTML.

Then using this accepted content type add a new function that renders

[2014-09-07 16:12] #72 closed, assigned to nobody

[2014-09-08 16:15] carlosalarconb opened #114 "Problem installing"
myuser@ubuntu:~/Desktop/Golang$ go get github.com/gin-gonic/gin
# github.com/gin-gonic/gin

../../go/src/github.com/gin-gonic/gin/gin.go:44: undefined: sync.Pool

[2014-09-08 17:44] #114 closed, assigned to nobody

[2014-09-10 00:30] techjanitor opened #115 "Binding validation doesn't seem to work"
Placing 'required' on a struct doesn't prevent the request from going through. I'm getting some strange behavior with binding in general.

Here is a function:

[code]

Presumably if the item is not present in the request, c.Fail should be returning 'Error #01: Required Type' in the response. Yet this does not happen, it passes straight to the conditional (which defeats the whole purpose of validat

[2014-09-10 09:09] ohohco opened #116 "Just a question"
Why the router method are the capital.`r.GET()` not `r,Get()`

[2014-09-10 14:15] gplume opened #117 ""multiple-value c.Get() in single-value context""
Hi There,
I guess I didn't "get" it with "c.Set()" and "c.Get()"...
In the examples it seems simple but if I copy the example just like it is on the readme page, well the compiler complain with :
 "multiple-value c.Get() in single-value context"

either with :
myvar, err := c.Get("myvar").(string)
or
myvar := c.Get("myvar").(string)

after setting it in a middleware like this:

c.Set("myvar", "var

[2014-09-14 02:36] #117 closed, assigned to nobody

[2014-09-14 11:36] adred opened #118 "Sessions"
Hi,

Can you recommend a session package I can use? I looked at gorrila sessions but it requires gorilla context which I don't like since Gin already has context implementation. I would appreciate your input.

Awesome framework.

Thanks!

[2014-09-15 18:45] IronPark opened #119 "why don't working LoadHTMLTemplates function in debug mode"
[code]
this code display "404 page not found"

[code]

this code display rendered HTML Templets
is it bug? or deliberately?

[2014-09-18 22:25] sjbog opened #124 "socket.io compatibility"
How to setup / run the socket.io compatible server ? https://github.com/googollee/go-socket.io/

Tried 2 methods

[code]

But can't connect from the client, loops in

[code]

[2014-09-19 18:02] #124 closed, assigned to nobody

[2014-09-25 17:29] apriendeau opened #125 "*gin.Context.JSON turning empty array into null"
*gin.Context.JSON should be able to return an empty array as that is valid json.

[2014-09-25 17:31] apriendeau opened #126 "Feature: Custom Headers"
Context should have the ability to create custom headers.

[2014-09-25 17:35] #126 closed, assigned to nobody

[2014-09-28 13:39] apertoire opened #127 "Redirect middleware"
I'm working on an angularjs app, with gin as the backed stack.

If I set html5Mode to true, I need to configure my server to play along by means of this (https://github.com/angular-ui/ui-router/wiki/Frequently-Asked-Questions#how-to-configure-your-server-to-work-with-html5mode)

The question is .. can anybody provide guidance on how to build such a redirect middleware ?

[2014-09-28 22:29] #127 closed, assigned to nobody

[2014-09-30 04:12] mgutz opened #128 "how to blacklist/whitelist fields?"
How do you do something like this?

[code]
That is I only want a known set of fields to be hydrated for a handler. The field list can change per handler. I guess I could create a new DTO struct per hander but that doesn't seem very DRY.

[2014-09-30 17:39] phrozen opened #129 "Bind a checkbox group"
Hey I have the following code:

[code]

What is the correct way to bind them (using Bind Middleware) to obtain all data from them? I'm binding to an string but I only get the first one, if I bind to a slice I get an error.

Any ideas? Does Bind support this?

This is done in other languages by naming the group as an array:

[code]

Then my struct will have a slice to bind. But I can't seem to make

[2014-10-04 19:35] #125 closed, assigned to nobody

[2014-10-06 02:38] hwongcom opened #130 "Can't figure out how the html templating works."
So far, it doesn't work ...

    r.GET("/", func(c *gin.Context) {
    r.LoadHTMLTemplates("templates/*")
        obj := gin.H{"title": "Main website"}
        c.HTML(200, "index.tmpl", obj)
    })

must run hello from the source directory else won't find index.tmpl

do you have some demo script that's more complete to work on? beego.me is very good at their documentation. i would like to know how

[2014-10-06 04:36] jwaldrip opened #131 "question: Ace"
How could you get the [ace templating system](https://github.com/yosssi/ace) to work with Gin?

[2014-10-08 08:36] adred opened #133 "[GIN] WARNING. Headers were already written!"
I have the following middleware that checks if a session(gorilla) is set before allowing the request to pass through.

[code]
How can I prevent Gin from spitting the following error?
[code]

Note that it only happens when no sessions are set.

[2014-10-08 08:50] #118 closed, assigned to nobody

[2014-10-09 09:09] jimzhan opened #134 "Can't load HTML templates under gin_mode/debugCode"
Samples come directly from README are broken due to the gin_mode checking from both LoadHTMLGlob & LoadHTMLFiles

[code]

[2014-10-11 15:21] adred opened #135 "render.Render does not use the passed template reference?"
I don't understand why it's not using the Template reference in debug mode?

[code]

How am I use suppose to use a custom templates directory in debug mode? Currently, it can only detect templates that are in the root directory. Meaning, if I place my templates in `static/*` directory, Gin is not able to detect it which makes setting `LoadHTMLFiles()` useless in debug mode.

[2014-10-14 09:18] spx opened #136 "panic: conflict with wildcard route"
how can i do this? by url path len
	router.GET("/:b/:a", func(c *gin.Context) {
		c.String(500, "1")
	})
	router.GET("/:c/:b/:a", func(c *gin.Context) {
		c.String(500, "2")
	})
	router.GET("/:d/:c/:b/:a", func(c *gin.Context) {
		c.String(500, "3")
	})

[2014-10-14 15:21] stensonb opened #137 "undefined: sync.Pool"
This makes me sad:

[code]

[2014-10-16 03:09] #135 closed, assigned to nobody

[2014-10-21 00:17] begizi opened #138 "Gin Equivalent Martini Map"
Does gin have an equivalent to martini's map function?

[2014-10-26 20:24] osiloke opened #140 "Issue with custom CORS header middleware in grouped routes related to #29"
Hi, this doesn't work on a group level i.e when the middleware is attached to a r.group.
When i make an options request which is handled by a cors middleware, it just returns a 404 error.

It however works when the middleware is attached to the main route. I would like to expose some auth headers only for auth end points, so the option of wrapping all routes with Access-Control-Expose-Headers that

[2014-11-01 14:05] mikesaidani opened #143 "Typo in the repository description"
Not a big deal, but, in the description it says :
"Gin is a web framework **for in** Golang. It features...", where it should say : "Gin is a web framework **written in** Golang. It features..." or "Gin is a web framework **for** Golang. It features...".

[2014-11-02 10:22] #143 closed, assigned to javierprovecho

[2014-11-04 22:23] #131 closed, assigned to nobody

[2014-11-08 10:18] train860 opened #145 "LoadHTMLTemplates not work!"
hi!
here is my code.

[code]

here is GetMemberByNick():

[code]

here is my project

![d69c1268-a08b-460a-aa41-87dc246202b9](https://cloud.githubusercontent.com/assets/6874537/4963827/64fd51e2-6730-11e4-9887-a631759f90e2.png)

but,I cannot get the template("/member/:nick" and "/html")

can you help? thanks.

[2014-11-11 01:41] Keyang opened #146 "call of reflect.Value.Elem on struct Value"
In binding.go line 90

[code]

It will throw error since on line 68

[code]

formStruct will never be an interface or ptr on line 90. it will Panic.
change line 90 to:

[code]

it will work properly.
~Keyang

[2014-11-11 07:45] #146 closed, assigned to javierprovecho

[2014-11-12 16:51] mjbonanno opened #147 "AuthRequired"
Setting up an API and I'm very new to Go and Gin.  I am able to return data from each URL until I attempt to integrate `AuthRequired()`

[code]

I'm assuming `AuthRequired` is calling a function.  That function will then return success or fail based off the parameters provided.  When a user is created or logged in, they get a token, that token + email, if found as a matching pair in the DB will gr

[2014-11-14 15:28] xyproto opened #148 "support request: how to deny access gracefully"
Hi,

I've written a middleware package, but I'm having trouble denying access gracefully with gin, without getting either "Error #01: Permission denied! Meta: Operation aborted" or "[GIN] WARNING. Headers were already written!".

Here is the example I'm working on for gin, which uses the permissions package:

https://github.com/xyproto/permissions/blob/master/examples/gin/main.go

Any advise is ap

[2014-11-15 10:32] #148 closed, assigned to javierprovecho

[2014-11-15 14:29] louishust opened #149 "Json not work"
Hi all, I tried JSON with gin, but it does not work!
The html like below:

[code]

The js like below:

[code]

and the gin router function like below:

[code]

When run it, get the following error:

[code]

I'm new to gin and web develop, any idea will be appreciated.

[2014-11-15 20:37] gplume opened #150 "SockJS integration"
Hi There,
I find it hard to integrate a sockjs server (http://godoc.org/gopkg.in/igm/sockjs-go.v2/sockjs) as the handler return an http.Handler type.

Here's the initializer:

[code]

I can't just wrap it in a `func (c *gin.Context)` so I guess there's probably another way..?
Thanks for help.

[2014-11-15 22:59] #150 closed, assigned to javierprovecho

[2014-11-16 04:56] #149 closed, assigned to javierprovecho

[2014-11-16 10:05] #147 closed, assigned to javierprovecho

[2014-11-16 10:09] #137 closed, assigned to javierprovecho

[2014-11-16 13:55] louishust opened #151 "Is there some function to handle session?"
I want to handle with session, such as cookies and so on, is there some function to do this?

[2014-11-17 05:22] #151 closed, assigned to javierprovecho

[2014-11-17 05:27] louishust opened #152 "how to handle context return value?"
Here I come again ^_^

The client post an ajax request to the server, and the server return with different format(html or string) like below:

client ajax:

[code]

server handler:

[code]

But the ajax always run into the error function even if i pass the right username and password("admin"),
Any idea will be appreciated!

[2014-11-17 13:57] #152 closed, assigned to nobody

[2014-11-18 18:22] eldilibra opened #153 "Gin does not support Context for cancellation"
Check this out:
https://blog.golang.org/context

Future versions of Go will quite possibly make Contexts, used for canceling work and passing data around widely branching distributed systems across protocol and machine boundaries, built into the core libraries and/or language. The Go team at Google is pushing for all new code written in the community to use these Context objects so we have interop

[2014-11-18 20:25] jgoodall opened #154 "Access to Router options"
is it possible to set the [Router](https://github.com/julienschmidt/httprouter/blob/master/router.go#L112) options? Specifically, to set `RedirectTrailingSlash`?

[2014-11-19 12:27] ndbroadbent opened #155 "Automatically generate RESTful API documentation with Swagger"
One thing I really like about [go-restful](https://github.com/emicklei/go-restful) is their [built-in Swagger integration](https://github.com/emicklei/go-restful/blob/master/examples/restful-user-service.go). Check out the example project: https://github.com/emicklei/mora#swagger

Some things I really love about Gin is the focus on performance, and overall, it just seems like a much better designe

[2014-11-19 14:10] #154 closed, assigned to javierprovecho

[2014-11-19 17:26] phillipCouto opened #156 "Update SetMode Default Statement"
This is low priority but I figured I would raise it for reference. The default clause in gin.SetMode is missing the statement that TestMode is also supported.
[mode.go#L35](https://github.com/gin-gonic/gin/blob/master/mode.go#L35)

[2014-11-23 06:08] train860 opened #158 "static middleware not work"
I use this middleware:
https://github.com/gin-gonic/contrib/tree/master/static

like this:

r := gin.Default()
r.Use(static.Serve("/assets"))
r.NotFound(static.Serve("/assets"))

but,it's not work!

my project tree
![cd9fac54-3c30-4782-a194-b01ec2e792e7](https://cloud.githubusercontent.com/assets/6874537/5156757/308c91f2-731a-11e4-8faa-86380dfd41e7.png)

[2014-11-24 04:50] peterbe opened #159 "Refresh/restart script"
One thing I like about Martini is that I can use [gin](https://github.com/codegangsta/gin) and [fresh](https://github.com/pilu/fresh).

Can this be done with (this) `gin`?

[2014-11-26 14:12] kokizzu opened #160 "Suggestion: rename the project"
It would be better IMHO if the project renamed into gin-gonic or something else, since there are already "https://github.com/codegangsta/gin" --> tool for autorestart

[2014-11-27 03:53] kokizzu opened #161 "Oauth2 plugin"
Is there oauth2 integration/plugin for gin? (just like github.com/GoIncremental/negroni-oauth2 or github.com/martini-contrib/oauth2)

[2014-11-27 03:55] bruth opened #162 "Binding validate panic due to unexported field"
The struct value I am binding to has an unexported field and it appears to cause `binding.Validate` to panic. Relevant stack below.

[code]

[2014-11-28 10:07] mastrolinux opened #163 "No way to change POST max size"
In the http module usually you can do:

```req.Body = http.MaxBytesReader(rw, req.Body, 5 << 20)```

and have a byte limit on POST request as big as you want. In gin there is no Body so it is very hard to change these settings.

Is there a workaround? Can you implement a POST max size limit configuration?

[2014-12-01 02:33] campadrenalin opened #164 "Engine.Run* methods should return an error"
This is the traditional Go http way of doing things, but why hew to tradition? Because it handles a failure to bind to the specified address in a much cleaner way than the current code, for one thing. I'd much rather not bury the relevant information in a skyscraper of panic traceback data when people try to run my server and have something else on :8080 already.

Example of the Traditional Way, a

[2014-12-01 06:26] kokizzu opened #165 "Ask: How to get and set Cookie from gin.Context?"
How to get and set Cookie from gin.Context?
Also, how to get User-Agent, Client's IP Address?

[2014-12-01 19:35] #165 closed, assigned to nobody

[2014-12-01 22:44] kokizzu opened #166 "Feature request: when rendering inexistent file, show missing file error"
So, instead of showing `runtime error: invalid memory address or nil pointer dereference`, it would be nice to show that `foo.tmpl does not exists` when calling `ctx.HTML`

[2014-12-01 22:48] #166 closed, assigned to nobody

[2014-12-02 01:30] kokizzu opened #167 "Suggestion: integrate with pongo2"
Pongo2 is one of the finest template engine that i've tried.

https://github.com/flosch/pongo2

[2014-12-03 16:35] bestes opened #169 "basic_auth example doesn't work as written"
I had to change, around line 30:

user := c.Get(gin.AuthUserKey).(string)

to

user := c.MustGet(gin.AuthUserKey).(string)

[2014-12-03 16:42] bestes opened #170 "binding example doesn't work as written"
I get :

./binding.go:38: undefined: binding

for the line:

        c.BindWith(&form, binding.Form) // You can also specify which binder to use. We support binding.Form, binding.JSON and binding.XML.

I tried all kinds of things, but couldn't figure this out. One thing I noticed, which seems suspicious, is a comment that says "todo" in binding.go:

var (
        JSON = jsonBinding{}
        XML

[2014-12-07 10:37] stuart-warren opened #171 "Can gin handle binding a time.Time JSON field?"
Hi I'm getting `reflect.Value.Interface: cannot return value obtained from unexported field or method` when posting JSON with a timestamp

[code]

[code]

If I remove the ``binding:"required"`` on Stamp it works again.

[2014-12-08 01:13] ysimonson opened #172 "Custom Error Responses for Binding"
I'm binding models like so:

[code]

If there's invalid input, the request fails, however there's no response body, and the response's content-type is text/plain. How can I customize the response to provide a JSON-based error message?

[2014-12-08 14:50] #172 closed, assigned to nobody

[2014-12-08 16:49] peterbe opened #173 "500 error in post handler not working"
I have something like this:
[code]

When I run this, I get a 200 error code and a blank response body. The console event says:
[code]

I tried `c.String(500, "internal server error")` in a very simple GET handler and that worked.

[2014-12-11 21:12] boboTjones opened #175 "HTMLRender and htmlDebugRender not working"
I appended my issue to #145, but I just made some changes to render.go that "fix the problem I was having." Here is a gist of my modifications:

https://gist.github.com/boboTjones/703c686fbd7e300f0d24

Specifically,

https://gist.github.com/boboTjones/703c686fbd7e300f0d24#file-render-go-L100

[2014-12-12 02:02] #175 closed, assigned to nobody

[2014-12-12 03:55] ysimonson opened #176 "Router returning incorrect HTTP codes"
The router currently returns 404 when there's a matching path, but no matching verb. Instead it should return a 405

[2014-12-14 17:30] rabarar opened #177 "JSON formatting - Feature"
Would be nice to implement JSON render option similar to Martinit's render option that allows for Human-readable JSON Formatting on json output

[2014-12-14 17:35] rabarar opened #178 "RunTLS() Modification Feature"
It would be nice to separate the ListenAndServeTLS() into two steps that would allow more control over starting and stopping server instances.

Maybe something like:
g.ListenTLS()  returns a listener
and
g.Server(listener) to serve the gin Engine handlers

This would allow one to wrap a control channel around a listener to do things like graceful shutdowns/cleanups.

[2014-12-16 16:46] sosedoff opened #180 "Setting headers in middleware chain"
Im currently experimenting with various middleware handlers for gin and noticed
that setting response header after calling `c.Next()` does not work. Here's an example:

[code]

Only `X-Before` header is set when request is complete.
Is it a bug or am i doing something wrong?

[2014-12-16 17:18] jamie-stackhouse opened #181 "JSON Merge Patch - RFC7386 Support"
Gin by default includes helpers for registering a patch handler, what we are currently doing is adopting the RFC7386 for our PATCH handlers. This makes it slightly easier to work with, in that a user simply defines a JSON object, where null is special type meaning unset the value stored here.

[RFC7386](https://tools.ietf.org/html/rfc7386)

Below I've put in some example json, and a example patch

[2014-12-23 07:30] badoet opened #183 "use einhorn to monitor and zero-downtime restart"
can we add einhorn binding on start so that we have zero-downtime restart
see goji for reference.
their einhorn implementation is very beautiful.

[2014-12-26 03:14] DeanThompson opened #184 "Add unsigned int support in binding - Feature."
It would be nice for me if binding supports unsigned int in `setWithProperType` function.

Maybe just needs another case like this:

[code]

[2014-12-28 04:07] tmilewski opened #185 "Still Maintained?"
I've really come to like Gin but – upon looking around – I'm left wondering if it's still being maintained.

[2014-12-28 06:24] sosedoff opened #186 "New release"
@manucorporat Are you planning to release a new version any time soon?

With all things being great the most annoying bug is when i'm trying to start a new server.
If there's another application is listening on the same port gin goes into panic. I know this has been
fixed in master, been waiting for new release for a while.

[2014-12-28 16:02] chriscantu opened #187 "How to return generic system error for run time errors?"
Forgive the n00b question but I didn't see anything documented.  My app is on github here: https://github.com/chriscantu/team-sync

I would like to catch any runtime error in my app and return a generic 500 error with a default message body.  How can I do this with Gin?

[2014-12-29 12:43] #100 closed, assigned to nobody

[2014-12-29 12:43] #115 closed, assigned to nobody

[2014-12-29 13:27] #187 closed, assigned to nobody

[2014-12-29 14:27] #159 closed, assigned to nobody

[2014-12-29 14:30] #180 closed, assigned to nobody

[2015-01-01 13:34] javierprovecho commented on #162
@bruth sorry for delay, I think `Bind()` was originally designed to bind all fields, not just the exported ones. If you think this behaviour is wrong, would you prefer to bind only the exported fields?

[2015-01-01 16:03] javierprovecho commented on #170
@bestes sorry for delay.

I got the example working, however I made a tweak. There can not be two handlers with the same path.

[code]

[2015-01-01 16:04] #170 closed

[2015-01-01 16:08] javierprovecho commented on #185
Closing this issue. We will announce the next release at #186 when available.

[2015-01-01 16:08] #185 closed

[2015-01-01 16:10] #128 closed

[2015-01-01 16:11] #66 closed

[2015-01-01 16:11] #116 closed

[2015-01-01 16:21] javierprovecho commented on #169
@bestes sorry for delay.

Corrected in c2185a129ada89acfd146e806e220f1b2e1c0b74

[2015-01-01 16:21] #169 closed

[2015-01-01 16:45] javierprovecho commented on #164
@campadrenalin sorry for delay.

If I understanded you right, is better to return the 'err' instead of panicking?

[2015-01-01 16:54] javierprovecho commented on #173
@peterbe sorry for delay.

I can not replicate this with the latest commit. Wherever it was, it is fixed now. I have just checked.

[2015-01-01 16:54] #173 closed

[2015-01-01 16:56] javierprovecho commented on #171
I fixed binding, and now it is waiting for review in PR #188 .

[2015-01-01 16:56] #171 closed

[2015-01-01 16:56] javierprovecho commented on #162
I fixed binding, and now it is waiting for review in PR #188 .

[2015-01-01 16:56] #162 closed

[2015-01-01 17:07] bruth commented on #162
Great, thank you.

On Thu, Jan 1, 2015 at 11:57 AM, Javier Provecho Fernandez
<notifications@github.com> wrote:

[2015-01-01 17:19] javierprovecho commented on #176
Thank you @ysimonson

What I see is that it is not an error, but an undeveloped feature. This should be developer on `httprouter` but because how it is made, I don't think it would be possible.

[2015-01-01 18:47] javierprovecho commented on #176
@ysimonson well, when I said it would not be possible, never mind. Check https://github.com/julienschmidt/httprouter/pull/51 . Thank you for discovering this.

[2015-01-02 21:34] gplume opened #189 "response.WriteHeader on hijacked connection"
Hi there,
I have a new bug related to Gin using websockets with either the gorillatoolkit or sockjs (ws emulation).
If the user reload a page or if I use the socket system on more than one page (obviously not on an SPA site) I got this error :

```http: response.WriteHeader on hijacked connection ```

...every time I hit reload. If I do that many times then the socket messages begins to lag, somet

[2015-01-02 22:27] javierprovecho commented on #189
Hello, thank you for reporting this. Can you post your example and use case source code? I'll take a look into it.

As of bypass the Gin Context, you can do it if you modify the engine variable from unexported to exported in Gin source code.

—
Enviado desde Mailbox

On Fri, Jan 2, 2015 at 10:34 PM, gplume <notifications@github.com> wrote:

[2015-01-03 00:44] gplume commented on #189
Although I've tried to reduce both examples (httprouter vs. Gin) at their minimal form it's still too big to post it here as I copy the gorilla long chat example into it so there's no issues with this part of code, how can I send you the files ?

[2015-01-03 03:52] olebedev opened #190 "New useful middleware"
Hi, guys.
I just wrote middleware for gin framework. To serve embedded by [go-bindata ](https://github.com/jteeuwen/go-bindata) static files. See it [here](https://github.com/olebedev/staticbin).
Thoughts?

[2015-01-03 09:53] javierprovecho commented on #176
@ysimonson pull request was merged

[2015-01-03 09:53] #176 closed

[2015-01-03 10:10] javierprovecho commented on #190
Looks great, please submit a PR to [gin-gonic/contrib](https://github.com/gin-gonic/contrib) adding a link to your repo in the `README.md`

[2015-01-03 10:14] javierprovecho commented on #189
Submit a [GitHub Gist](https://gist.github.com/) and post the link here. Better than sending emails. ;)

[2015-01-03 10:52] olebedev commented on #190
@javierprovecho https://github.com/gin-gonic/contrib/pull/15

[2015-01-03 10:52] #190 closed

[2015-01-03 14:41] javierprovecho commented on #158
@train860 sorry for delay

You should be using ' r.Static()' to serve files, now that it is integrated into Gin Framework. I post an example:

[code]
Also, if an issue is related with a middleware from contrib, you should post it next time in that repository.

[2015-01-03 14:41] #158 closed

[2015-01-03 14:43] #136 closed

[2015-01-03 14:44] #111 closed

[2015-01-03 14:49] javierprovecho commented on #108
@RoelVanNyen sorry for the delay

Pretty sure your warning about headers is related because you write to the response before trying to redirect.

[2015-01-03 14:49] #108 closed

[2015-01-03 14:52] #130 closed

[2015-01-03 14:52] #134 closed

[2015-01-03 14:53] #145 closed

[2015-01-03 14:55] javierprovecho commented on #90
@alehano sorry for delay

This goes to contrib: https://github.com/gin-gonic/contrib/issues/9

[2015-01-03 14:55] #90 closed

[2015-01-03 14:56] #109 closed

[2015-01-03 15:00] #113 closed

[2015-01-03 19:13] javierprovecho commented on #20
Sorry for delay. Support for HTTP 405 has been added https://github.com/julienschmidt/httprouter/pull/51 . Closing this issue now.

[2015-01-03 19:13] #20 closed

[2015-01-03 21:21] gplume commented on #189
So I'm Human again :-)
Here’s the gist with minimal examples that does nothing more than connecting through web socket. Reload the page on the browser and watch the terminal console.
Perhaps the Httprouter is less verbose and still see the warning but stay shut ?

Gin based :
https://gist.github.com/gplume/a52e1f0d282920769dec

Httprouter:
https://gist.github.com/gplume/052d86b1e5176c89dc85

Thank

[2015-01-03 22:35] javierprovecho commented on #189
@gplume thank you, I'm already reviewing it. About the warning, httprouter by default does not output anything, but the warning is still there.

[2015-01-03 22:40] gplume commented on #189
@javierprovecho thank you for reviewing so fast (and also for the last week on gin).
How do you make httprouter talk ?

[2015-01-03 23:00] javierprovecho commented on #189
@gplume there is no way rather than using middleware for making httprouter talk, because it uses
[`func ListenAndServe(addr string, handler Handler) error`](http://golang.org/pkg/net/http/#ListenAndServe)

I found why that warning is printed. It is all about how Gorilla's WebSocket is implemented:

However this leaves us with the question about performance and lagging, I'll keep investigating.

[2015-01-03 23:49] gplume commented on #189
So the sockJS use the same Hijacking method because that's what made me found this warning.
Would you like a SockJS Gist too ? (client & server, integrated with a pubSub Go package too)
If I understand well it's just a warning and I must say that the long lagging issue was just with the sockjs implementation, not the gorilla web socket, although my test with that last one was much less extensive.

[2015-01-04 00:01] javierprovecho commented on #189
@gplume some debugging I made using `netstat`:

Here this is executed just after first request.
[code]
This other is after second request.
[code]
(ESTABLECIDO means established, and ESCUCHAR means listening)

And here is the log for Gin after above.
[code]

In my opinion, it is a strange way of reusing context, not sure. Anyway I think it is the only way for this frameworks (Gorilla and so) to wor

[2015-01-04 00:01] #189 closed

[2015-01-04 00:14] javierprovecho commented on #178
@rabarar I finally understanded your request (http://golang.org/src/net/http/server.go?s=55253:55321#L1843) but because of flexibility of Gin, this is more oriented to a package for [gin-gonic/contrib](https://github.com/gin-gonic/contrib). As same as httprouter, Gin's Engine variable is exposed so you can use it anywhere you like to initialize the server. Closing this issue for now.

[2015-01-04 00:14] #178 closed

[2015-01-04 01:16] javierprovecho commented on #167
@kokizzu sorry for delay.

Please take a look at:
+ https://github.com/gin-gonic/gin/pull/71
+ https://github.com/gin-gonic/gin/tree/develop/examples/pluggable_renderer

[2015-01-04 01:16] #167 closed

[2015-01-04 01:38] javierprovecho commented on #161
@kokizzu sorry for delay

You have https://github.com/gin-gonic/contrib/tree/7e5b9ae6856cd129f8f6b4125eef815c5494bf1c/jwt , after that you can extend it.

[2015-01-04 01:38] #161 closed

[2015-01-04 04:46] rabarar commented on #178
Sounds good.

[2015-01-05 14:07] ypapax opened #191 "open index.tmpl: no such file or directory"
I get code from example with [html templates](https://github.com/gin-gonic/gin#html-rendering). I created file `site.go` in folder `/path/to/site` and run it with command `cd /path/to/site; go run site.go`
[code]

It gives error:
[code]

Although I create file `/path/to/site/templates/index.tmpl`.

[2015-01-05 15:15] #191 closed

[2015-01-05 15:16] javierprovecho commented on #191
Also download latest commit from develop.

[2015-01-05 18:29] ysimonson commented on #176
Cool, thanks @javierprovecho !

[2015-01-12 15:34] xia0ta0 opened #192 "How to write router like /:account/:project ?"
Just like  the path of GitHub, github.com/julienschmidt/httprouter  can't support it.
thanks.

[2015-01-13 15:10] tleyden opened #193 "How would I set a certain endpoint to proxy to a different server?"
For example, in my REST api, I want anything destined for the /proxy endpoint to be proxied to another server running on a different ip/port.

Go has `httputil.NewSingleHostReverseProxy` built-in to provide this functionality, but I'm not seeing how I would tell gin to use this for an endpoint.  Any tips?

[2015-01-13 15:26] tleyden commented on #193
It seems like if the `Engine.router` field were exposed, plugging in a httputil.NewSingleHostReverseProxy would be straightforward (as mentioned in https://github.com/gin-gonic/gin/issues/154, it's not exposed)

Or is there a better way?

[2015-01-14 11:30] xia0ta0 commented on #192
https://github.com/dimfeld/httptreemux is better for routing, only slightly slower than httprouter.

[2015-01-14 16:19] vegax87 opened #194 "[Go Get] Undefined sync.Pool in gin.go:44"
I run "go get" command to import Gin-Gonic but there's an error in gin.go, line 44

go get github.com/gin-gonic/gin
../../go/src/github.com/gin-gonic/gin/gin.go:44: undefined: sync.Pool

[2015-01-14 16:22] slimmy commented on #194
What is your `go version`?

[2015-01-14 16:39] vegax87 commented on #194
Solved, I updated my go version to 1.4

[2015-01-14 16:39] #194 closed

[2015-01-17 19:36] Nixarn commented on #191
Doesn't work for me, I get the same problem. Maybe it's an OS issue? I'm on OSX

[2015-01-18 16:32] imZack commented on #191
Same issue here, OS: Ubuntu

[2015-01-19 02:52] bredov commented on #191
@Nixarn, @imZack, make sure that you use `develop` branch of repository.
[code]
Fix was not yet merged into `master` branch.

[2015-01-19 13:27] imZack commented on #191
@bredov Great job! It works.

[2015-01-20 07:33] defia opened #195 "Am I doing something wrong with the template?"
in readme, it says:
####HTML rendering

Using LoadHTMLTemplates()

[code]
[code]

From my understanding, I create a folder names templates in binary's folder, put index.tmpl in the templates folder. And then run binary in its own folder.

But It says cannot find specific file.

If I move index.tmpl to binary's folder, everything's ok.

What's wrong?

[2015-01-20 07:48] defia commented on #195
https://github.com/gin-gonic/gin/issues/119
ok, i've seen this issue.

[2015-01-20 07:48] #195 closed

[2015-01-20 13:15] mvader commented on #195
For now you can use this workaround:
[code]

That snipped does not use the template library but you get the idea.

[2015-01-21 10:33] tomsteele commented on #163
I've done:
[code]

And it has worked.

[2015-01-21 11:56] mastrolinux commented on #163
Will give it a try, thanks.

[2015-01-21 12:03] mastrolinux commented on #163
I think you have the Context just after the POST is submitted but it is not submitted if the size is bigger that the limit. You approach works to decrease the size but not to increase it apparently. I guess the Context is callable inside the request only but after it is done.

[2015-01-21 14:42] #181 closed

[2015-01-22 18:11] webgini commented on #75
can you provide any example , bcz i am not getting how to setup it for all my css , js , images , html files.

[2015-01-24 19:29] matejkramny opened #196 "Static "panic: a Handle is already registered for this path""
Getting similar output to:
[code]

With code:

[code]

I want to mount both `./templates` and `./public` onto the root path.. I understand the implications of file conflicts, however this is possible with Martini (or express-js for that matter).

It seems that registering two file handlers for the same path is impossible (by design). What's the best way to go around this?

Thanks for making Gin! I

[2015-01-24 19:35] matejkramny commented on #196
Similar error happens when using an alternative mount path for the _second_ `r.Static`.

Eg:

[code]

code:

[code]

[2015-01-24 20:02] matejkramny commented on #75
:+1: i'd love an example too.

[2015-01-25 04:30] techjanitor commented on #177
In Martini render this is an option in the initialization struct for the middleware. It just changes Marshal to MarshalIndent:
https://github.com/martini-contrib/render/blob/master/render.go#L126

I agree it would be a nice feature to have with c.JSON

[2015-01-27 08:49] cloudtrends opened #197 "Can not direct output html piece to browser ."
Can not direct output html piece to browser.

[code]

Should allow user write custom header infos , such as `"text/html"`.

[code]
is overrided by `c.String` function.

[2015-01-27 12:34] matejkramny opened #198 "Responding with HTTP 204"
I am having trouble understanding how to respond with HTTP 204 (no content) using `gin.Context`.

Tried `context.JSON(204, nil)` or just `gin.H{}` but both complain that the body is not empty.

[code]

Any help or pointer much appreciated!

Thanks

[2015-01-27 12:38] matejkramny commented on #198
`c.Abort(204)` works but feels very wrong to be calling Abort on a request.

[2015-01-27 12:41] matejkramny commented on #197
The documentation says that using `c.String` sets the Content-Type to `test/plain` so you can't have html code there.

There is a function `c.Html` to render a html file, is this what you're looking for?

[2015-01-27 23:14] cloudtrends commented on #197
yes , c.Html is can do what I want .

But it's too heavy .  I just want to write some simple ( very simple ) html code output to browser .

Can we add c.HtmlString  to gin ?

[2015-01-27 23:25] cloudtrends opened #199 "Is there a way support dynamically to bind http path to handle function ?"
I had use gin in several of my golang apps .

In order to make my app more flexible , I want dynamicall bind http path to handle function , such as

( demo code )

there is a array of http path :   urls_path = [ "/someGet" , "/somePost"  "/somePut" ]

foreach one in urls_path:
     if one == "/someGET" :
               bind(one , getting)
     else if one == "/somePost":
               bind(one, p

[2015-01-28 00:17] matejkramny commented on #197
I see what you mean.

Maybe serve your html from disk? I think gin caches the files so it doesn’t read the file every time..

Matej Kramny

On Tuesday, 27 January 2015 at 11:14 pm, ChunFeng wrote:

[2015-01-28 00:19] matejkramny commented on #199
You can probably do that using regex, or use placeholders `/:some`?

Regex isn't supported in this library i think but placeholders are.

[2015-01-28 01:01] cloudtrends commented on #199
I got your idea !

thanks a lot .

I close the issue .

[2015-01-28 01:01] #199 closed

[2015-01-28 15:56] petard commented on #198
+1

[2015-01-31 10:40] le2014 opened #201 "Are you still in development?"
Why so slow to update?
Are you going to give up this project?

[2015-01-31 10:59] javierprovecho commented on #201
Hello @le2014 and everyone who read this message,

Both the developers of this project, @manucorporat and me, are studying at university. That's why a project we almost developed in summer, now is getting even slower.

As you can see, I tried to release pressure of issues and pull requests in the very last days of the year. But I can't focus 100% on this, because my exams (and @manucorporat too) a

[2015-02-02 16:40] kmulvey opened #203 "expvar support"
when using expvar the router seems to be eating the request to /debug/vars and 404s ... is there a way to get it to continue on to expvar?

http://golang.org/pkg/expvar/

[2015-02-04 13:56] javierprovecho opened #204 "v0.5 release candidate"
Hello everyone,

Just finished my exams and pushed for release candidate a new version.

# Changelog
Here is the changelog:

###Gin 0.5 (Jan 4, 2015)

- [NEW] Content Negotiation
- [FIX] Solved security bug that allow a client to spoof ip
- [FIX] Fix unexported/ignored fields in binding

# Contributors
Here is all the people that helped on it. Please forgive if I forgot someone.

**@andredublin (A

[2015-02-04 13:57] javierprovecho commented on #201
@le2014 please check #204. Thank you in advance.

[2015-02-04 13:57] #201 closed

[2015-02-04 13:58] javierprovecho commented on #186
@sosedoff @rabarar please check #204. Thank you in advance.

[2015-02-04 13:58] #186 closed

[2015-02-04 18:27] redstrike commented on #155
+1, swagger is very useful for API development

[2015-02-04 19:13] matejkramny commented on #155
:+1:

[2015-02-04 22:05] javierprovecho commented on #155
@phalt @redstrike @matejkramny @rogeriomarques @ndbroadbent I'll add support for it with v0.6 in mind. Thank you for submitting this request.

[2015-02-05 03:25] se77en commented on #204
Congrats!

[2015-02-05 03:46] le2014 commented on #201
Thank you!

[2015-02-05 06:32] carr123 opened #205 "panic: wildcard route conflicts with existing children"
[code]
the above two lines conflict, and cause panic.
but it seems no problem.  so, what's wrong with my code ??
thanks.

[2015-02-05 11:33] javierprovecho commented on #205
Hello @carr123 , this is not a problem or issue from Gin, is from httprouter instead because how its made.

I suggest the following:

[code]

[2015-02-05 13:14] jamie-stackhouse commented on #204
Definitely. Hopefully you studied enough for your exams!

[2015-02-05 13:21] jamie-stackhouse commented on #198
We accomplish this by dropping to the gin.ResponseWriter in the context object.

[code]

[2015-02-05 13:28] jamie-stackhouse commented on #177
If this is added, the default should be to not indent the JSON.

[2015-02-05 13:52] itsjamie opened #206 "Logger support for file:linenumber (log.Lshortfile style) in development mode"
It would be nice to integrate into development mode adding the file and linenumber that added an error to  to populate a caller field.

Internal to the log package this is what is used to determine the caller, can't use this with the logging middleware for Gin because it would always report the line inside the Gin logger that does the printf.

[code]

I think it would have to be a change to when y

[2015-02-05 13:52] jamie-stackhouse commented on #206
Tagging #96.

[2015-02-05 17:43] achedeuzot commented on #177
Maybe enable indented JSON in development mode ?

[2015-02-05 18:20] jamie-stackhouse commented on #177
There are times in development though where you will want to test stripped JSON output with gzip turned on so regardless of which .

I think Martini's approach would be ideal at least in our case.

Configuration during setup of Gin. Perhaps SetMode could be extended to also accept a configuration object, this way you can set prod mode, but still enable indented JSON?

[2015-02-05 20:14] redstrike opened #208 "MVC skeleton/examples for Gin"
MVC pattern is the de facto standard for web app. I have tried to implement it with Gin by myself, but it looks naive and maybe too simple.

So, will Gin supports MVC?

[2015-02-05 20:35] matejkramny commented on #208
imho, its up to you to design the application in an MVC way and not Gin's responsibility.

[2015-02-05 20:55] salimane commented on #155
+1

[2015-02-05 21:47] javierprovecho commented on #208
@redstrike, as @matejkramny said, its up to how you do with your project.

Some tips to accomplish this, is to separate the handlers from the main Go file. Also is to create a folder in the root of your project named `templates` or `views` where your `*.tmpl` resides.

Hope it helped.

[2015-02-05 21:55] javierprovecho commented on #206
I like the idea. Better logs are always better if they are more precise. And because of being in development mode, it is not essential to care about performance, not in this case. I'll be looking into it for v0.6.

[2015-02-05 23:35] javierprovecho commented on #177
Hi everyone, I have been looking at this request, and here are my suggestions on how to implement.

- Using variable state in mode.go to output indented JSON only in dev mode.
- Adding a strin
Hi everyone, I have been looking at this request, and here are my suggestions on how to implement.

- Using variable state in mode.go to output indented JSON only in dev mode.
- Adding a string after obj in

[2015-02-06 08:30] redstrike commented on #208
Thanks for your tips. My MVC implementation works as expected, I just wonder if the author of Gin or someone who has better EXP than me, could do better in an idiomatic way of Gin :D

Last week, I got some problems with Gin's template render path. Did you fix them completely in master? https://github.com/gin-gonic/gin/issues/119

[2015-02-06 10:16] javierprovecho commented on #208
@redstrike you are welcome, I'm one of the authors by the way.

v0.5 which is expected for the weekend, joins all changes in the past months.
v0.6 will resolve almost all issues actually open, and is expected in a month.

Thank you for tagging issue 119, I`ll take a look.

[2015-02-06 11:02] akashshinde commented on #75
I am also having some issue getting static html with css,js files,If possible please provide example.

[2015-02-06 11:25] javierprovecho commented on #208
@redstrike did you check the corrected example in [`README.md`](https://github.com/gin-gonic/gin#html-rendering)? I paste it for you here:

[code]
[code]

[2015-02-06 13:44] redstrike commented on #208
That works, but it doesn't work if I do this:
[code]
I don't think below is the correct way to go...
[code]

[2015-02-06 13:57] tnolet commented on #204
@javierprovecho Great news! So, does this fix the issue where JSON fields that are marked as "required" are still being passed as empty instead of failing the request?

[2015-02-06 14:01] jamie-stackhouse commented on #177
My only thought is that adding another type assertion to every call for something that I would argue is useful in a very small percentage of cases isn't the road I would go down. I'd prefer writing for production and handling niceties inside a single if based off configuration.

On one extreme,
I really only see a single way to implement it without affecting performance, and that would be using ta

[2015-02-06 14:07] jamie-stackhouse commented on #177
As well, I'm against this, since supporting indented JSON easily makes the ability to add overhead easy. The worst case I've seen is stripping just whitespace and not even doing gzip saved about ~25% of a 700k JSON document in response size. This was something that was being served to over 300 thousand people, every hour. This change alone saved the company thousands of dollars in CDN bandwidth fe

[2015-02-06 14:25] jamie-stackhouse commented on #153
Location of documentation regarding this has moved.

https://godoc.org/golang.org/x/net/context

The concept of a context that Go has put forward is simply an interface, a heavily documented interface, but one nevertheless, so it is very important that the implementation of this matches the documentation they provide.

I'd be willing to do some work on this on a touch and go basis.

This is a pret

[2015-02-07 07:20] webgini opened #210 "Please provide support for global route."
Hello , i want to have support for global route , i mean suppose i want route that can response if no other route is found. like route.Any("*",handler) . i don't know if there is any functionality like it or not. it would be great.

[2015-02-07 07:25] VJOfficial opened #211 "Gin router functionality is so poor ( i am fan of gin but i have to say , so sorry guys.) , it is meant for creating rest apis , but no native support for CORS handling."
Hello , i seriously having problem handling CORS stuff. there is no detailed routing available , not cors support by default , gin is not usable without these functionality. do something guys.

[2015-02-07 11:53] olebedev commented on #211
@webgini check this out https://github.com/gin-gonic/contrib/blob/master/secure/example/example.go

[2015-02-07 13:32] rogierlommers commented on #75
I'm using this, working great! Please note that you'll have to import `github.com/gin-gonic/contrib/static`

    r := gin.Default()
    r.Use(static.Serve("/", static.LocalFile("html", false)))

[2015-02-07 14:08] javierprovecho commented on #204
@tnolet Not sure what issue do you mean, but v0.5 pushes all changes to master from all past months. I didn't have any issue with JSON required, however before v0.6 almost all open issues will be resolved. If you still have problems with that, please tag here the issue or open a new one. Thank you.

[2015-02-07 14:13] javierprovecho commented on #204
@tnolet @jamie-stackhouse @se77en pushing v0.5 final right now. Closing this issue. Thank you all.

[2015-02-07 14:13] #204 closed

[2015-02-07 17:21] webgini commented on #211
not working :(

[2015-02-07 17:39] webgini commented on #211
![deepinscreenshot20150207230732](https://cloud.githubusercontent.com/assets/5981019/6093035/4d0106b6-af1e-11e4-8edf-554a3143d31a.png)

[2015-02-07 17:41] webgini commented on #211
![deepinscreenshot20150207231110](https://cloud.githubusercontent.com/assets/5981019/6093042/aec46f00-af1e-11e4-86c3-fac4d71a8cec.png)

[2015-02-07 17:43] webgini commented on #211
and i am talking about here is , doing request from different domain , not same domain. and thnks for giving answer.

[2015-02-07 17:50] matejkramny commented on #211
You're getting CORS issue, so i suggest you write some middleware to add the header

[code]

[2015-02-07 18:00] webgini commented on #211
but then i need to define OPTIONS method for every route i define. and that
is not practical solution , that should be inside framework , i guess.
because without defining options method for route 405 error will throw.

On Sat, Feb 7, 2015 at 11:20 PM, Matej Kramny <notifications@github.com>
wrote:

--

[image: --]

Vijay Bambhaniya
[image: http://]about.me/vbambhaniya
<http://about.me/vbambhaniya

[2015-02-07 18:02] matejkramny commented on #211
You don't, the browser does that automatically to check for CORS headers. Its called the 'preflight' request.

[2015-02-07 18:12] webgini commented on #211
i tried it dude. without options handler in server , browser shows error ,
and with handler it works just fine. i am doing it now.

On Sat, Feb 7, 2015 at 11:32 PM, Matej Kramny <notifications@github.com>
wrote:

--

[image: --]

Vijay Bambhaniya
[image: http://]about.me/vbambhaniya
<http://about.me/vbambhaniya?promo=email_sig>

[2015-02-07 22:28] nimolix commented on #211
Add CORS middleware and define following route to enable CORS for every other routes

[code]

[2015-02-08 01:06] achedeuzot commented on #210
I've seen the syntax `route.Any(...)` be used for a route set on all HTTP Verbs, e,g:

    route.Any("/smthg", smthgHandler)
    // being equivalent to
    route.GET("/smthg", smthgHandler)
    route.POST("/smthg", smthgHandler)
    route.PUT("/smthg", smthgHandler)
    route.DELETE("/smthg", smthgHandler)
    route.OPTIONS("/smthg", smthgHandler)
    route.LINK("/smthg", smthgHandler)
    route.U

[2015-02-08 05:00] jamie-stackhouse commented on #211
Gin does not register routes for you. Nor should it, in my opinion. If one wishes to have a slightly more declarative rather than explicit registration, they could easily build a middleware similar to the contrib cors package that determines based upon interface support if it should register an OPTIONS Preflight handler.

[code]

For specific implementation...
If you want to opt-in to supporting C

[2015-02-08 05:04] jamie-stackhouse commented on #210
The router package that Gin uses under the hood, httprouter, supports the exact use case of a handler for requests that are not handled by any other route. I don't know off the bat if it is exposed via Gin.

[2015-02-08 05:12] jamie-stackhouse commented on #192
Why is this not supported with httprouter?

[2015-02-08 05:28] olebedev commented on #192
This s already supported with httprouter and gin. See README.md for details.

[2015-02-08 05:43] jamie-stackhouse commented on #192
I was hoping we could get a response from @xia0ta0 because I was fairly certain httprouter actually benchmarks a lookalike of the Github API in a router shootout.

[2015-02-08 07:09] techjanitor commented on #210
NotFound is already initialized when you use Gin, regardless of middleware:

https://github.com/gin-gonic/gin/blob/develop/gin.go#L52

[2015-02-08 17:04] techjanitor commented on #210
After looking at the code some more I guess the 'global route' can be set by NoRoute:

https://github.com/gin-gonic/gin/blob/master/gin.go#L95

[2015-02-08 17:09] techjanitor commented on #210
So just as an example, you'd use it like this:
[code]

[code]

You get the picture.

[2015-02-09 06:25] techjanitor commented on #198
You can use Data

https://github.com/gin-gonic/gin/blob/master/context.go#L362

http://play.golang.org/p/Y0sDeUcLjv

[code]

[2015-02-09 23:07] thdxr opened #216 "Calling bind multiple times"
I'm trying to call bind multiple times to bind to two different models during the same request.  It only works the first time I call it, it ends up not binding anything the second time. I suspect this is because a buffer is being read and not being reset.  Is there a fix or workaround for this?

[2015-02-10 06:47] #208 closed

[2015-02-10 08:41] javierprovecho commented on #211
@webgini sorry for delay.

Gin uses httprouter engine as routing. It allows that speed because of its incredible optimization.

So why not to use httprouter and use Gin? Gin complements httprouter by adding a great layer of support to middlewares. Like some of the answers before, you can make the api of your dreams, with some custom middlewares.

If we start to add "native" support to all the tech

[2015-02-12 02:41] manucorporat commented on #164
I do not agree with that. I would strongly recommend to restore the `panic()`.

panic() is perfectly fine in Go for initialisation errors or bad internal states (like assertions),  or bad configuration.

Run() and RunTLS() are both shortcuts of `http.ListenAndServe(addr, engine)`.
If you want to handle the error you should call:
[code]

Run() was created to avoid having to write all that code.

[2015-02-12 21:33] begizi commented on #75
Perfect example @rogierlommers! Thanks!

[2015-02-12 22:39] javierprovecho commented on #216
I'll take a look into this, I can't guarantee any ETA just than v0.6.

[2015-02-13 21:44] dmix opened #219 "Documentation for using layout files with templates?"
Most templating (moustache, erb, etc) libraries usually include a way to have a layout template:
[code]
And subpages get injected into the content/yield part of the layout.

Is there documentation or a standard way to use a layout file?

[2015-02-15 08:15] geekgonecrazy commented on #75
This would be awesome if in the readme.  Glad I took a look here before giving up.  Thanks for the middleware!

[2015-02-15 13:05] rogierlommers commented on #75
Have created pull request to update readme: https://github.com/gin-gonic/gin/pull/221

[2015-02-15 16:42] 858806258 opened #222 "when use the sessions, memory leak"
I read this find the reason  https://github.com/gorilla/sessions/commit/44fb592008c2ecfbfc89725a8ae1638711dfa423
sessions use this package github.com/gorilla/context   have some  global variables, the variables never be clear.
the doc of  gorilla/context is here http://www.gorillatoolkit.org/pkg/context
finally!forgive me ,I am not good at Englsih.

[2015-02-16 01:46] geekgonecrazy commented on #75
@rogierlommers perfect!  Much appreciated.  :smile:

[2015-02-19 06:17] techjanitor commented on #219
Well theres no documentation but you can do it like this:

[code]

main.tmpl:
[code]

whatever.tmpl:
[code]

Because it relies on Engine and not Context, it needs to either be directly in the handler or you need to make *Engine a global.

[2015-02-20 02:35] zerkms opened #223 "Is `application/x-www-form-urlencoded` supported at the moment?"
It's not mentioned in the doc block at https://github.com/gin-gonic/gin/blob/master/context.go#L286

And also when I use another product (https://github.com/smira/aptly) that uses `gin` internally I cannot find out how to encode array for application to marshall it properly.

    -H "Content-Type: application/json; charset=utf-8" --data '{"PackageRefs":["Pall test-build 2.3.19-0 e5a407129146e72a"]

[2015-02-20 04:47] techjanitor commented on #223
Yes, for binding:
https://github.com/gin-gonic/gin/blob/3fbac59e588fcc8dbc79e2810b47769a6db95f50/gin.go#L23

I don't know for sure if you can put form data into a slice as you can with JSON.  You could just split the input:

[code]

[code]

[2015-02-20 06:38] zerkms commented on #223
@techjanitor unfortunately the binding structure is not under my control.

And honestly I don't think it's a good idea since the array of strings is semantically more collect for a collection of strings rather than a string with arbitrary separator.

Let's see if any of dev team guys confirm it's a bug (?) and if it will be fixed if so.

[2015-02-20 15:27] SteveParrington opened #225 "Context doesn't have an interface."
Hello! I'm currently working on a library to make writing tests for Gin web services easier. An obstacle in my path is that there is no interface for a Context, I'm creating some test helpers that will create a mocked context so I can fake requests. The lack of an interface makes this frustrating because if I just make my own interface I can't access the HTTP Request without doing a type conversio

[2015-02-20 15:44] SteveParrington commented on #225
I have found an alternative approach that I think is better so I don't actually need the interface anymore, closing.

[2015-02-23 09:47] SedueRey opened #227 "SSL Support"
Hello,

I'm planning to use gin to get an RESTFull API but I don't see how shoud I use Gin to listen HTTPS connections. Is there any tutorial or video or contrib I could see?

Thanks,

[2015-02-23 10:14] matejkramny commented on #227
I suggest you get nginx to listen to https and proxy the request to gin.

Matej Kramny

On Monday, 23 February 2015 at 09:47, Eduardo Rey Jara wrote:

[2015-02-23 10:17] SedueRey commented on #227
Cool!
Same code for both listeners... I'll try. Thanks!

[2015-02-23 10:17] #227 closed

[2015-02-24 19:33] wrunk commented on #205
Thanks @javierprovecho this is helpful (and thanks for this project it is great). I am wondering if httprouter is too simple for mainstream use, and if you guys plan to support other routers like https://github.com/dimfeld/httptreemux ? We have the same problem as carr123 and would prefer to avoid too many wrappers. Thanks.

[2015-02-25 04:25] olebedev commented on #205
@wrunk +1

[2015-02-25 13:50] egeozcan commented on #197
I have the same problem, I need to render a very simple piece of HTML and want to keep enjoying single-file deployments^^ It should be easy to support this, I guess?

[2015-02-27 22:18] donileo commented on #210
@techjanitor i implemented what you're suggesting but the NoRoute function will not call the handlers if the resource is status code 405 = 'Method Not allowed' which happens if a invalid Request such as Post is made to a Get route. I believe the NoRoute should also cover this as to truly make it global.

[2015-02-28 16:13] TrollWarlord opened #228 "Template FuncMap"
I've tried to get a funcmap injected via HTMLTemplate(...) but with no luck using it. Does anyone have any samples?

Thank you

[2015-02-28 21:37] gplume commented on #228
Here it is (not complete but you'll get the idea)

[code]

[2015-03-01 22:14] TrollWarlord commented on #228
The issue is this breaks the c.HTML system? You'd have to actually render the form yourself?

[2015-03-02 17:49] sshikaree opened #229 "Does Gin support regexp in route?"
`router.GET("/year/(?P<year>[0-9]*)", handler)` or even
`router.GET("/year/\\d{0,4}", handler)`
does not work. Thanks!

[2015-03-02 18:03] jbub commented on #229
No it does not. httprouter is using a tree structure to power its routing.

You can read about it here:
https://github.com/julienschmidt/httprouter#how-does-it-work

[2015-03-02 18:39] sshikaree commented on #229
I Get It. Thanks for the answer!

[2015-03-02 18:40] #229 closed

[2015-03-06 07:19] javierprovecho opened #233 "v0.6"
Hello everyone,

This post is intended to notify the postpone of v0.6 release from today until this weekend. I've been working very hard at a local hackathon in the last 48 hours and I need some rest. I'll post changelog here when ready. I've reading all issues, new and existing.

Thank you all.

[2015-03-06 18:58] lgs opened #234 "undefined: sync.Pool"
First time trying and I get the following err.:

<pre>
lsoave@basenode:~$  go get github.com/gin-gonic/gin
# github.com/gin-gonic/gin
go/src/github.com/gin-gonic/gin/gin.go:34: undefined: sync.Pool
</pre>

<pre>
lsoave@basenode:~/test$ go version
go version go1.2 linux/amd64
</pre>

[2015-03-06 18:59] javierprovecho commented on #234
Hello,

Are you using Go 1.2?

Gin is only compatible with Go 1.3 and up.

—
Enviado desde Mailbox

On Fri, Mar 6, 2015 at 7:58 PM, Luca G. Soave <notifications@github.com>
wrote:

[2015-03-06 20:23] lgs commented on #234
@javierprovecho  thanks Javier, upgrading Golang it works

<pre>
lsoave@basenode:~$ go version
go version go1.4.1 linux/amd64

lsoave@basenode:~/test$ go get github.com/gin-gonic/gin

lsoave@basenode:~/test$ go run test.go
[GIN-debug] GET   /                         --> main.func·001 (3 handlers)
[GIN-debug] GET   /ping                     --> main.func·002 (3 handlers)
[GIN-debug] POST  /submit

[2015-03-06 20:23] #234 closed

[2015-03-07 07:31] devalphac commented on #196
I also encountered a similar situation!

/ public
---- / css
-------- / style.css
-------- / app.css
---- / js
------- / app.js

when I leave r.Static ("/ Assets", "./public")

I visit the URL localhost: 8080 / Assets / css
list:
* style.css
* app.css

why?

[2015-03-08 15:03] javierprovecho commented on #177
Well, after looking more extensively intro this, I decided not to implement it. As @jamie-stackhouse many clients (browsers, api fetchers, ...) have indentation plugins. As for default, Gin should be as fast as possible, and that also means to use less bandwidth.

[2015-03-08 15:55] javierprovecho commented on #223
@zerkms sorry for delay

It does support it, because we wrap http.request .

About posting an array with www-form-urlencoded, here is an example for the following query:

## application/json
[code]
## application/x-www-form-urlencoded
[code]

[2015-03-08 15:59] javierprovecho commented on #225
@SteveParrington sorry for delay, I agree with you. Some of the points of Gin, is to make it as flexible as performance is not affected. Submit your PR when ready, and it will be merged after review. Thank you!

[2015-03-08 15:59] #225 closed

[2015-03-08 16:05] javierprovecho commented on #228
@TrollWarlord sorry for delay, Gin's template system is a wrapper of `html/template`. If you need to access all the functions, I suggest to add as external import, and use it directly instead of through Gin. However, I'll look into opening an API for injecting FuncMap.

[2015-03-08 16:05] #228 closed

[2015-03-08 16:24] #219 closed

[2015-03-08 19:05] zerkms commented on #223
And as I mentioned in the initial post - it does not work. The object is not marshalled from this request body.

[2015-03-08 23:12] javierprovecho commented on #210
@donileo it should, but at first view it would require a refractor of the code if gin context is needed, if not, you can use latest update from httprouter and specify a handler for method not allowed through gin wrap. I'll take it into consideration for developing into next version ( > v0.7)

[2015-03-08 23:19] donileo commented on #210
Sounds good.. as a fyi what I did was take a look at your gin.go file and implement an extra method called NoMethod for handling 405 errors. Pretty much a copy and paste implementation of your 404 logic but to handle a 405. So far its working fine though I don't know if it'll pass your tests or if theres anywhere else where making this change will affect.

[2015-03-08 23:20] javierprovecho commented on #210
@donileo if you like, could you make a PR of it? thanks

[2015-03-08 23:22] javierprovecho commented on #223
@zerkms sorry, I'll investigate it, but I think it can be a bug with http request form parsing.

[2015-03-08 23:23] zerkms commented on #223
@javierprovecho yep, I'm sure I could google something from the `http.request`. I just don't have any Go background to provide more technical details...

[2015-03-08 23:25] donileo commented on #210
Sure. working on that right now

[2015-03-08 23:29] javierprovecho commented on #205
@wrunk no plans at the moment, everything of gin is around httprouter, and so speed and performance. Thank you for discovering me httptreeremux, I liked it!, I should compare speed against httprouter, and if it doesn't go so much slower, I think I will give it a try.

Closing this issue.

[2015-03-08 23:29] #205 closed

[2015-03-08 23:32] javierprovecho commented on #184
done in #217

[2015-03-08 23:32] #184 closed

[2015-03-08 23:44] javierprovecho commented on #196
@matejkramny well, those are restrictions of httprouter, and I don't see a way of doing this with handlers. the bad solution is to develop a custom handler to serve both folders.

@devalphac i don't understand you comment. if you map `./public` folder into `/assets` path, it is normal that if you request the path `/assets/css` it shows `style.css` and `app.css`.

[2015-03-08 23:51] matejkramny commented on #196
Thanks for clarifying @javierprovecho

[2015-03-08 23:51] javierprovecho commented on #203
sorry for delay @kmulvey

could you provide an example? thank you

[2015-03-08 23:52] javierprovecho commented on #196
@matejkramny should i close this?

[2015-03-08 23:53] matejkramny commented on #196
if i find a solution i'll post it here.

Thanks

[2015-03-08 23:53] #196 closed

[2015-03-09 00:34] javierprovecho commented on #206
@itsjamie i wasn't able to develop this for v0.6 but i'll keep it in mind.

[2015-03-09 00:53] javierprovecho commented on #193
sorry for delay @tleyden

You can try this:

[code]

You will need to import `"net/http/httputil"` and `"net/url"`

Source: http://stackoverflow.com/questions/21270945/how-to-read-the-response-from-a-newsinglehostreverseproxy

[2015-03-09 00:53] #193 closed

[2015-03-09 00:55] javierprovecho commented on #192
@itsjamie @olebedev closing this, no hope @xia0ta0 will respond

[2015-03-09 00:55] #192 closed

[2015-03-09 01:54] javierprovecho commented on #233
Hello everyone,

# Changelog

### Gin 0.6 (Mar 9, 2015)

- [ADD] Support multipart/form-data
- [ADD] NoMethod handler
- [ADD] Validate sub structures
- [ADD] Support for HTTP Realm Auth
- [FIX] Unsigned integers in binding
- [FIX] Improve color logger

# Contributors
Here is all the people that helped on it. Please forgive if I forgot someone.

**@858806258 (杰哥)**
- Fix typo in example

**@alexand

[2015-03-09 03:15] DeanThompson commented on #184
@javierprovecho thanks very much

[2015-03-09 14:29] tleyden commented on #193
Thanks!

[2015-03-10 07:28] rogierlommers opened #236 "Javascript encodeURIComponent does not match endpoint"
In order to learn Golang, I am building a "[read later](https://github.com/rogierlommers/readinglist-golang)" service. It uses a bookmarlet which sends an urlencoded get-request to my gin-gonic powered golang service. I'm using the endpoint below to add records (urls) to a slice.

	r.GET("/add/:url", func(c *gin.Context) {
		url := c.Params.ByName("url")
		database = AddRecord(database, url)
		c.S

[2015-03-10 13:58] rogierlommers commented on #236
Hmz, could be a bug in Golang?? http://stackoverflow.com/questions/28521723/include-2f-in-golang-http-newrequest/28523549#28523549

[2015-03-10 18:26] jonathonharrell opened #237 "Sending field specific errors"
The error messages in `*gin.Context.Errors` contain strings like "Required title". Is there a way to pull the field name so my API's can easily send back errors like `"errors":[ { "title":"Required" } ]` ? Hoping for a way to do it without assuming I can extract from the string with any consistency

I have something like this currently:

[code]

Which displays something like: `"errors":[ { "Operat

[2015-03-11 21:49] tritonresearch commented on #177
Can you recommend a clean way of adding JSON indentation? Does this mean it has to be done manually before each c.JSON response?

[2015-03-12 07:21] quetz opened #238 "Headers are always written => gives a warning on hijacked connections"
What subj says :) I have websocket handler that manages connection by itself and can't find a way to stop gin from writing headers. It happens in routergroup.go around line 60. context.Writer.WriterHeaderNow()

Is there any workaround, or maybe we need a flag like 'hijacked' in a context struct?

The warning in question is: "http: response.WriteHeader on hijacked connection"

[2015-03-12 18:58] itsjamie commented on #177
The clean way I would propose would be writing a function to handle this, and mimic the c.JSON interface.

[code]

If you don't mind me asking, why do you need to indent your JSON?

[2015-03-13 12:53] tnolet opened #240 "Can it be that JSON Binding is completely broken?"
Ah...disregard this please. Was user error mixed with testing the new v0.6

[2015-03-13 12:55] #240 closed

[2015-03-14 15:41] kjda opened #241 "Templates overwriting each other"
if you have the following templates

templates/index.tmpl
templates/group/index.tmpl

`r.LoadHTMLGlob("templates / ** / *.tmpl")`  will cause the root index.tmpl to be overwritten by group/index.tmpl

this means all your template file names must be globally unique! which looks like a bug

also the following will not work
[code]

[2015-03-16 02:38] hermanjunge commented on #160
[ginkgo](http://onsi.github.io/ginkgo/) is a framework for testing

[2015-03-16 14:08] mrgamer commented on #155
I'm gonna raise the biddings on this issue, Ok for Swagger, but why not RAML?
In my personal experience using both swagger and raml barebone, the latter has a better explained specification and has a more pragmatic approach.

I'll explore what can be done with my limited golang skills, and keep you posted

[2015-03-17 16:44] jinzhe opened #242 "如何连接MYSQL？"
readme好像没有写怎么连接数据库呢

[2015-03-17 22:27] mrgamer commented on #155
One of the main concerns in thinking this feature out, is design this swagger/raml feature producing a base json/raml document that can be _extended_ to let the user exploit the full-feature set of their API specifications.

I hardly seen that in other frameworks, but I'm hoping someone could propose some input regarding this

[2015-03-21 17:21] roosmaa commented on #241
That's how [html/template](http://godoc.org/html/template) package works. If you really want you can manually load the templates (by replicating [parseFiles](https://golang.org/src/html/template/template.go#L326) functionality) and passing them to [SetHTMLTemplate](http://godoc.org/github.com/gin-gonic/gin#Engine.SetHTMLTemplate) function.

I vaguely remember doing something similar several years

[2015-03-21 17:31] roosmaa commented on #96
I wanted to create a new issue, but it seems more appropriate to comment here. I think the default mode shouldn't be *debug* mode, but rather *release* mode.

Currently the mode switching is fairly well hidden and it's very easy to miss. Deploying the app without being aware of this means that the app is deployed in default=*debug* mode. This is fairly bad.

Instead of defaulting to *debug* mode,

[2015-03-23 09:29] elsonwu commented on #242
It's a tiny "web framework", please connect MySQL yourself.

[2015-03-23 10:11] lidashuang commented on #242
github.com/go-sql-driver/mysql

[2015-03-23 16:33] njuettner commented on #155
+1 for swagger support

[2015-03-24 00:47] #242 closed

[2015-03-24 00:49] manucorporat commented on #238
I think this is always fixed here: https://github.com/gin-gonic/gin/commit/251b73fc70c4f75487ec827be7b0c3a3e877e11a

can you confirm?

[2015-03-24 00:52] manucorporat commented on #96
@roosmaa you are probably right, it's very easy to miss that.
I am going to think about that. thanks!

[2015-03-24 01:48] quetz commented on #238
Yeah, that fixes it. Thank you very much.

[2015-03-24 10:47] manucorporat opened #246 "Unit Test effort"
I have started an effort to increase the coverage of unit tests to 100%, in order to make Gin a production ready framework. If anyone is interested to help, please contact me so we can coordinate.

Thanks!
Stay tuned!

[2015-03-26 03:46] manucorporat opened #247 "New input/query API"
I want to provide a better API to get the input parameters from the path, POSTForm and GETForm.

Let's say, we register this route:

[code]

and we expect to receive requests like this:

[code]
- Includes a parameter in the path (**:username**)
- Includes a GET form parameter (**page**)
- Includes a POST form parameter (**email**)

Right now, you would have to do this in order to get the parameter

[2015-03-26 03:53] #238 closed

[2015-03-26 03:56] manucorporat commented on #133
Right now the correct way to do this:

[code]

gin.Context now has:
[code]

[2015-03-26 03:56] #133 closed

[2015-03-26 11:21] itsjamie commented on #211
Optionally you can implement CORS as a middleware if you want. An example implementation is here.. http://github.com/itsjamie/gin-middleware-cors

[2015-03-26 11:23] itsjamie commented on #211
The above is a fork, some of the documentation doesn't match unfortunately.

@manucorpat, perhaps we could talk about bringing it into the contrib repo?

[2015-03-27 02:35] itsjamie commented on #247
@manucorporat, I'd like to make the request that ParseForm is lazily called on the first request that requires it.

[2015-03-27 14:17] manucorporat commented on #247
@itsjamie of course! ParseForm would be lazily called

[2015-03-27 16:12] itsjamie commented on #247
@manucorporat This definitely reduces the amount you need to directly call on the net/http methods.

If you don't mind me asking, what do you feel the cost to the framework is for introducing this functionality?

What is the benefit?

I really like how Gin currently focuses on providing a nice implementation of handling middleware, and provides some convenience method for oft-used functionality th

[2015-03-27 16:16] itsjamie commented on #155
I'm surprised there isn't someone who has created a parser that looks at an AST + attached routes for net/http to generate Swagger/RAML style documentation.

If it isn't a project, perhaps that would be the better method of implementation for this? Rather than having it part of Gin core, if it was a separate binary that scanned a package?

[2015-03-27 16:17] itsjamie commented on #247
Personally, I feel this is right in line with what I feel Gin should accomplish (btw).

[2015-03-27 16:47] mrgamer commented on #155
I think to externalize API documentation, gin.router should be exported (so Router).
Moreso, I think model validation should be expanded before implementing API documentation, since there is a big difference between the vastity of API validation options and gin ones.

[2015-03-27 16:51] DanielHeckrath commented on #203
package expvar registers a handler at /debug/vars when the package is imported. Since gin is calling http.ListenAndServe with it's "catch-all" router, the /debug/vars route is lost.

What you can do, is register your own route to expose expvars like this

[code]

This is a copy of the original expvar handler func, adapted to use the response writer from gins context. You can checkout the original

[2015-03-27 17:04] manucorporat commented on #247
@itsjamieI totally agree with you.

This new API will have 0 overhead, otherwise I would not include it!

- Request handing and router path can not slowed down
- 0 memory allocation policy

Gin focuses in a good balance of performance and convenience. A typical request in httpRouter can be handled in 220ns (in my machine), Gin only adds 30ns of overhead in average.

But as you know, Gin provides a

[2015-03-27 18:18] msoedov commented on #216
Hi guys, I found ~~dirty hack~~ solution how to fix this. But looks like extra memory allocation for ```bytes.NewBuffer(body)``` can leads to a  performance decrease. Any thoughts?
[code]

Test:

[code]

[2015-03-27 18:44] manucorporat commented on #216
how about this approach?

[code]

[2015-03-27 20:51] msoedov commented on #216
It won't work for case when model fields are significantly different i.e
[code]
Is it a real case?

[2015-03-27 23:29] nazwa commented on #216
I agree that binding multiple times should be possible one way or another, even with explicit and manual buffer refresh, since this will be a very infrequent use case. In the meantime, as a workaround, you could just create a 'parent' model that inherits both A and B

[code]
Which, if i remember correctly, should bind nicely all variables. Only issue is that then you end up with all data in one bu

[2015-03-29 02:01] 420303865 opened #248 "Context.Engine 应该为 Context.engine"
Context.Engine 应该为不可导出的 以避免出现以下代码

Edit by @manucorporat:
Context.Engine Should not be exported to avoid the following code:

[code]

[2015-03-29 04:36] manucorporat commented on #248
Can you explain the issue in English? otherwise this issue will be closed.

[2015-03-29 05:07] 420303865 commented on #248
just like v0.1 the Context.Engine is not exported.
it is not necessary.

[2015-03-29 07:16] phrozen commented on #189
I ran into this problem today while checking the same code on Gorilla Toolkit Chat example. Although it works on Go's http server code. Is there a work around using Gin? Like I dunno duplicating the request and response from the context?

[2015-03-30 14:54] oryband commented on #92
@manucorporat @jasonrhansen This should be added to the readme, it isn't stated anywhere.

[2015-03-30 15:37] manucorporat commented on #92
I have plans to improve this feature:  https://github.com/gin-gonic/gin/issues/247

[2015-03-31 15:20] tritonresearch commented on #177
Indeed, given browser plugins for JSON indentation this turned out to not be necessary.

[2015-03-31 15:56] manucorporat commented on #177
The render system in Gin is pluggable, you can create your own render, see the render package.

[code]

Done!

[2015-03-31 16:03] manucorporat commented on #177
https://github.com/gin-gonic/gin/commit/abcc6d9dec17b1fd66f07aa2a0202eda8954dd39

[2015-03-31 19:36] manucorporat opened #249 "Zero Allocation Router"
Because of the release of `echo`, a high performance router that claims to make zero allocations per request, I have decided to show something I have been working on.

Gin will also make zero allocations per request, but! not yet, I am close, this is still a work in progress.

Here are the benchmarks

[code]

stay tuned!!

[2015-03-31 19:39] manucorporat commented on #249
Check out the `performance` branch: https://github.com/gin-gonic/gin/tree/performance

[2015-03-31 21:37] tadeumaia commented on #246
Manu, I would like to help this on this effort. Will be a nice way to learn the framework as we are starting a new go project here and we're thinking about using Gin in a production env.

[2015-03-31 22:22] nazwa commented on #249
Nicely done! It's quite an impressive result, and seems like all it took was removing the external httprouter.

[2015-03-31 22:59] manucorporat commented on #249
Also, I had to modify the HttpRouter in order to take advantage of the sync.Pool used by Gin.

[2015-03-31 23:05] dcu commented on #249
Great job @manucorporat ! I suppose it's compatible with the current version.

[2015-03-31 23:22] manucorporat commented on #249
yes, the external behaviour will not be affected

[2015-04-02 13:40] 01AutoMonkey opened #250 "How do I serve an svg as an image?"
If I go to http://upload.wikimedia.org/wikipedia/commons/7/76/Pagoda.svg I view the svg in the browser as an image, that is I don't see the svg "xml" text but the image itself.

When I serve my svg folder with gin however the svg's are treated as XML file's, how can I change that?

`r.Static("/trees", "./json/svg/")`

[2015-04-02 13:45] 01AutoMonkey commented on #250
Okay so it wasn't gin related, I had to put `xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" version="1.0"` in my svg files and then everything worked

[2015-04-02 13:45] #250 closed

[2015-04-02 17:14] qwertmax commented on #29
has someone successful experience with cors?

[2015-04-02 19:16] jens-a-e commented on #249
:+1: great job indeed! i was just about to switch to echo ;-)
One important thing gin offers is the support for route parameters in groups...

[2015-04-02 21:26] akwiatkowski opened #251 "REST routing, optional params"
Hello.

I wanted to create an rest json api, but I'm not sure is it possible in current version.

There is an empty param in example below.

[code]

I have not pretty workaround:

[code]

Optional params in routing would be quite useful, I think.

[2015-04-02 21:47] nazwa commented on #29
@qwertmax - Super basic approach but works very well.

[code]

[2015-04-03 02:43] qwertmax commented on #29
I'm using smth like this right now.

    func CORSMiddleware() gin.HandlerFunc {
	     return func(c *gin.Context) {
     		     c.Writer.Header().Set("Access-Control-Allow-Origin", "http://domain.com")
	     	     c.Writer.Header().Set("Access-Control-Max-Age", "86400")
		     c.Writer.Header().Set("Access-Control-Allow-Methods", "POST, GET, OPTIONS, PUT, DELETE, UPDATE")
		     c.Writer.Header()

[2015-04-03 19:48] biztos opened #252 "Documentation grammar fix: Middleware, not Middlewares."
Hi there!

I am enjoying my taste of Gin, and thought I would help by pointing out a typo in the documentation.

The plural of "middleware" is not "middlewares" but simply "middleware" -- just like "software."

cheers

-- kf.

[2015-04-05 02:21] gregzuro opened #253 "required binding erratic behavior"
For a json object with all elements as 'required':

If all the items have the initialization value ("" for strings, 0 for ints, etc.) then the bind succeeds... even if some of the items are not provided.

If one or more of the items has a non-init value, then any other item(s) with an init value causes a binding error for the latter item(s).

This is with e2fa89777e344782ef5d31929f095f4589c35dcc (

[2015-04-07 01:13] shrimpywu opened #255 "how to forward all log to a file?"
does gin-gonic has similar API as martini can easily re-direct log to a file
e.g
[code]

[2015-04-07 10:33] manucorporat commented on #156
Hi @phillipCouto, I don't understand what you mean

[2015-04-07 16:45] manucorporat commented on #255
How about this? https://github.com/gin-gonic/gin/commit/6c788a43004f9763178738a2c2f7a6d276fd60d5

[code]

the idea: the logger middleware takes the `gin.DefaultLogFile` as default file.

but you can be even more explicit:

[code]

[2015-04-07 16:51] slimmy commented on #255
I would have a look at http://golang.org/pkg/io/#MultiWriter to enable both logging to the console and file, works really well.

[2015-04-07 16:59] manucorporat commented on #255
you could still use MultiWriter()
[code]

[2015-04-07 18:05] shrimpywu commented on #255
+1 for DefaultWriter

[2015-04-08 01:00] manucorporat commented on #255
ok, it's done!

[2015-04-08 01:00] #255 closed

[2015-04-08 01:11] manucorporat commented on #183
I will work in the feature!

[2015-04-09 11:02] fdelbos opened #257 "Unicode urls"
Hi,

I encounter what I believed may be a bug with unicode urls:
say I have the following route

[code]

If the `:role` param is to be unicode encoded a possible route may be `http://127.0.0.1:53286/%E4%B8%AD%E5%9B%BD` if generated using `url.QueryEscape("中国")` (unicode urls seems to always be escaped but modern browser display them as unicode...)

But when I call a `c.Params.ByName("role")` I do

[2015-04-09 12:20] manucorporat commented on #257
Well, that looks exactly like the correct behaviour.
[code]
should return the unicode version.

In fact it would be a bug if `c.Params.ByName("role")` return `"%E4%B8%AD%E5%9B%BD"` instead of `"中国"`.

[2015-04-09 13:15] fdelbos commented on #257
Ok, I tested and other routers do that as well. So my apologies, you are correct.

It's just that I had trouble wrapping my head around encodings... I ll figure out something.

thanks.

[2015-04-09 13:39] manucorporat commented on #257
ok!

[2015-04-09 13:39] #257 closed

[2015-04-09 15:27] nguyenthenguyen opened #258 "Fix render variable in 'pluggable_renderer' example"
"undefined: render.WriteHeader"
https://github.com/gin-gonic/gin/blob/develop/examples/pluggable_renderer/example_pongo2.go#L47

Can use this?
https://gist.github.com/mopemope/51ea51b7a537a37c0dd5#file-example_pongo2-go-L17

[2015-04-09 15:29] nguyenthenguyen commented on #258
Can use this?
https://gist.github.com/mopemope/51ea51b7a537a37c0dd5#file-example_pongo2-go-L17

[2015-04-09 17:11] #258 closed

[2015-04-11 21:45] cmelbye commented on #153
@manucorporat Could this change please be considered for the version 1.0 API freeze? I love gin and I love net/context, and I would love to see them work together. Gin using net/context instead of its own implementation of context would be a huge step toward a universal context that can work across all packages.

[2015-04-13 12:45] vegai opened #261 "Unable to parse JSON from a GET request using Bind"
c.Bind successfully parses JSON data from the request body if the request method is POST. If request method is GET, that doesn't work, i.e. the body does not get parsed at all.

[2015-04-13 18:05] vinayaknagpal opened #262 "appengine example not working with latest SDK"
When running the appengine example in source tree, I see the following error

http_runtime.py:285] bad runtime process port ['[GIN-debug] GET   /                         --> main79457.func\xc2\xb7001 (1 handlers)\n']

[2015-04-14 07:02] vegai commented on #261
...then again, using the body for anything in a GET request is not exactly philosophically ok according to at least http://stackoverflow.com/questions/978061/http-get-with-request-body -- so perhaps this is fine.

[2015-04-14 07:02] #261 closed

[2015-04-18 13:06] li3p opened #263 "Question: Why gin does not support service injection?"
Due to gin is Martini-like framework, why gin does not support service injection?
Will the service injection slow down gin's performance ?

[2015-04-18 15:20] matejkramny commented on #263
martini uses reflection to achieve this, and i think reflection isn't very fast.

Also point for consistency, as random parameters in functions arent as very readable

[2015-04-19 07:12] oknoorap opened #264 "benchmark using apache bench got [GIN] WARNING. Headers were already written!"
Hello i'm using apache ab -n 1000 -c 10 -t 5 http://localhost:8888/my-page.html

here my codes

[code]

what's wrong with my code?

[2015-04-19 18:18] leedstyh opened #265 "How about a better Recovery()"
Great job on gin.

And, I recommend this better `Recovery()`, which works perfect with `Logger()`

[code]

So we can deal with these error messages in one place!

[2015-04-20 00:55] li3p commented on #263
Thank you for your reply.

[2015-04-20 00:55] #263 closed

[2015-04-20 03:39] 13k commented on #154
what about adding the below?

[code]

and possibly even:

[code]

[2015-04-20 12:46] itsjamie commented on #251
@akwiatkowski, you should be able to write the route as ```/api/meas/:name```.

Inside the route, you can pull the name parameter and split on the last period. You would be able to look for these suffixes then.

I'd likely implement that as a middleware that set the response type in the context for future lookup.

However, if it fits your client (you can reasonable expect them to be able to set he

[2015-04-23 19:29] bfosberry opened #266 "Stable release"
Hi

we are using a custom v0.6 fork with the static service bug fix on top of it, since develop and master seem unstable. Is there a stable gin-gonic hosted branch/tag we can use that contains the latest fixes, or can you tag a stable release?

thanks!

[2015-04-24 03:29] allencloud opened #267 "Can I disable gin's stdout?"
Hi,

Now I am using a lot on gin. And now I wonder if I can disable gin's stdout ?

If there is some , then how?

Thanks.

[2015-04-24 05:57] techjanitor commented on #267
Just initialize gin with New instead of Default. I assume you're talking about the Logger middleware.

[code]

[2015-04-24 06:01] allencloud commented on #267
Yes, I do not hope to use Stdout but Logger middleware instead. Thank you very much.

[2015-04-24 06:02] techjanitor commented on #248
I do not agree with this. Having access to Engine from Context is very useful, specifically for HTML templates. I keep my route handlers in a separate package.

[code]

[2015-04-24 06:06] techjanitor commented on #267
Well the Logger is always going to write to stdout. Unless you redirect the output to a file, or use something like supervisord. If you want to write to a specific file without redirection you'd have to write your own Logger middleware.

[2015-04-24 06:31] 420303865 commented on #248
@techjanitor

the gin provides a SetHTMLTemplate method
in your case
there is an [example](https://github.com/gin-gonic/gin/#html-rendering)

[code]

[2015-04-24 16:14] adred opened #268 "Is there a way I can use index.html under public dir?"
I can't seem to figure out how to serve index.html under public dir which is served using
[code]
My goal is to make it a default template for the index page. I know I can try adding
[code]
but this doesn't work with angular because the delimiters will conflict. I also couldn't find a way to change the default delimiters. I would greatly appreciate it if you could help me guys!

Thanks in advance,

[2015-04-26 13:36] whidbey commented on #107
dont know what's the plan for the image upload .i am trying to do as above and use c.Request.Formfile("image") ,which may not so convinence.

[2015-04-26 15:43] nazwa commented on #107
I use the following stuff, just like @badoet suggested and it works super fine.
[code]

[2015-04-26 16:43] whidbey commented on #107
@nazwa and your settings detail?

[2015-04-26 17:17] tvmaly opened #270 "request for example of database middleware"
Could you provide an examples of using a database connection in middleware?

[2015-04-26 18:54] nazwa commented on #107
Anything you want really. In my case it's
[code]

[2015-04-26 18:59] nazwa commented on #270
It works just like any other database connection. If you have a global variable then you can access it directly or pass it as a parameter into the 'constructor'. This might not compile straight away, but you get the idea.

[code]

[2015-04-26 20:05] tvmaly commented on #270
thank you

[2015-04-26 20:05] #270 closed

[2015-04-27 23:44] adred commented on #268
I guess this is not an issue anymore as I can change the delimiters in angularjs :-)

[2015-04-27 23:44] #268 closed

[2015-04-28 11:28] fwlab commented on #262
Same issue here. It works if deployed (on the production Google App Engine Servers). It does not work on the local server.

[2015-04-28 14:26] whidbey commented on #107
@nazwa thankyou

[2015-04-29 22:45] elliotlings opened #274 "Question: Handling errors"
I'm in the process of writing a REST API which returns JSON. I've found my route handlers can get quite cluttered with error handling. I've been looking at ways I can reduce and simply error handling and would appreciate anyone's opinions or advice on what I've come up with.

I'm following the JSON API standard for error returning, http://jsonapi.org/format/#errors, they contain a bit more than th

[2015-04-30 05:56] techjanitor commented on #274
I have something kind of similar. You can handle errors in your own middleware though, after Next() happens. I wouldn't personally use panic like that.

error types to feed into c.JSON:
https://github.com/techjanitor/pram-get/blob/master/errors/errors.go

my typical error handlers in a controller:
https://github.com/techjanitor/pram-get/blob/master/controllers/index.go#L25-L36
i pass any errors to

[2015-04-30 10:30] elliotlings commented on #274
Thanks for you reply. The way you handle your errors looks better than panicing, also I found, that if I panic I loose the reference to the Error which isn't helpful.

I have created an ErrorMessage like yourself:
[code]
and then call it like such:
[code]

This seems much better. Do you think this looks good? Also, what do you think about the way I am logging the error? I want to keep the logging

[2015-04-30 10:41] nazwa commented on #274
I use a similar, but I suppose more basic approach.

For all user-space errors I simply tell the user what's wrong and forget about it.

[code]

If there is an unexpected situation or server error, I also add it to context:

[code]
Which is then picked up by my error handling middleware:

[code]

It does need a bit of repetition but for small projects it's more than enough :)

[2015-04-30 10:57] elliotlings commented on #274
That looks nice, I was unaware c.Errors worked like that.

I am now doing this:
[code]

A bit of repetition but feels like I'm handling the errors better.

[2015-04-30 11:11] nazwa commented on #274
Yea, this is pretty much the same concept. I was thinking about wrapping errors into a struct rather that `gin.H{"Error": "xxx"}` style thing, but I couldn't find a simple way to fit all use cases. I might looking into replicating what you've done to actually provide more detailed errors.

My main issue is how to condense this:

[code]
Into a single line, but I just cant think of a way to set all

[2015-04-30 12:03] elliotlings commented on #274
Yeh that is the same issue I have now. You could do something like this:

[code]
but it feels a bit wrong passing the context to that function. Ideally, like you say, it would be nicer if you could return from a handler.

[2015-04-30 12:26] elliotlings commented on #274
It may be helpful if there was an addition JSONError func on the context, e.g.

[code]

that would allow us to do something like

[code]

[2015-04-30 14:47] itsjamie opened #276 "Attaching handlers that occur before hitting the muxer"
If we could expose an API method like ```.Before(gin.Handler) ``` that allows a user to wrap the muxer with a handler.

[2015-05-01 01:08] whidbey opened #277 "Context setter function could not deal with int64 but only float64"
[code]
when
[code]

[2015-05-02 12:20] netroby opened #278 "How to easy handle file upload with gin?"
How to easy handle file upload with gin?
can you show us some example?

[2015-05-02 12:50] nazwa commented on #278
This is for images, but the same concept applies for normal files. (can't do backticks on my phone, will fix the formatting later :) )

file, _, err := c.Request.FormFile("file")
x, _, err := image.Decode(file)
// Do something with the image + error handling for above 2
jpeg.Encode(f, file, &settings)

[2015-05-03 10:59] netroby commented on #278
Thanks.

[2015-05-03 10:59] #278 closed

[2015-05-04 06:51] jostyee opened #279 "the Catch-All form should not include the "/" before param"
As the doc said,

[code]

should return value string of **action**, but in fact it returns **/action** with the slash before param string, which is not correctly & inconvenient.

[2015-05-05 13:30] manucorporat commented on #279
which branch are you using?

[2015-05-05 13:53] manucorporat commented on #279
Ok, Gin uses httpRouter.
https://github.com/julienschmidt/httprouter/issues/77

This was already reported and it was marked as an intentional behaviour according to the author.

Since v1, Gin is not longer dependent on httpRouter any more, so I am open to discussion.

[2015-05-05 13:54] nazwa commented on #279
@manucorporat, when do you think you'll be releasing the new super fast router? :)

[2015-05-05 21:40] techjanitor commented on #276
Isn't that essentially how middleware already behaves?

[2015-05-06 03:38] iyee commented on #279
@manucorporat this behaviour is really counterintuitive, please consider removing it in future.

[2015-05-06 10:05] manucorporat commented on #279
@iyee I agree

@julienschmidt says that it is that way because the `/{EMPTY}` also matches, well, then `*action=""`

[code]
[code]

[2015-05-06 10:12] manucorporat commented on #279
I understand the reasons of @julienschmidt but:

You call the car company and talk to their engineers. One of them ask. 'Did this happen on a Friday evening, when it was raining?' You say 'Yes, how do you know?'
The engineer replies.
"Our brakes does not work on rainy Friday evenings. If you REALLY want to brake on a rainy Friday evening, you should also pull the lever under the dash board that is

[2015-05-06 12:00] itsjamie commented on #276
Yes, however I believe the first handler is the routing. Right now, I wrap the returned gin.engine, so that I can modify the request method. I couldn't find a way to do that in the gin API. If it isn't exposed that's fine.

[2015-05-06 14:23] manucorporat commented on #276
what is the purpose? modifying the request before it hits the muxer?

[2015-05-06 14:36] itsjamie commented on #276
Yes.

Currently...

[code]

The Gzip and MethodHandler middlewares are standard http.Handler (http.Handler) style functions that wrap gin before the muxer and gin.context takes over.

MethodHandler is just changing the request method based on the form value _method or X-HTTP-Override-Method, purely for clients that can't send certain/custom HTTP verbs easily.

[2015-05-06 14:38] oryband opened #280 "add support to disabe keepalive"
If gin would've used `http.Server`, I could've just done the following:
[code]
But gin doesn't allow that. So, [how do we accomplish this](https://godoc.org/net/http#Server.SetKeepAlivesEnabled)?

[2015-05-06 14:43] bolshoy commented on #280
:+1:
could be especially useful for scalable REST servers, so single-request connections don't linger.

[2015-05-06 14:47] manucorporat commented on #280
https://github.com/gin-gonic/gin#custom-http-configuration

[code]

[2015-05-06 14:56] oryband commented on #280
@manucorporat amazing and simple. Thanks.

[2015-05-06 14:56] #280 closed

[2015-05-06 14:59] manucorporat commented on #276
@itsjamie I think your code is perfectly fine.

Adding a `.Before()` would be hacky.
- Context.Next() would not work as expected.
- Also it could be confusing for developers, what should they use? Before() or Use()
- Gin will work at different layers of abstraction. HTTP mutex and Proxy?

I think your current code looks clean and represents exactly what you want to do. Adding a `.Before()` could i

[2015-05-06 15:01] itsjamie commented on #276
Sounds good. :)

[2015-05-06 15:01] #276 closed

[2015-05-06 17:17] manucorporat commented on #279
Check out this work in progress: https://github.com/gin-gonic/gin/commit/42e0c82bf4f243ea7342bd9e8baeb76882fc63d4

[2015-05-07 02:41] xuxiangyang opened #281 "More Examples"
Hi, I want to learn gin， but I found that examples provided by gin are too small to tell me how to build a real project with gin.
could gin provided some examples like revel or rails? I think that will help lots of people....

[2015-05-07 10:49] manucorporat commented on #281
yeah! you are right. can you give one example of something you would like to see?

[2015-05-07 11:27] xuxiangyang commented on #281
I think a blog will be ok. MVC，just like rails. I can not write it with gin, you can make the basic directory, write some codes. like posts CURD. I think that I could help you to write the other things, such as comments.

I think we should use gin as api server, so I think we should give a blog with json response

sorry for my English.... I hope I could make a contribution to gin

Thx

[2015-05-07 14:02] manucorporat commented on #277
Hi @whidbey I added unit tests for this issue and everything is working just fine.
https://github.com/gin-gonic/gin/commit/c3915206546a5716bc5e07da57fa29c9d0407412

[code]

[2015-05-07 14:12] nguyener opened #282 "Context.JSON does not work with a list of UDT objects"
Hi,
I tried to write a REST API that returns a list of objects,  If the objects are strings (or any simple built-in objects),  it works fine.  However, if the objects are user-defined-type, Context.JSON returns a list of EMPTY objects.  It does not work when I either passing list as input to the Context.JSON or parsing the list and inserting objects  into gin.H{}

[2015-05-07 14:19] manucorporat commented on #282
can you provide the source code?

[2015-05-07 14:54] manucorporat commented on #274
@elliotlings in my opinion, Gin provides a even better solution!

basically c.Error() helps developers to collect errors! it does not abort the request.
it does not print anything either, it just collect errors! then you can do what ever you want.

then, we have c.Fail() just like c.Error(error) but c.Fail(code, error) stops the request. c.Error() can be called many times in the same request. c.Fa

[2015-05-07 16:05] elliotlings commented on #274
Thanks @manucorporat, that looks really neat. My only issue is that because I am defining errors as variables, e.g.

[code]

I have no way of logging the actual error through use of c.Fail.

I could, however, always do something like such:

[code]

(What would be ideal is a method where I could do something like c.Abort(error, publicError))

[2015-05-07 17:01] nguyener commented on #282
package main

import (
    "fmt"
    "net/http"
    "github.com/gin-gonic/gin"
)

type User struct{
    last string
    first string
}

func getUsers(c *gin.Context) {
        var users = []User{User{"Smith", "John"}, User{"Doe", "Jane"}}
        fmt.Println(users)
        c.JSON(http.StatusOK, users)
    }
}

func main(){
    r := gin.Default()

    r.GET("/users", getUsers)

    r.Run(":8080")
}

[2015-05-07 17:35] manucorporat commented on #274
yes, in fact I will change the API. c.Error will accept an error, not a string any more.

[2015-05-07 17:42] manucorporat commented on #282
Well, that is not a Gin issue. Unexpected fields (lower case) are not included in the JSON.
http://stackoverflow.com/questions/28035784/golang-marshal-unmarshal-json-with-both-exported-and-un-exported-fields

http://blog.golang.org/json-and-go

Use this instead:
[code]

[2015-05-07 17:42] #282 closed

[2015-05-07 17:47] manucorporat commented on #277
@whidbey Can you confirm?

[2015-05-07 17:47] nguyenthenguyen commented on #274
End some response like that?
[code]

[2015-05-07 18:00] nguyenthenguyen commented on #281
Me too! I'm beginner! But I write a blog or simple blog use gin in my api server! This is  [my project!](https://github.com/golang-vietnam/forum/blob/master/cmd/server.go)

[2015-05-07 18:23] nguyener commented on #282
Thanks

On Thu, May 7, 2015 at 10:42 AM, Manu Mtz.-Almeida <notifications@github.com

[2015-05-07 18:57] biorisk opened #283 "HTML templates do not work with contrib/cache"
If I use templates using gin's default approach, e.g., c.HTML(http.StatusOK, "mytemplate", gin.H{ "values": values }), with the in-memory cache from contrib/cache, the page is delivered correctly the first time, but I get an empty page on subsequent requests. However, if I render the template to a string and use c.HTMLString(http.StatusOK, mystring), subsequent requests are delivered correctly (an

[2015-05-07 19:15] manucorporat commented on #274
I will give you more details soon, I am working to improve the error management.

Btw, I posted an issue in Go. https://github.com/golang/go/issues/10748

[2015-05-07 19:19] biorisk commented on #281
More examples for beginners is probably a better use of your time, but I'd appreciate some more advanced examples on middleware. Gin has been great for getting up and running quickly and it has saved my project from disaster. However, after about two months of active development, I'm now starting to run into some problems as I start adding middleware from contrib. I'd like to see examples that ill

[2015-05-07 19:22] nazwa commented on #274
It's definitely a step in the right direction. It's a shame go doesn't allow 'return void' style calls, so even with the above, we are back to square one with 3 lines of code for every error in a handler :D (error + fail + return)

[2015-05-07 20:08] elliotlings commented on #274
Yeh, ideally I need a way to pass the error for debugging, but also a public error to pass to the user (e.g. there may be a database error that I need to know about so I can fix it, but at the same time I don't want to expose that to the user).

I don't think it should dictate the response format so should just accept an interface like the others. Like I say, something like this would be ideal:

[

[2015-05-07 20:48] nazwa commented on #274
I'm with @elliotlings on this. Even to the point where `ErrorAndAbort` would accept 3 parameters - status code, public error and private error.

None of it can be automated too much, as it needs to be up to the user (via middleware) to decide how is that public error then displayed, but a simple separation of internal and public would be super handy.

[2015-05-08 01:44] dariusc93 commented on #264
@oknoorap have you found out the issue? For me, it came down to using the `static.Serve` and to be honest, I cannot get working for the left of me. I had to move over to macaron because i would get this message with a blank page, or i would get a index list on every page along with the content rendered out.

[2015-05-08 04:07] whidbey commented on #277
what i do is:

token["id"]=1; the token is jwt encrypt format.
c.Set("uid",token["id"])
y :=c.MustGet("uid").(int64) false

[2015-05-08 07:01] nguyenthenguyen commented on #274
How about a better `Recovery()`

[2015-05-09 14:27] manucorporat commented on #277
what is the type of `token`? maybe it is a map[string]float64

[2015-05-09 14:42] whidbey commented on #277
the type of it is: Claims    map[string]interface{}
not map[string]float64,but seems it autoly change it?

[2015-05-09 14:48] manucorporat commented on #277
mmmh I am going to write more unit tests.

can you try this?
[code]

[2015-05-09 15:57] whidbey commented on #277
my token is infact token.Claims;

token.Claims["uid"] = token.Claims["uid"].(int64)

when run c.Mustget("uid").(int64),says:

2015/05/09 23:53:36 PANIC: interface conversion: interface is float64, not int64

[2015-05-10 00:00] manucorporat commented on #277
Well... check out the implementation, it is not anything fancy: https://github.com/gin-gonic/gin/blob/develop/context.go#L232-L256

I can not help you without the whole source or a proof of concept code. It should work, I just added use cases and it works as expected.

[2015-05-10 00:57] whidbey commented on #277
the flowing code works..

maybe I am doning something wrong,thank you I will continue to test it.

package main
import(
"fmt"
	"github.com/gin-gonic/gin"
"time"
"log"
)
func Logger() gin.HandlerFunc {
    return func(c *gin.Context) {
        t := time.Now()
	var token map[string]interface{};
	token = map[string]interface{}{};
	token["uid"]=int64(9999);
        // Set example variable
        c.Se

[2015-05-10 00:57] #277 closed

[2015-05-10 01:25] nazwa commented on #267
@allencloud this might be the droid you are looking for:

[code]

Took me weeks before i found it :)

[2015-05-10 23:11] manucorporat commented on #177
@rabarar https://github.com/gin-gonic/gin/blob/3df5dfdb7fe54cbe4c20443ea9f08316b10ae027/context.go#L331-L335

[2015-05-10 23:11] #177 closed

[2015-05-11 07:46] manucorporat commented on #236
Sorry I missed this one. I am investigating it

[2015-05-11 12:18] rogierlommers commented on #236
Yes, a possible workaround (`for this case`) would be to base64 the url and pass that: `javascript:location.href='http://read.lommers.org/add/'+btoa(window.location.href)`

[2015-05-11 12:52] manucorporat commented on #236
great! but it is lame that they can not find a better solution! I close the issue

[2015-05-11 12:52] #236 closed

[2015-05-11 17:14] allencloud commented on #267
Thanks a lot @nazwa . It works perfectly.   :)

[2015-05-12 14:13] mignev opened #284 "undefined: sync.Pool"
This is result of `go get github.com/gin-gonic/gin` on MacOS

→ go get github.com/gin-gonic/gin
# github.com/gin-gonic/gin
code/src/github.com/gin-gonic/gin/gin.go:36: undefined: sync.Pool

[2015-05-12 14:26] bdwilliams commented on #284
What version of Go is installed?

`go version`

I believe that Gin requires 1.3+

[2015-05-12 14:28] mignev commented on #284
Yep my Go installations was old. 1.2.x. Now with the latest version of Go everything is okay! :)

Thanks.

[2015-05-12 14:28] #284 closed

[2015-05-12 17:36] manucorporat opened #285 "New feature! HTTP streaming"
I am experimenting with several new APIs:

[code]

I expect this will help developers to build simple and stable streaming correctly with Go and Gin.

I created a realtime-chat example: https://github.com/gin-gonic/gin/blob/develop/examples/realtime-chat/main.go

The implementation:
https://github.com/gin-gonic/gin/blob/470b7e1010b3ceee8574fda670143f73710a04e5/context.go#L383-L412
https://github.c

[2015-05-12 17:41] manucorporat commented on #285
`c.Stream()` is a general purpose abstraction for streaming, you can stream anything, text, json, a video!
this is NOT websockets, it is a HTML request, the connection is never upgraded.
The objective of streaming is not full-duplex.

`c.SSEvent()` is an implementation of Server-Sent Events! a very cool and simple tool for event-driven streaming. http://www.html5rocks.com/en/tutorials/eventsource/

[2015-05-13 07:49] osiloke opened #286 "Expose group absolutePath"
Hi,
I would like to have access to a groups absolutePath so that i can generate reverse url. Is there any reason why this is not exposed.

Thanks

[2015-05-13 22:04] manucorporat commented on #286
Can you provide a sample code of how you would use `AbsolutePath`?

[2015-05-14 15:09] nazwa opened #287 "Middleware c.next() ignored?"
I came across an interesting issue today. I wrote a super basic authentication middleware, which executes `c.next()` if user is logged in and simply returns when user is not logged in.

However even when I do `return` before `c.next()` the actual handler **still executes**. Is this the expected behavior? If so, why?

[code]

[2015-05-14 18:38] jbrodriguez commented on #264
I also receive this with static.Serve, can't figure it out though. #133 is similar, but was closed by @manucorporat last year.
Maybe this should be revisited.

[2015-05-15 00:30] manucorporat commented on #287
exactly, that c.Next() is pointless, remove it.
c.Next() is used in order to execute code after the Next handlers.

Example:
[code]

[2015-05-15 00:31] manucorporat commented on #287
You have to use Abort() or AbortWithStatus() in order to stop the chain

[2015-05-15 00:33] manucorporat commented on #287
[code]

[2015-05-15 00:35] manucorporat commented on #287
See how the default logger is implemented:
https://github.com/gin-gonic/gin/blob/develop/logger.go#L50-L51

[2015-05-15 00:37] manucorporat commented on #287
Complicated flows tested in the unit tests: https://github.com/gin-gonic/gin/blob/develop/middleware_test.go#L44-L72

[2015-05-15 08:06] nazwa commented on #287
Great, thanks for clarifying it. I still have a feeling that this is not the ideal approach, but at least now I know what's up :)

[2015-05-15 08:06] #287 closed

[2015-05-15 10:31] osiloke commented on #286
Sure,
For example, when i create a group for an auth handler and then decide to get the full url path to a password reset link. Something similar to the following. You will notice that i need absolutepath only in a nested group which gin allows anyway.

main.go
[code]

authHandler.go
[code]

[2015-05-15 12:00] leedstyh opened #288 "Why not use master branch"
godoc.org use master brach, so we always get old docs if you do not update master branch

[2015-05-15 14:45] manucorporat commented on #286
mmmh ok. How about to expose it as BasePath? probably absolute path is misleading

what do you think?

[2015-05-15 15:34] norx85 commented on #264
I have the same problem just using HTML function to render an html template:

    func getRequestTemplateHandler(c *gin.Context) {
	   c.HTML(200, "template.templ.html", gin.H{
		  "Done":     false,
		  "Imported": false,
	   })
    }

[2015-05-15 15:38] manucorporat commented on #264
I am going to review this today. anyway, [GIN] WARNING is just that, a warning.

[2015-05-15 17:04] norx85 commented on #264
Yes it's just a warning, but a warning for every page served can create a serious memory leak after some days in a production environment with thousands of users a day

[2015-05-15 19:08] oknoorap commented on #264
Although this issue only warning, your browser will not renders output immediately, Imagine, if my site has traffic 20k perday, frontend will always waiting logs to be cleared first.

I agree console log display gin warning, but don't show output in console when this warning occured.

[2015-05-16 05:30] dxfeng10 opened #290 "Middlewares will always be executed even if there is response/return in previous middleware"
Middlewares will always be executed even if there is a response in one of the middlewares.

// Gin context code:
[code]
// compare with Martini:
[code]

[2015-05-16 12:21] manucorporat commented on #290
Are you sure this is not an expected behaviour? it sound like an important side effect for writing. Nobody likes side effects.

Robert C. Martin (Clean Code)

thoughts?

[2015-05-16 12:55] nazwa commented on #290
I agree with @manucorporat here, middleware should only break the flow if explicitly asked to. This is quite similar to my question from last week #287.

[2015-05-16 15:34] manucorporat commented on #290
I am thinking about I do not want to close this issue.
and @dxfeng10 may be right... let me explain:

c.JSON
c.XML
c.String

are high level methods for building the response, they should be just called once...

[2015-05-16 21:50] manucorporat commented on #197
@egeozcan @matejkramny @cloudtrends
I am going to remove c.HTMLString() in Gin v1.

- Very dangerous. I do not want developers it is safe to use HTMLString().
- HTML tempting is working great

Solution:
1. Use HTTP templating
2. Use String() + change Content-Type manually. String() will not override your Content-Type!!

[code]
or
[code]

[2015-05-17 00:59] #19 closed

[2015-05-17 01:00] #138 closed

[2015-05-17 01:00] #233 closed

[2015-05-17 10:24] norx85 opened #291 "gin.Context.JSON with a struct as reply always give 500 error"
When i try to use gin.Context.JSON(200, instanceOfAStruct) the server always give a 500 error, as in this example:
[code]

This example give me a 500 error with no message and no log in the console output (even if in gin.DebugMode)

[2015-05-18 01:42] bradrydzewski commented on #285
I've been playing with this the past few days and it is great. The server-sent-event implementation was really simple to get working. I would love to see the `Event.Id` and `Event.Retry` parameters exposed through gin. I ended just using the `sse` library directly in conjunction with the `Stream`, which worked fine as well:

[code]

[2015-05-18 13:38] manucorporat commented on #285
I am redesigning the c.Render() function. c.Render() is the parent of c.JSON, c.XML, c.HTML
right now it was "slow" to use that function, since it uses variadic arguments (compiler inlining and an additional heap allocation is required). Also I used `interface{}` a lot, what was unsafe, due the compiler can not give

I have proposed a new API.

- No variadic
- No heap allocation
- Static typed (yo

[2015-05-18 13:49] manucorporat commented on #285
Another examples:
c.JSON is a shortcut for

[code]

The Gin API is changing a lot right now, but it will be frozen in v1.

https://github.com/gin-gonic/gin/commit/947b53d4a26f24d9842fd1539e8a65fee590a8a8
https://github.com/manucorporat/sse/commit/320b4a6ccac258cfc2479ef91a27505d98c96949

[2015-05-18 14:09] manucorporat opened #292 "New rendering pipeline"
The current `ctx.Render()` is slow, buggy and ugly. It uses variadic arguments in order to be flexible enough. That makes it slow, the compiler can not inline methods with variadic arguments and it requires an additional heap allocation.

Also, the compiler can not verify at compiler time if the types are ok, since everything is a `interface{}`.

The new rendering API introduces:

[code]
[code]
[c

[2015-05-18 14:37] dxfeng10 commented on #290
@manucorporat  yes, not only c.JSON, c.XML, c.String , also the static middleware,  the middlewares after static such as cors,gzip,auth... should not be executed. I think Martini handles this very well. please take a look.

[2015-05-18 14:55] manucorporat commented on #290
cors,gzip,auth middleware are always before the handler. can you give me an use case where it is convenient to abort after rendering?

[2015-05-18 18:45] manucorporat commented on #286
https://github.com/gin-gonic/gin/commit/3066c3575440ea1f5d9a9633ce889c15101eb117

[2015-05-18 18:45] manucorporat commented on #286
@osiloke it's done! https://github.com/gin-gonic/gin/commit/3066c3575440ea1f5d9a9633ce889c15101eb117

[2015-05-18 19:27] manucorporat commented on #153
@cmelbye @eldilibra @itsjamie https://github.com/gin-gonic/gin/commit/f9952b05457b006ff9efd3fe184a9b781e352017

[2015-05-18 19:38] manucorporat commented on #153
This is a direct port of the Google search example provided by the Go Team.
https://blog.golang.org/context/server/server.go

[code]

[2015-05-18 22:39] cmelbye commented on #153
@manucorporat Oh, very cool! I forgot that context.Context was an interface. That's pretty slick!

[2015-05-18 22:52] manucorporat commented on #153
yeah! @cmelbye so the approach is to make gin.Context behave like context.Background + Value.
This allows us to keep the Context size (we do not have to add a pointer to another Background context.

[2015-05-19 10:15] osiloke commented on #286
Sweet, thanks!

[2015-05-19 17:52] dxfeng10 commented on #290
I think
1. middlewares after static should not be executed, cuz file as a response.
2. middlewares or handler after auth should not be executed if auth failed(a json message will be returned/responsed if failed in my custom auth middleware)

[code]

[2015-05-19 18:03] manucorporat commented on #290
I have been thinking about this and asked very good pragmatic and theorical engineers.
The final decision, is
- No side effects
- No magic
- Explicit > Implicit
- Go Idiomatic: be explicit

c.Render(), c.JSON, c.XML and so on... are not going to abort() the handlers chain. Instead a call to `Abort()` is needed.

take the following examples:
[code]

[code]

which one looks more understandable? I wa

[2015-05-19 18:22] manucorporat commented on #290
@dxfeng10 https://github.com/gin-gonic/gin/blob/bb98ec0490306d037e8ca906899d27bc68902c47/auth.go#L56-L59

If you have trouble with Gin, like something is not working or you are not sure, please ask. I am sure I can help.

[2015-05-19 18:22] #290 closed

[2015-05-19 18:56] techjanitor opened #293 "Using http.Handler?"
I'd like to use something like authboss that has its own http.Handler:
https://godoc.org/gopkg.in/authboss.v0#Authboss.NewRouter

With Gorilla Mux you can attach the handler to a routegroup like so:
[code]

I see httprouter has this functionality as well:
http://godoc.org/github.com/julienschmidt/httprouter#Router.Handler

Can you do something similar with Gin? If I just wrapped it in a context wo

[2015-05-19 20:26] manucorporat commented on #293
I just added a Wrap() function to help developers with this problem.
https://github.com/gin-gonic/gin/commit/4f855faef2b0b87b51fe03e71f0e07aea3e45ea3

[code]

[2015-05-19 21:01] manucorporat commented on #293
ok, I am testing a new Any() router that matches the all the standard HTTP methods.
[code]

[2015-05-19 21:07] manucorporat commented on #210
@achedeuzot https://github.com/gin-gonic/gin/commit/53329e46464d83189a9df401ab3882257064c0db

[2015-05-19 21:36] manucorporat commented on #57
@saggit I just added a new helper function `gin.Wrap(http.HandleFunc)`

[code]

[2015-05-19 21:53] techjanitor commented on #293
Cool thanks. I didn't realize you guys had dumped httprouter. ;D

[2015-05-19 22:11] manucorporat commented on #293
@techjanitor v1 is using a modified version of HttpRouter integrated in the repo :)
btw, probably gin.Wrap() does not help you... because I created it for wrapping `http.HandlerFunc`, not `http.Handler`.

How about this?
[code]

[2015-05-19 22:12] manucorporat commented on #293
Since, ab.NewRouter() returns a `http.Handler`, you would use:

[code]

[2015-05-20 01:41] saggit commented on #57
@manucorporat nice work, looks good. i will use it in my next project.

[2015-05-20 01:48] manucorporat commented on #57
@saggit great! check out the implementation, so simple:
https://github.com/gin-gonic/gin/blob/develop/utils.go#L16-L26

[2015-05-20 08:35] manucorporat commented on #283
I am investigating this issue

[2015-05-20 08:37] manucorporat commented on #262
I think this is already fixed in develop branch. App Engine doesn't support fmt.Print(), we changed it to log.Print() some time ago.

[2015-05-20 10:04] manucorporat commented on #288
We are doing tons of API changes. Gin is under heavy development, we have added tons of features, complete suite of unit tests, bug fixes, better API. BUT! gin v1. is very close and it will froze the API.

I want to release a v1.0rc1 this week, we will merge in in master. After this point we will merge into master very frequently, but we will continue working in develop as a normal basis. This all

[2015-05-20 11:01] leedstyh commented on #288
OK, and good to know v1 is coming.

Nice job!

[2015-05-20 11:01] #288 closed

[2015-05-20 11:01] #265 closed

[2015-05-20 11:17] manucorporat commented on #288
Check out the changelog for v1:
https://github.com/gin-gonic/gin/blob/caa75c620153398c334dba46601a92dc9cc00c5d/CHANGELOG.md

[2015-05-20 12:39] manucorporat commented on #291
@norx85 I can not reproduce your problem. could you checkout the `develop` branch and try again?

[2015-05-20 14:56] techjanitor commented on #293
Thank you for implementing this, but maybe they should be named HandlerFunc and Handler? That seems to be a kind of standard in other routing apis, and the current names are kind of ambiguous. It may prevent some questions in the future. ;D

[2015-05-20 15:08] alioygur opened #294 "undefined: sync.Pool"
there is a problem during go get

[code]

[2015-05-20 15:22] manucorporat commented on #294
Gin needs Go 1.3 at least. You are probably using Go 1.2.
sync/pool is part of the standard library.

[2015-05-20 15:22] #294 closed

[2015-05-20 15:27] manucorporat commented on #293
I know... but HandlerFunc and Handler are already taken... also HandleFunc usually means the callback itself. so it would be still confusing.

I chose a short name because most of the people will use it inlined.
[code]

so I didn't want to overload the people's code.
(same idea under the "gin" name)

Anyway this is still open to changes, I am going to reopen the issue, so people can give their 2 c

[2015-05-20 16:00] alioygur commented on #294
okey, thank you

[2015-05-20 21:57] techjanitor commented on #293
Would it be possible to make it a method on RouterGroup? Like

[code]

[code]

[2015-05-20 22:13] ralph327 commented on #293
What about changing WrapH() and WrapF() to NetHandler() and NetHandlerFunc()? This way it's a little more obvious that it's a wrapper for net/http.

[2015-05-21 12:48] alioygur opened #295 "the Recovery() middleware is not catching errors from custom Middlewares"
hi,

i have a custom middleware that validates request. if request is not valid then it throw a panic. but when it throw a panic the Recovery() middleware is not catcing error ?

there is my part of code

[code]

[2015-05-21 15:19] manucorporat commented on #293
@ralph327 maybe... i just don't like `NetHandlerFunc` and `NetHandler` seem too long. and another problem: ~~developers~~ humans usually expect nouns for types and verbs for functions.

@techjanitor I don't really want this to be a "feature", this is just a helper.
In addition, there is another method called `Handle`:
[code]

so addition, something called `Handler` and uses Any() doesn't sound lik

[2015-05-21 16:52] pyros2097 opened #296 "Graceful Restarts?"
How about integrating zero downtime restarts in gin server? Maybe using endless?

https://github.com/fvbock/endless

[2015-05-21 17:28] manucorporat commented on #296
Adding a library like that may opens a new world of issues. I am not considering a built-in support for this right now. Even though, I am interested in `zero downtime restarts`.

If you want to start using `endless` right now, just do this:
[code]

[2015-05-21 18:40] manucorporat commented on #210
@webgini https://github.com/gin-gonic/gin/blob/develop/routergroup.go#L91-L102

[2015-05-21 18:40] #210 closed

[2015-05-21 18:52] manucorporat commented on #248
@techjanitor @420303865 this is a tricky issue. I don't remember why I made context.Engine an exported variable.

@techjanitor you code may looks good, but that is SOO unsafe. you are modifying a global variable inside a request. If your app is configured with `GOMAXPROCS` > 0, then:

[code]

router.HTMLRender should be initialised at the beginning otherwise you should use `c.Render` directly.

[c

[2015-05-21 19:06] techjanitor commented on #248
Ahh interesting, thanks for the info. I didn't think about using c.Render. That might be a good example to put in the readme.

[2015-05-21 19:15] manucorporat commented on #248
yeah! I may rename `c.Engine` to `c.engine`, it is very error-prone.

Question you @techjanitor: why do you try to load the template in each request? I assume it is a very expensive operation.

[2015-05-22 01:32] manucorporat commented on #274
@nguyenthenguyen @nazwa @elliotlings @techjanitor  ok! I just finished a new API for errors.
[code]

but there are much more improvements under the hoods!
`c.Error(error)` as been simplified, now it just takes a `error`, but it is much more powerful:

[code]

by default c.Error() will store the error as `gin.ErrorTypePrivate`

[2015-05-22 01:44] manucorporat commented on #274
Then how to handle the error? easy. you can create a middleware! (Gin will provide a default one)

[code]

[2015-05-22 01:53] manucorporat commented on #274
Or you guys could use the Meta as the public error.

[code]

[2015-05-22 02:50] techjanitor commented on #248
Because i'm a bad programmer ;D

[2015-05-22 03:17] wenyekui opened #297 "What's in a name"
Type `gin.H`  is an alias of `map[stirng]interface{}`, what is `H` named for?  And why is framework named as `gin`?  Very curious.

[2015-05-22 10:06] manucorporat commented on #297
gin.H is used a lot of times, people use it inlined in their codes:
[code]

that's the reason a short name is needed. Even though you don't have to use it.
Why `H`? because it stands for **H**ashmap. I could have named it `gin.M` but... I didn't :)

Gin, it is just that, a name, since there are many `routers`, I can't name it "router", it needs a name! and it had to be short because it is going to

[2015-05-22 10:06] #297 closed

[2015-05-22 15:06] manucorporat commented on #288
@leedstyh Gin v1.0rc1 released and merged in master!
https://github.com/gin-gonic/gin/releases/tag/v1.0rc1

[2015-05-22 16:20] manucorporat commented on #295
I just tried the code (with some modifications): and it works like expected:
[code]

what are you trying to do? you should not use panic for normal flow. panic() should only be used for wrong initialisation configuration and bad internal states (programmer errors).

[2015-05-22 16:22] manucorporat commented on #295
a much better way:
[code]

[2015-05-22 23:08] horechek opened #298 "Overflows int"
Hi!
I can't install package on my ubuntu, x86.
[code]

[2015-05-22 23:37] manucorporat commented on #298
Thanks!

[2015-05-22 23:37] #298 closed

[2015-05-23 00:02] manucorporat commented on #298
Finally fixed here: https://github.com/gin-gonic/gin/commit/2ebb6dcb959b2ff15edaf09b1b94ab9809169026

[2015-05-23 19:53] greivinlopez commented on #262
I have the same issue here.  Hope the new release to be ready soon! :)

[2015-05-23 20:21] manucorporat commented on #262
@greivinlopez Gin v1 was released yesterday :) can you update your version of Gin?

[2015-05-23 22:21] greivinlopez commented on #262
@manucorporat Thank you. Updated to the latest version and the previous problem was solved, now I receive the following error:

ERROR    2015-05-23 22:18:13,402 http_runtime.py:343] bad runtime process port ['[GIN-debug] [WARNING] Running in DEBUG mode! Disable it before going production\n']
ERROR    2015-05-23 22:18:40,537 http_proxy.py:116] bad runtime process port ['[GIN-debug] [WARNING] Runnin

[2015-05-23 22:44] manucorporat commented on #262
Workarounds:
[code]

Fix: looks like we can not use stdout at all... I am not sure how to fix it. I switched from `fmt` to `log` for printing logs, but looks like it is not enough.

[2015-05-23 23:00] manucorporat commented on #262
@greivinlopez https://github.com/gin-gonic/gin/commit/e2adae90033ee85ec093b181089a722a8fa541f1

[2015-05-23 23:03] manucorporat commented on #262
you should use:

[code]

[2015-05-23 23:04] #248 closed

[2015-05-23 23:04] #164 closed

[2015-05-24 00:27] manucorporat commented on #222
this is already fixed! check contrib

[2015-05-24 00:27] #222 closed

[2015-05-24 00:29] manucorporat commented on #241
@kjda @roosmaa I think we can close this issue :)

[2015-05-24 00:29] #241 closed

[2015-05-24 00:31] manucorporat commented on #295
@alioygur

[2015-05-24 00:31] #292 closed

[2015-05-24 00:31] #267 closed

[2015-05-24 00:32] manucorporat commented on #266
@bfosberry we are released the first stable version: https://github.com/gin-gonic/gin/releases/tag/v1.0rc1
tons of improvements, better performance, complete suite of unit tests and the API is frozen

[2015-05-24 00:32] #266 closed

[2015-05-24 00:52] manucorporat commented on #203
@kmulvey @DanielHeckrath Here's the official expvar support for Gin: https://github.com/gin-gonic/contrib/tree/master/expvar
[code]

Request: `http://localhost:8080/debug/vars`

[code]

[2015-05-24 00:52] #203 closed

[2015-05-24 01:04] greivinlopez commented on #262
It works!  Great!.
As this is just for App Engine I think is enough to include the line and comment in the app engine example and point it out in the documentation.

Thank you very much man.
Your project is amazingly fast and I love its simplicity.

[2015-05-24 01:08] manucorporat commented on #264
@oknoorap @norx85
[code]
is acting as a middleware in every single request... which is bad. probable the issue is:
static fails and set status code = 404, then the handle chain continues... and you change it to 200 here:

[code]

I would rewrite the code like this:
[code]

it uses the built-in Static() which is much performant and safe.

[2015-05-24 01:13] manucorporat commented on #12
@alexandernyquist This was fixed a long time ago haha

[2015-05-24 01:13] #12 closed

[2015-05-24 01:16] manucorporat commented on #95
@MattNewberry check out the new validation options: http://godoc.org/gopkg.in/bluesuncorp/validator.v5
Gin now uses that library internally, so you could use:
[code]

how does it sounds?

[2015-05-24 01:18] manucorporat commented on #262
@greivinlopez great! please let me know if any trouble with App Engine! :)

[2015-05-24 01:18] #262 closed

[2015-05-24 01:32] nazwa commented on #262
I know this has been discussed in another issue, but I really believe release mode should be the default setting in gin. Or it should be very very very highlighted in the documentation that people need to explicitly set it before going to production.

[2015-05-24 01:34] bfosberry commented on #266
Fantastic! thanks for following up

[2015-05-24 01:39] manucorporat commented on #262
@nazwa I think "very very very highlighted in the documentation" is a better solution. If release is the default mode, many developers will miss important bugs.

I have included this warning in v1:
https://github.com/gin-gonic/gin/commit/eb91af753db3d2bc6b86eb3ed3f94fac76a67eb4

[2015-05-24 01:42] nazwa commented on #95
Nicely done with the new form validation. I can't test it any time soon, but do you think this will have any noticeable performance impact on simple forms?

[2015-05-24 01:45] nazwa commented on #262
Nice, that should do the job.

[2015-05-24 01:57] manucorporat commented on #95
@nazwa i don't think so, we just added one more branch: `if structField.Kind() == reflect.Struct {`
anyway I just did a performance improvement:
https://github.com/gin-gonic/gin/commit/967e62337a0c63e445c0efe4e36aa423f3983e4f

[2015-05-24 03:13] blockloop opened #301 "Using static with root handler"
[code]

[code]

Any way to solve that? I could prefix `/:slug` with `/post/:slug` but I don't want to do that. I'd like `/static/` to serve static files and `handlePost` to handle everything else.

[2015-05-24 04:24] brettof86 commented on #301
I ended up handling it by removing `rtr.GET("/:slug", handlePost)` and doing the following

[code]

[2015-05-24 05:28] xiegeo opened #302 "RouterGroup.Static returning 404 for index.html"
When using RouterGroup.Static, .../index.html redirect to .../ and .../ returns a 404 error. Even if said file exist.

This is caused by the use of a naive check of the path to see if it is an directory listing: https://github.com/gin-gonic/gin/blob/master/routergroup.go#L141

But net.http redirect .../index.html to .../ and serves .../index.html for .../ when possible: http://golang.org/src/net/h

[2015-05-24 14:07] manucorporat commented on #302
@xiegeo I think I found a perfect solution, but it has a downside.
is it ok if instead of listing the files a return an empty HTML and code=200?

[2015-05-24 14:30] manucorporat commented on #302
Check out this new approach:

[2015-05-24 15:05] manucorporat commented on #302
https://github.com/gin-gonic/gin/commit/98951c44aa637cbee2a17be00931395403bf8001

this takes advantage of `dirList()`, since that method does not change the status code!
https://github.com/golang/go/blob/master/src/net/http/fs.go#L70-L91

[2015-05-24 17:18] leedstyh commented on #247
Will the intelligent one `c.Input.Get()` cause some secure issue like XSS?

[2015-05-24 23:29] manucorporat commented on #247
@leedstyh I dropped this feature because it introduces very complex situations.

[2015-05-25 00:04] xiegeo commented on #302
Thanks, this solves most of what I encountered.

I don't think it can be done without been hacky, as it modifies the behavior of something deep inside the standard library. It's ether a hack, duplicate/re-implement, or push a change to the standard library.

[2015-05-25 13:01] gustavopaes commented on #228
Hello,

I do this:

    // instead of
    // r.LoadHTMLGlob("view/*.tmpl")

    // I do this
    if tmpl, err := template.New("projectViews").Funcs(utils.TemplateHelpers).ParseGlob("view/*.tmpl"); err == nil {
        r.SetHTMLTemplate(tmpl)
    } else {
        panic(err)
    }

But would be nice if I could do this:

    r.LoadHTMLGlob("view/*.tmpl", funcMap)

[2015-05-25 13:20] manucorporat commented on #228
@gustavopaes

[2015-05-25 14:28] alioygur commented on #295
@manucorporat okey, thank you

[2015-05-25 21:47] al3xandru opened #304 "Capturing URL fragments when URL contains :"
I have some URLs in the form `.../u:<param>/...`. I've been trying to figure out if there's a way to capture only the param part (considering the URL matching uses `:` for capturing parameters), but I haven't found a solution. As a temporary solution I'm capturing everything including the `:` but this requires an extra validation on the handler.

[2015-05-25 22:20] manucorporat commented on #304
@al3xandru  you can use:
[code]

[code]

[2015-05-25 22:26] manucorporat commented on #304
@al3xandru the gin router is based in HttpRouter and it is that fast and efficient because of some assumptions, such as: a param starts after "/".

[2015-05-26 01:01] al3xandru commented on #304
1. the `parseParam` approach is interesting, I'll give it a thought.

2. HttpRouter doesn't require `:` to be right after the `/` (e.g. `.../u:param/...` works). It just requires

    1. there is a single parameter in an URL segment (e.g. you cannot do `/:param1:param2/`)
    2. it expects that the presence of `:` and `*` in a route def means the usage of a parameter. (as a side note, afaik `*` is

[2015-05-26 01:01] #304 closed

[2015-05-26 10:33] elliotlings commented on #274
With c.Error will that stop execution or will I need to return void after it?

[2015-05-26 10:44] manucorporat commented on #274
`c.Error()` does not stop execution, it just append an error to `c.Errors`.
you can call c.Error as many times as you want.

Also, retuning void! does not stop the execution, calling return only makes your program jump to the end of the current handler.

If you want stop execution (abort). You should explicitly call Abort(), AbortWithStatus(), or AbortWithError().

Abort() = it only stops the exec

[2015-05-26 15:49] windweller opened #308 "Clone MongoDB session and pass it along the route"
Hi! I'm trying to determine between Gin or Martini. I'm really impressed by Gin's speed and performance, and how easy the APIs are! However, in Martini, people can "clone" the mgo (mongodb driver for Go) session and pass it into the routing service, so I can assume only a minimal number of connection is being established. However it seems that with Gin I can't do this:

[code]

Can someone tell me

[2015-05-26 16:04] manucorporat commented on #308
@windweller Gin does not use reflexion. but it has workaround for most of the use cases.
You could create a middleware:
[code]

[2015-05-26 20:02] windweller commented on #308
Thank you so much!! This is very helpful :)

[2015-05-27 14:23] oryband opened #310 "gin crashes when binding JSON array of objects because of forced validation"
My app receives requests which are JSON arrays of objects. I'm representing these data using slices and `map[string]interface{}`, since the objects can have unknown fields.

I've noticed that latest changes to Gin cause are assuming the binding is using structs only and performing validation on them. This is causing gin to crash if trying to bind on something other than struct, like a slice of map

[2015-05-27 14:27] bolshoy commented on #310
:+1:

[2015-05-27 14:28] slimmy commented on #310
+1 on this. I tried updating gin the other day and this new validator is causing some problems. The main one being that I have a struct with a "required" field on a slice. It's perfectly fine that the slice is empty (in my use case) but I need it to be present in the request. This new validator wont bind the request if the slice is empty.

[2015-05-27 14:39] elliotlings commented on #274
Would this help me simplify this at all?

[code]

err is the internal error which I will log and errDatabase is a public error. ErrorMessage takes an interface and just formats it ready for r.JSON call.

[code]

[2015-05-27 14:44] elliotlings commented on #274
It would be cool if there were 2 more additionals, maybe:

[code]

Which would allow me to do something like this?

[code]

[2015-05-27 15:13] elliotlings commented on #296
I don't think it should be included in the library, it may be confusing for people just getting started with the library and may become an issue during development. I'm currently doing what @manucorporat suggested.

[2015-05-27 15:45] manucorporat commented on #274
@elliotlings I have the responsibility to create something that matches many people use cases.
Sometimes less is more, if I add a shortcut for each particular case, the framework would be massive.

Maybe you should rethink your error management.

c.Error(publicError).Type(ErrorTypePublic)

middleware {
   check error
   if error public {
        render error.code, error
   } error private {

[2015-05-27 16:03] manucorporat commented on #274
@elliotlings
[code]
looks good to me.

c.Error() is a built helper, it is really useful when several things can fail. Remember it is just an array of errors. If you do not need it do not use it.

In my case, several things can fail, so we use c.Error(), then we have a errorMiddleware.
The error middleware takes all the private errors and submit them to [sentry](https://www.getsentry.com) + a log.

[2015-05-27 23:06] kmulvey commented on #246
as would I

[2015-05-28 00:18] Dal-Papa opened #311 "ListenAndServeTLS vanished"
Hello guys,

I've put a comment in some commit you did that basically removed the TLS version of Run.

Here it is :
https://github.com/gin-gonic/gin/commit/b690611c381a2c9765ac7cdbd6588da7714c4790#commitcomment-11397410

Cheers,
Clem DAL PALU.

[2015-05-28 01:03] manucorporat commented on #311
@Dal-Papa oh! shit! you are right. fixed!
https://github.com/gin-gonic/gin/commit/b96f68ce7b9844d4b36cbb992c2f82d770069dbd

[2015-05-28 01:03] #311 closed

[2015-05-28 01:08] #302 closed

[2015-05-28 01:08] #296 closed

[2015-05-28 01:14] manucorporat commented on #301
@brettof86 yeah, it sucks.
Serving for /static or using NoRoute() are possible workarounds.

Once Gin 1.0 golden master is ready, I will try to implement a more flexible router. But there is not plan for complex matching (like gorilla). Gin's new routers has to be as fast as the current one.

We can't just iterate over a list of regex patterns ;)

[2015-05-28 01:34] brettof86 commented on #301
Understandable. I doubt it's this simple but perhaps it could loop non-generic paths first then follow with generic routes. 

— Sent from Mailbox

On Wed, May 27, 2015 at 8:14 PM, Manu Mtz.-Almeida
<notifications@github.com> wrote:

[2015-05-28 02:21] cention-mujibur-rahman opened #313 "Installation having problem Sync.Pool"
Today I was doing command: go get github.com/gin-gonic/gin
#github.com/gin-gonic/gin
 github.com/gin-gonic/gin/gin.go:34:undefined: sync.Pool

[2015-05-28 02:40] larryaasen commented on #310
:+1:

[2015-05-28 13:14] leedstyh commented on #313
Whats your go version? Gin needs Go 1.3 at least

[2015-05-28 15:18] manucorporat commented on #313
@leedstyh is right. sync.Pool was introduced in Go 1.3.
https://github.com/gin-gonic/gin/issues/294

[2015-05-28 15:18] #313 closed

[2015-05-28 19:53] kmulvey opened #314 "not all tests run locally (master)"
see out put of `go test -v` here:
https://gist.github.com/kmulvey/16dc3cc49ef58c5517c6

running in travis seems fine

[2015-05-29 00:37] manucorporat commented on #314
weird....

[2015-05-29 08:25] javierprovecho commented on #314
Can you post your system data? (architecture, OS,  GoLang ver...)

[2015-05-29 11:16] kmulvey commented on #314
Fedora release 21
3.19.7-200.fc21.x86_64
go version go1.4.2 linux/amd64

running an single test also doesnt work but in a different way:

[code]

[2015-05-29 11:23] oryband commented on #310
@manucorporat wdyt? this is kind of a big deal since it broke it suddenly broke our apps.

[2015-05-29 14:34] cention-mujibur-rahman commented on #313
Thank you so much

[2015-05-29 15:21] njuettner opened #315 "RunTLS does not work"
The function RunTLS seems to be broken.

[code]

After building, the application starts and listen

[GIN-debug] [WARNING] Running in DEBUG mode! Disable it before going production
[GIN-debug] GET   /                         --> main.func·001 (3 handlers)
[GIN-debug] Listening and serving HTTPS on 127.0.0.1:5443

I tried it also with a real certificate and a key but unfortunately it won't read them

[2015-05-29 15:43] njuettner commented on #315
Instead of using RunTLS function trying to run http.ListenAndServeTLS directly with an empty key and certificate

[code]
I get the response I expected:

[GIN-debug] [WARNING] Running in DEBUG mode! Disable it before going production
[GIN-debug] GET   /                         --> main.func·001 (3 handlers)
Could not start WebServer

Using a certificate and key which exists in the directory
[code]

[2015-05-29 16:39] bfosberry opened #316 "binding validations cause weird text to be generated"
Unsure if this is a gin issue or an issue with your validator, but:

[code]

Converting to underscores seems to just bulk replace capital letters to underscores

[2015-05-29 18:25] manucorporat commented on #315
it is already fixed in master: https://github.com/gin-gonic/gin/issues/311

[2015-05-29 18:30] njuettner commented on #315
Sorry forgot to mention its not the master branch, its developer branch :)

[2015-05-29 18:54] manucorporat commented on #310
@slimmy @larryaasen @oryband @bolshoy try the fix.

- govalidator does not fit
- this is not a  bluesuncorp/validator bug
- if you want to use govalidator, then use the "valid" tag.

[2015-05-29 19:29] manucorporat commented on #316
@bfosberry I don't understand. can you provide more context?

[2015-05-29 19:32] manucorporat commented on #315
I just merged `master` into `develop`. thanks for the PR but it was already fixed :)

[2015-05-29 20:11] oryband commented on #310
@manucorporat thanks, will check next week and let you know

[2015-05-29 20:30] bfosberry commented on #316
Woah! Nvm, this is something our wonderful codebase is doing. Closing!

[2015-05-29 20:30] #316 closed

[2015-05-30 14:14] manucorporat commented on #301
@brettof86 yeah, anyway I need to recreate the router, httpRouter is pretty much unintelligible...

In the meantime, I have been improving the performance of 404 handling:
https://github.com/gin-gonic/gin/commit/835f66fdc9ce24a3074055b3b801a7f8e101993f
https://github.com/gin-gonic/gin/commit/b7a15d3554756a6ee82e09fc0e1ae78bbaa270ef

[code]

[2015-05-31 11:41] oryband commented on #310
@manucorporat this does fix the problem, but I feel the concept is wrong:
Binding should just perform an unmarshal of the content based on `Content-Type`.

It should not perform implicit validations. In addition, this causes some unnecessary reflections to be executed. This shouldn't affect performance that much, but the key point we chose to use Gin here at Rounds was because Gin is fast - so let

[2015-05-31 13:54] manucorporat commented on #310
@oryband I see your point and I totally agree. The concept of autovalidation was taken from martini, when Gin was created.

I have an idea, how about is the binding package has an associated "validator" that implements a binding.Validator interface.

For backcompatibity purposes I would continue setting this variable to a valid validator.
but you could set:

[code]

how does it sound?

[2015-05-31 14:10] oryband commented on #310
@manucorporat that still leaves us with implicit active validation by default. Maybe go the other way around and set `binding.Validator = nil` by default, and let the developer set it to something else instead?

I feel keeping it like you suggested is confusing and implicit, and instead documenting this in **bold** and hoping people will see it, I think we're better off with turning validation off

[2015-05-31 14:24] manucorporat commented on #310
@oryband in theory we can still make changes. But this change is very dangerous, since there are developers relying in a specified behaviour of Bind() and if we change it, we will be disabling silently everybody's validation. No compiler warning, nothing.

[2015-05-31 14:24] manucorporat commented on #310
@oryband check this out: https://github.com/gin-gonic/gin/commit/fecde9fed68ad71461e90c5477172d5c7fe6fbf4

[2015-05-31 14:38] oryband commented on #310
@manucorporat yeah, I understand the performance won't be hit. I was talking about the concept of Validator to be `= nil` by default, and a non-nil value. That's what is important to me. Are you sure there is no way to do this without serious breakage?

[2015-05-31 14:52] manucorporat commented on #310
@oryband well, it is not really that hard:
 - The validator will not validate anything unless there is a binding:"required" tag.
 - Even though it is a non-nil by default, the validator is lazy initialized so it does not allocate a lot of memory.

I know this is not great for you, but I am sure many people will disagree if I disable it by default. Gin is a very fast framework, right now even faste

[2015-05-31 15:06] oryband commented on #310
@manucorporat ok then. That last suggestion looks good. Thanks for taking the time for explaining and fixing everything! :+1:

[2015-05-31 15:11] manucorporat commented on #310
@oryband it is only merged in master! In fact I like it much more now. It can be disabled very easily, no code is broken and people can use different validators. Thanks for this report!

Question: are you using `c.Bind()` to parse JSON? You could use:
[code]
it may be more efficient (marginally).

[2015-05-31 15:13] #310 closed

[2015-05-31 15:14] bolshoy commented on #310
:+1:  looks good, guys.

[2015-05-31 15:36] nazwa commented on #314
Yup, can confirm I'm seeing the same errors.

`go version go1.4.2 windows/amd64`

[2015-05-31 15:41] manucorporat commented on #314
I guess I know how to fix it... but this should not happen, in fact in my machine all the tests passes...
should we report this to the Go Team? [Assert](github.com/stretchr/testify/assert)?

I think the problem is that some archs have different implementations when comparing two values of different types.

[code]

any other idea?

[2015-05-31 15:43] nazwa commented on #314
I was just writing about this. The problem is in how numbers are represented.

context index is defined as `int8`, but on my x64 system numbers default to int64, so the comparison fails.

Changing the test to `assert.Equal(t, c.index, int8(-1))` fixes it, but it seems like a silly thing to do.

[2015-05-31 15:44] manucorporat commented on #314
@nazwa right! in fact, the assert package we are using has two methods:
[code]

[2015-05-31 15:47] nazwa commented on #314
Not sure what to do about this. The only viable solution would be to update the testing package and check types of all standard types and cast (lol) to their x64 counterparts but that's just asking for more errors.

[2015-05-31 15:48] nazwa commented on #314
Or in the short run, force type casts in all gin tests lol. I might go through them all if I have more time tonight.

[2015-05-31 15:48] oryband commented on #310
@manucorporat excellent. Will think about the `BindJSON` option.
Also, this validation feature should be documented in the `README` and godoc.

[2015-05-31 15:51] manucorporat commented on #310
yeah! I want to spend a complete week rewriting the documentation.

[2015-05-31 15:51] manucorporat commented on #314
@nazwa I just reported it, let's see what they say...
https://github.com/stretchr/testify/issues/174

[2015-05-31 15:55] manucorporat commented on #314
@nazwa let's use int64 for everything hahaha it would be great to fix the root of the problem

[2015-05-31 16:00] manucorporat commented on #314
this is hilarious:
type gin.HandlerFunc func(*gin.Context)

[code]

even the address is the same :laughing:

[2015-05-31 16:15] nazwa commented on #314
https://github.com/golang/go/blob/master/src/reflect/deepequal.go#L141

This is where it fails. I can see the reasoning behind it. If types are different then surely they `can't` match. Reminds me of php and "32" == 32. Are they the same, or not?

Same with your handler function, can a closure be equal to a typed function? Maybe, maybe not :smiley:

[2015-05-31 16:16] manucorporat commented on #314
@nazwa  LOL but... but... why does it work in my machine????

[2015-05-31 16:17] manucorporat commented on #314
@nazwa
[code]

that should work...

[2015-05-31 16:17] nazwa commented on #314
Maybe go compiler inlines all int8, int32 etc on the fly to int32 because they are handled identically on your system?

[2015-05-31 16:19] manucorporat commented on #314
right right! but it still smells like a bug.
i am ok if the system handles it identically... but this is a cross platform high level language, this behaviour looks unacceptable to me...

[2015-05-31 16:24] nazwa commented on #314
Yea, it's a bit frustrating. Let's just switch to node and not worry about any of that stupid typesafety stuff

[2015-05-31 16:26] nazwa commented on #314
Things like `assert.Equal(t, cp.index, AbortIndex)` also fail because AbortIndex is untyped, so it defaults to system spec, while index is again, int8. No idea what to do about that.

PS
I had no idea people still use  32 bit systems haha

[2015-05-31 16:30] manucorporat commented on #314
@nazwa Let's just switch to node and not worry about any of that stupid type safety stuff
hahaha who needs integers when you have floats? hahaha http://greweb.me/2013/01/be-careful-with-js-numbers/

[2015-05-31 16:36] manucorporat commented on #314
this probably fixes some unit tests: https://github.com/gin-gonic/gin/commit/1228b03914ac7ec8f9ba8c17f599863b0e1883ea

[2015-05-31 16:36] nazwa commented on #314
Ok, there is a genuine error on windows.
https://github.com/gin-gonic/gin/blob/master/routes_test.go#L164

Dir is always empty :) But it's to do with the path library hardcoding the "/" separator. I'll report that in a bit.

[2015-05-31 16:38] nazwa commented on #314
Ha! ok, it needs updating in gin - https://github.com/golang/go/issues/7698#issuecomment-66093258

[2015-05-31 16:39] manucorporat commented on #314
nice! thanks. can you try if it works?

[2015-05-31 16:41] nazwa commented on #314
Yup.
import "path/filepath"

`dir, filename := filepath.Split(f.Name())`

[2015-05-31 16:45] manucorporat commented on #314
Fixed: https://github.com/gin-gonic/gin/commit/0d5dc25d39e49efc1ae5a0683562b159c76b184c

[2015-05-31 16:48] nazwa commented on #314
Also: https://github.com/gin-gonic/gin/blob/master/path_test.go#L86

`AllocsPerRun` returns float64, so this needs to be: `assert.Equal(t, allocs, float64(0))`

*(no point in doing a PR just for that one :smile:)*

That solves all fails except for the
[code]

I tried casting it `assert.Equal(t, router.allNoMethod[2], HandlerFunc(middleware0))` but it still fails. Nice one GO!

[2015-05-31 16:51] manucorporat commented on #314
really??? does `assert.Equal(t, router.allNoMethod[2], HandlerFunc(middleware0))` fail?
wow, that's bad!!

I will try to fix all this later, we need to investigate it before committing an issue in golang/go.

[2015-05-31 16:52] nazwa commented on #314
[code]

[2015-05-31 17:13] manucorporat commented on #314
WOW, that DOES NOT make any sense. this remind me one situation when we discovered a bug, and the same day, everything started falling apart. Nothing worked any more haha

[2015-05-31 17:19] nazwa commented on #314
Haha, well, it does work, just shouldn't (at least according to the above :smile:)

[2015-05-31 20:11] manucorporat commented on #314
@nazwa  WTF!!

[code]
[code]

[2015-05-31 20:50] manucorporat commented on #314
@nazwa @kmulvey I think it is fixed: https://github.com/gin-gonic/gin/commit/766493c916ec2e5c63faa42e1425bcd6b598d014

[2015-05-31 20:50] #314 closed

[2015-05-31 20:54] al3xandru opened #320 "Using setHTMLTemplate in each handler?"
Hi,

I'm wondering if using `gin.Context.Engine.setHTMLTemplate` in each handler is the correct/safe way to set up templates? (_nb_: templates that are trying to reuse layout elements and thus using `define` cannot override the `define` blocks so for each handler one needs to load only the specific templates).

[2015-05-31 21:02] manucorporat commented on #320
Context.Engine was removed in Gin v1.0, I recommend you to update as soon as possible. It features tons of performance, security and stability improvements.

Calling setHTMLTemplate from a request is an extremely bad idea since SetHTMLTemplate is not thread safe.

You should initialise all your templates at the beginning:
[code]
or using:
[code]

then just use:
[code]

[2015-05-31 21:06] manucorporat commented on #320
rc1 and rc2
https://github.com/gin-gonic/gin/blob/master/CHANGELOG.md

[2015-05-31 21:14] al3xandru commented on #320
@manucorporat

1. thanks for mentioning that the 1.0 is out. I wasn't aware of that.

2. I might be missing something or doing something very wrong, but I don't really understand how `router.setHTMLTemplate` would work.

Given:

- `base.html`: contains the layout (using `define` and `template`)
- `page1.html`: contains the "components" for a specific page (basically fills the `defines` that are us

[2015-05-31 21:35] manucorporat commented on #320
@al3xandru
router.SetHTMLTemplate() connects your template with c.HTML()

so, you just have to initialize your template give it to gin.

you do not have to use SetHTMLTemplate(), you still can `template.Execute(c.Writer, data)`.
but I do not recommend it, you should architect your website to use a single template object.

Then call ExecuteTemplate("name", "data") which is used by c.HTML().
https:/

[2015-05-31 21:44] al3xandru commented on #320
@manucorporat if I'm reading your answer correctly:

1. I either need to go with a less optimal solution
2. give up using extensible templates and duplicate the common parts across all the different pages to overcome the limitation of `html/template`

(_Note_: I know this can lead to debates, but I really cannot see how a decently sized project can actually use a single template for all the pages.

[2015-05-31 21:51] manucorporat commented on #320
no, you do not have to duplicate it. One Go template can have internally tons of templates. it is like a tree.
[code]

[code]

resources/templates/*

- common.tmpl.html
- header.tmpl.html
- index.tmpl.html
- login.tmpl.html
- etc. etc.

[code]

[2015-05-31 21:53] manucorporat commented on #320
one `*template.Template` means: store all your templates under the same namespace

[2015-05-31 21:55] manucorporat commented on #320
that is already built in *template.Template

[2015-05-31 22:00] al3xandru commented on #320
@manucorporat this only works if there's one and only one 1 definition for each "template"

Please do take a look at https://elithrar.github.io/article/approximating-html-template-inheritance/ and http://www.reddit.com/r/golang/comments/27ls5a/including_htmltemplate_snippets_is_there_a_better/

Meanwhile I'll try to see if the above solution it's something that I can actually do on my side.

[2015-05-31 22:08] manucorporat commented on #320
@al3xandru ok, I have never had problems with the current design.
Page imports header, footer...
and you want:
Base imports Index

- If you really need several templates, like a map templates you can do it directly, avoiding c.HTML() and router.SetHTMLTemplate()

or you can create your own render!! HTML rendering is pluggable: https://github.com/gin-gonic/gin/blob/master/render/html.go#L13-L15

Yo

[2015-05-31 22:19] manucorporat commented on #320
[code]

do you understand? you can create your own render and still use the c.HTML() syntax which is really nice...

[2015-05-31 22:24] manucorporat commented on #320
render.HTML is called by c.Render()

https://github.com/gin-gonic/gin/blob/master/render/html.go#L60-L67

and your HTML is rendered!

[2015-06-01 05:03] al3xandru commented on #320
Thanks for both explaining the current approach and also for the new option. As of this conversation I'm trying to get the default option to work.

[2015-06-01 05:03] #320 closed

[2015-06-01 14:09] manucorporat commented on #320
@al3xandru in my short experience with "templates" I have seen that most of the people try use one instance of *template.Template with multiple templates inside and then they call:

[code]

so, I tried to accommodate the API to the most common use case, but again, I encourage you to keep your current design if it fits better with your requirements.

As I said: you have two options, do not use the

[2015-06-01 16:34] manucorporat commented on #320
@al3xandru I just added the render to the contrib repo:
https://github.com/gin-gonic/contrib/blob/master/renders/multitemplate/multitemplate.go

[code]

[2015-06-01 16:39] #315 closed

[2015-06-01 22:18] windweller commented on #308
I actually restructured my code using this method, however after using `defer reqSession.Close()`, it does not seem like the connection is being closed after the request is finished. This results in every new request opened a new connection to MongoDB, and this is not good.

Do I have to call `c.Abort()` to activated the "deferred" session close?

[2015-06-01 22:59] manucorporat commented on #308
@windweller no, in fact defer ensures that it will be called even if the request crashes.
Abort() only sets a flag... it is idempotent.

1. how do you know the connection is not closed?
2. have you debugged if reqSession.Close() is called?

[code]

let me know your findings.

[2015-06-01 23:08] manucorporat commented on #308
maybe you should use: `session.Clone()` instead of `session.Copy()`. I am not sure...

[2015-06-02 09:00] vinceyuan opened #321 "Supports template files with same name in different folders"
I have 2 template files with the same name. But they are in different folders, e.g. `views/post/index.tmpl` and `views/user/index.tmpl`. (It's common in Rails.) But currently the folder name is not allowed in `context.HTML()`.

[code]

`context.HTML(http.StatusOK, "index.tmpl", gin.H{ "title": "Main website" })` works, but it actually uses `views/user/index.tmpl`, because `router.LoadHTMLGlob("vie

[2015-06-02 10:32] javierprovecho commented on #281
We will release some examples once gin reach stable v1. I'll keep you updated. ;)

[2015-06-02 13:20] manucorporat commented on #321
@vinceyuan  You should read how `*template.Template` works. "post/index.tmpl" will not work either way using Gin or html/template directly.

http://golang.org/pkg/html/template/

[code]

or initialize your template manually then give it to gin:

[code]

Gin does not Implement any template rendering, it use the html rendering template provided by the standard library , , Although , you can use your

[2015-06-02 13:39] vinceyuan commented on #321
@manucorporat Thanks for the reply. You are right. I have known it is not gin's fault at #241 . But many developers who used Rails or Node.js(Express.js) have the habit of organizing templates this way. It's frustrating to see it is not supported when they try gin.

[2015-06-02 13:48] manucorporat commented on #321
@vinceyuan yes, you can: place your template wherever you want:
Load them with a Glob:
[code]

and use the `{{define NAME}}` directive

[code]

you can architect your app whatever you want. Go and Gin are configuration over convention, that means you can do it whatever you want. Ruby on Rails is ([convention of configuration](http://en.wikipedia.org/wiki/Convention_over_configuration)).

Gin and G

[2015-06-02 14:16] vinceyuan commented on #321
@manucorporat Great trick.  Thanks! `{{ define "post/index.tmpl" }}` works!

[2015-06-02 18:30] danielalves opened #323 "Export createTestContext as a test helper"
I'm trying to write tests for my controllers (using Gin, a file that groups route handlers), but I'm not being able to mock gin Contexts. Inside the [context_test.go file](https://github.com/gin-gonic/gin/blob/master/context_test.go), there's a method that does exactly that:

[code]

But it is not exported. I also cannot replicate it because `allocateContext` and Context's `engine` field are unexp

[2015-06-03 07:28] goldalworming opened #326 "gin file structure problem"
I tried to separate router and handler but nothing works

# command-line-arguments
./main.go:23: undefined: statsWorker
./main.go:30: undefined: rateLimit
./main.go:33: undefined: index
./main.go:34: undefined: roomGET
./main.go:35: undefined: roomPOST
./main.go:36: undefined: streamRoom

samples return same error

[2015-06-03 09:55] slimmy commented on #323
I've been meaning to ask this as well. My way of testing my middleware usually looks something like this

[code]

Is this the correct way of testing middleware in gin?

[2015-06-03 11:21] kmulvey opened #327 "is DisableBindValidation() or binding.Validator used?"
I cant find any reference to the function or the variable it sets. Can it be removed or is it something that will be used in the future?

https://github.com/gin-gonic/gin/blob/master/mode.go#L55

[2015-06-03 13:19] manucorporat commented on #326
@goldalworming I don't understand what you are trying to do.
obviously it is not going to work if you remove half of the code.

[2015-06-03 13:20] manucorporat commented on #327
@kmulvey https://github.com/gin-gonic/gin/blob/master/binding/binding.go#L33

I need to document that.

[2015-06-03 13:23] javierprovecho commented on #326
@goldalworming and if you post some code, better than good!

[2015-06-03 13:52] nlamirault opened #328 "httprouter missing in Godeps ?"
There is no link on httprouter [1] in the Godeps file.
[code]

[1]: github.com/julienschmidt/httprouter

[2015-06-03 14:02] slimmy commented on #328
If im not mistaken Gin now includes a modified source of httprouter. If you have a look at https://github.com/gin-gonic/gin/blob/master/tree.go you can see the copyright notice at the top.

Nowhere in the Gin source code is httprouter imported.

[2015-06-03 14:07] nlamirault commented on #328
ok thanks.

[2015-06-03 14:07] #328 closed

[2015-06-03 23:04] manucorporat commented on #328
@slimmy is right

[2015-06-03 23:06] slimmy opened #329 "Performance degradation"
This issue is in response to issue [88](https://github.com/labstack/echo/issues/88) for the micro framework [echo](https://github.com/labstack/echo).

First of all echo is about 8x faster than Gin in that benchmark. Second, Gin went from 69373 ns/op to 412886 ns/op, nearly 6 times slower, what happened?

Since performance is one of the main selling points for Gin I think this is worth discussing.

[2015-06-03 23:24] manucorporat commented on #329
yes, it worths discussing. I am investigating.

[2015-06-03 23:34] slimmy commented on #329
Yeah obviously Gin is more of a full fledged framework than echo but maybe there are some ideas that can be borrowed. Also the drastic slowdown is definitely worth investigating.

[2015-06-03 23:36] manucorporat commented on #329
Right now echo, should be only 10% faster.
BenchmarkEcho_GithubAll	30000	51470 ns/op	0 B/op	0 allocs/op
BenchmarkGin_GithubAll	3000	412886 ns/op	0 B/op	0 allocs/op

is not acceptable.

[2015-06-03 23:41] manucorporat commented on #329
@slimmy  rerformance regression fixed in my local copy
[code]

[2015-06-03 23:48] manucorporat commented on #329
Gin was creating a different tree! for each route!!!

[2015-06-03 23:53] slimmy commented on #329
Well then, should be an easy fix and put the performance right back on track. Good job finding it!

[2015-06-03 23:56] manucorporat commented on #329
https://github.com/gin-gonic/gin/commit/0b043d0886307dc42dde996c3b33b285c9d7342e

what a incredible bug! when I saw it I could not believe the unit tests where passing. In fact it didn't break anything.

[2015-06-04 00:04] kmulvey commented on #327
also, is init() needed? I deleted it and all the tests still pass.  Using print statements I can see it getting called but I couldn't find who calls it.

https://github.com/gin-gonic/gin/blob/master/mode.go#L32

[2015-06-04 00:05] manucorporat commented on #329
@slimmy

[code]

[2015-06-04 00:11] manucorporat commented on #327
init() is called by the runtime. it is very important.
https://golang.org/doc/effective_go.html#init

[2015-06-04 00:11] slimmy commented on #329
Nice, all is back to normal :)

Understandable that the unit tests didn't catch the lazy creation of the root in that case. Maybe it would be wise to run the benchmarks on a more regular interval to catch things like these.

[2015-06-04 00:13] #329 closed

[2015-06-04 00:13] manucorporat commented on #329
@slimmy yes! in fact I am working in my own benchmarking tests. I already wrote some. They tests everything, JSON parsing, rendering, 404 handling... several middlewares

[2015-06-04 00:15] manucorporat commented on #249
@dcu @jens-a-e @nazwa

HEAD of master right now. Don't worry guys, gin is still the fastest! and full featured!
[code]

[2015-06-04 00:17] julienschmidt commented on #249
There will be even more performance improvements in httprouter v2 :wink:

[2015-06-04 00:20] manucorporat commented on #249
hahaha great @julienschmidt! looks like everybody is working in new routers :tada:

[2015-06-04 00:29] julienschmidt commented on #249
Not really "new"... v2 mainly fixes things that did not work properly in v1.
Besides that, there are some further optimizations, which of course can also improve gin's performance.

And one more side-note: The reuse of params only works in the benchmark because the GC does not run during the benchmark. In real applications the params can almost never be reused.

[2015-06-04 00:30] slimmy commented on #329
@manucorporat Sounds promising! It would be cool to have a service that automatically would run benchmarks on each git push and report anomalies etc. Maybe I'll look into that in the future if I get some time over.

[2015-06-04 00:35] manucorporat commented on #249
@julienschmidt

can you elaborate that?

I have already tested Gin is production, and sync.Pool did a really good job. I also deployed it in sse.getgin.io, the Go server was very loaded. and almost the 100% of the contexts were reused.

[2015-06-04 00:51] julienschmidt commented on #249
Might depend on the application then. Your SSE (oh hey.. https://github.com/julienschmidt/sse :smile:) example doesn't seems to do many allocations. When contexts can be reused 1.0x in average, it already pays off to use the sync.Pool.
I did a test with a small website, which does a lot of DB interaction, uses a template engine etc. The httprouter.Params in a sync.Pool could reused below 0.01x in

[2015-06-04 01:25] #291 closed

[2015-06-04 01:28] manucorporat commented on #323
@slimmy I think your code is the correct way. You can not test how a middleware aborts if you are using a fake context.

[2015-06-04 01:32] manucorporat commented on #323
@danielalves I will merge your PR but you should understand the limitations.
createTestContext() was created to test the context itself.

You can not test if the context stops the execution (since there is not a handler chain associated).

[2015-06-04 01:35] manucorporat commented on #323
https://github.com/gin-gonic/gin/blob/master/auth_test.go#L91-L126

[2015-06-04 01:41] manucorporat commented on #323
How about this?

[code]

[2015-06-04 07:48] alehano commented on #293
What about using http.Handler as a middleware?

[2015-06-04 08:48] manucorporat commented on #293
@alehano same thing.

[code]

WrapH Just does:

[code]

[2015-06-04 11:16] manucorporat commented on #329
@slimmy
the benchmarks are already helping to identify places where performance can be improved:

https://github.com/gin-gonic/gin/commit/822b995687fb2ddfe20b8145c1de565428078caa
https://github.com/gin-gonic/gin/commit/70325deb98d3f65551e83147ff11d8c32989a887
https://github.com/gin-gonic/gin/commit/56683d33b1d7cb08b6fa5c0fbc81a595bec7dc65
https://github.com/gin-gonic/gin/commit/835f66fdc9ce24a3074

[2015-06-04 11:27] alehano commented on #293
I have middleware like
[code]

[2015-06-04 11:52] manucorporat commented on #293
@alehano gin has built-in support for middlewares

[2015-06-04 14:16] windweller commented on #308
Hi! Yes it seems like after adding the printing message, defer is being called successfully!

[code]
However, on the mongodb backend, I see this:

[code]

yet this is a direct call without adding it to Gin's middleware:

[code]
This call's code is here:
[code]
I'm trying to figure out what's going on! It makes me think maybe this is a Gin's middleware issue instead of mgo's issue?

[2015-06-04 16:41] manucorporat commented on #308
@windweller who wrote the Connect() method?
it does not make any sense. you are closing the session before returning.

[2015-06-04 17:12] windweller commented on #308
Oh that's just me testing if the `session.Close()` would work or not, it's not in my actual code base, and it's not being used.

[2015-06-04 19:46] manucorporat commented on #308
try Clone() instead of Copy()

[2015-06-04 19:46] manucorporat commented on #308
there is no way it is a Gin bug

[2015-06-04 19:47] manucorporat commented on #308
http://godoc.org/labix.org/v2/mgo#Session.Clone

[2015-06-04 20:04] manucorporat commented on #308
I am going to install mongodb to try to help you

[2015-06-04 20:07] windweller commented on #308
Yeah, I changed it to .Clone() a while back. I don't think it's necessarily a Gin bug....sorry. I really like Gin though!!

Here is my code:
[code]

Here is how it's being hooked up:
[code]

[2015-06-04 20:08] manucorporat commented on #308
@windweller don't worry! I am investigating it!

[2015-06-04 20:08] windweller commented on #308
As I said "calling defer" is being printed out successfully, but the connection did not close. Maybe it's a `mgo`'s problem, but a normal defer session.Close() works.

[2015-06-04 20:21] manucorporat commented on #308
@windweller
I am using
[code]
and it works perfect:

2015-06-04T22:20:44.235+0200 I NETWORK  [initandlisten] connection accepted from 127.0.0.1:58118 #2 (1 connection now open)

[2015-06-04 20:23] windweller commented on #308
Yes, I got the same thing! But that connection is not closed though! If you send 5 requests, it will open 5 connections and none of them is closed (or maybe I'm understanding this wrong...)

[2015-06-04 20:24] manucorporat commented on #308
but, why are you dialling in each request?

[code]
??

[2015-06-04 20:26] manucorporat commented on #308
http://godoc.org/labix.org/v2/mgo#Dial

you are leaking the Dial session, you are creating two sessions each request, and closing one.

[2015-06-04 20:26] manucorporat commented on #308
@windweller
the code I am using:

[code]

[2015-06-04 20:47] #308 closed

[2015-06-04 20:55] danielalves commented on #323
@manucorporat Hey! Ok, I understand the limitations, but it is just what I need. For example, many of my tests look like this:

[2015-06-04 22:48] EtienneR commented on #129
Use this HTML syntax :
[code]

In your Go structure, defined a string array for your checkboxes :
[code]

Your result will be an array like this :
[code]

[2015-06-04 22:51] manucorporat commented on #129
@EtienneR does that really works? it would be interesting to add a unit test for that!

[2015-06-05 11:52] kmlx opened #330 "sse.Event does not implement render.Render (missing Render method)"
[code]

[2015-06-05 14:26] nazwa commented on #330
You have to update gin and all its dependencies. Go get with some parameter :)

[2015-06-05 14:34] manucorporat commented on #330
I had to replace Write() because `Write()` is already "taken" by the io.Writer interface...

[2015-06-05 14:46] kmlx commented on #330
Thanks guys.
[code]
did it for me.

[2015-06-05 14:46] #330 closed

[2015-06-05 19:01] wsantos opened #331 "Performance issue"
I was searching a framework to make the code more clean, But for me this added to much overhead

- julienschmidt/httprouter / recovery middleware / mgo
[code]

- gin / without any middleware
[code]

- Command used to start the server: `GOMAXPROCS=8 go run server.go`

1. Why is gin hitting that much the performance
2. there is anything that I can do to fix it or provide more information ? I really

[2015-06-05 19:18] manucorporat commented on #331
@wsantos Can I see some of the code? are you using New()?

Also, there was an important performance regression this week, it was already fixed: https://github.com/gin-gonic/gin/issues/329

can you verify you are using the last version (HEAD of remote master).

go get -u github.com/gin-gonic/gin

[2015-06-05 19:20] manucorporat commented on #331
Anyway, the tests does not looks the same:

httpRouter was returning non-200
[code]

while Gin, was responding good responses...

[2015-06-05 19:22] manucorporat commented on #331
Also, I can not see the code, but a quick analytics shows that the transfer speed is almost the 10.88MB vs 10.36MB. while the number of requests is completely different. That means: you are serving completely different content.

Your performance analysis does not look good.

[2015-06-05 19:31] manucorporat commented on #331
@wsantos
Gin without any middleware should even faster then HttpRouter.
https://github.com/gin-gonic/gin#benchmarks

otherwise they is a problem that should be fixed!!

[2015-06-05 19:35] nazwa commented on #331
Keep in mind the dev / production mode that everyone keeps forgetting about :)

[2015-06-05 19:38] wsantos commented on #331
@manucorporat where is the corrected benchmark for  julienschmidt/httprouter / recovery middleware / mgo, I forgot to add the `Accept` Header, so that was erring every request and just returning 406.

[code]

Gin is faster than httprouter without any middleware, thank you @manucorporat.

[2015-06-05 19:38] #331 closed

[2015-06-05 19:39] wsantos commented on #331
Awesome work btw ! I can't wait to see the Zero Allocation Router.

[2015-06-05 19:40] manucorporat commented on #331
hahaha nice!! also! @nazwa gave you a good advice. switch to release mode when deploying in production. it can be done programatically or through the environment variable (GIN_MODE)

[2015-06-05 19:41] manucorporat commented on #331
The Zero Allocation Router is already working in master!

[code]

see the number of allocations!

[2015-06-06 08:32] christianhellsten commented on #274
I have a struct with validations:
[code]

 I see this in the log if the Name field fails validation error:
[code]

How can I silence these validation errors? It doesn't seem possible at the moment, and I don't want the log to be filled with validation errors.

[2015-06-06 15:14] manucorporat commented on #274
@christianhellsten you are right, validation errors should not be in the logs at all.
let me fix it.

[2015-06-06 15:24] manucorporat commented on #274
@christianhellsten Done. https://github.com/gin-gonic/gin/commit/dde06a07f0e0df6f2924e718f1c7d8999557dc0a

[2015-06-06 15:56] christianhellsten commented on #274
Thank you. That silenced the errors.

[2015-06-06 18:43] chonthu commented on #320
Hey, just starting out but I thought why not create a middleware solution, thoughts?

[code]

and then in the controller call

[code]

[2015-06-06 19:35] manucorporat commented on #320
@chonthu

1. c.Engine.SetHTMLTemplate is not thread-safe
2. c.Engine was removed
3. Gin already provides a non-hacky way to do it.

[2015-06-06 19:39] manucorporat commented on #320
If you do not want to use the template system provided by Gin: then create something like:

[2015-06-06 19:49] manucorporat commented on #320
If you need multiple templates, I recommend you the multitemplate render:

https://github.com/gin-gonic/contrib/blob/master/renders/multitemplate/multitemplate.go

but my suggestion is: try to fit your design in just one template.Template.
So instead of having a base.html and a page.html, you have: header, footer, page1, page2...
page1, page2 includes the header, footer... instead of a base templa

[2015-06-06 19:52] manucorporat commented on #320
This an example of multitemplate, it probably fits very well with your current multi-template setup:
[code]

[2015-06-06 19:53] leedstyh commented on #320
@manucorporat , I use `pongo2`, and how about this solution's performance:

[code]

Then call likes this `Render(c, "path", "to", "template")` in a handler

[2015-06-06 19:54] manucorporat commented on #320
@leedstyh well, a render could also be created for pongo2. so you still use c.HTML()

[2015-06-06 19:55] manucorporat commented on #320
So you could do:

[2015-06-06 19:57] dustinwtf commented on #155
Noticed Swagger support was on the README checklist for V1. That seems to be gone now. Should we not have our hopes up for this being released?

[2015-06-06 19:57] chonthu commented on #320
Thanks @manucorporat, I only need one base template. So what i'm going to do is switch to including header and footer templates like your suggestion.

[2015-06-06 19:58] manucorporat commented on #320
@chonthu if you use the one template design:

you are already setup with this:

[2015-06-06 20:07] manucorporat commented on #155
We do not need swagger support in 1.0.
1.0 is about having a stable API, production-ready and performance.

Once 1.0 final is reached, we can focus in features. Also, I do not think the swagger support should be part of Gin core. Probably a different package.

[2015-06-06 20:07] chonthu commented on #320
Yup, it worked fine. I got accustomed to the base approach from other frameworks in other languages. I think the reason for going that direction is to change the base template structure one file and not have to go into each file that has a header and footer. Its a small disadvantage but not killer. Im satisfied with where it ended up,

[2015-06-06 20:10] manucorporat commented on #320
@chonthu remember! if you want to use the base.html setup, then the multitemplate package is a good start point!

Glad I could help you

[2015-06-06 20:34] leedstyh commented on #320
@manucorporat OK, I'll try to write a new one!

[2015-06-06 21:58] dustinwtf commented on #155
Agreed! That's definitely a good focus. Just wondered considering it was there and disappeared.

[2015-06-06 22:33] nazwa commented on #155
Is there an easy way to get all the registered routes now? Like a map of url -> handlers or something.

[2015-06-06 22:51] manucorporat commented on #155
@nazwa no, but we need a way to provide it. Two solutions:

1. Iterate over the trees and collect the routes.
2. Save the routes in a separated slice (only for documentation purposes)

While the second way is the easiest to implement it adds a unneeded overhead and complexity all over the place. So I would try to iterate the trees, it would not be that hard.

[2015-06-06 22:54] manucorporat commented on #155
Also, since the router is not longer dependent of the HttpRouter package, we have access to all the info.

[2015-06-06 23:05] manucorporat commented on #155
something like this:
[code]

[2015-06-06 23:13] nazwa commented on #155
Yea, something like this would be perfect. I'll try to have a proper play with it in the evening, as it definitely would be useful in the long run.

[2015-06-07 02:21] manucorporat commented on #155
@nazwa @dustinwtf @ndbroadbent  https://github.com/gin-gonic/gin/commit/45dd7776938fddc914e8a2fe60367a3eb99e1e53

[2015-06-07 02:31] manucorporat commented on #155
[code]
[code]

[2015-06-07 02:39] manucorporat commented on #155
Here's the proposal for auto API documentation:

[2015-06-07 15:25] dcu commented on #183
@badoet @manucorporat I wrote a little library that should work with gin (and others) here:

https://github.com/dcu/http-einhorn

[2015-06-07 15:53] manucorporat commented on #183
@dcu man! that looks genius. looks like the perfect solution for integrating einhorn with any router. Much better than a dependent implementation (like goji's).

I will review it this evening, and I hope I contribute to that project. Let's work to make it front-page in HN.

[2015-06-07 19:23] alehano commented on #293
For example I want to use https://github.com/thoas/stats
It has Handler(h http.Handler) http.Handler

[2015-06-08 09:09] jingtai5 opened #332 "How to use session."
How to use session.

[2015-06-08 09:27] theaidem commented on #332
[contrib/sessions?](https://github.com/gin-gonic/contrib/tree/master/sessions)

[2015-06-08 10:16] jingtai5 commented on #332
Thanks ！

[2015-06-08 10:16] #332 closed

[2015-06-08 19:19] danielalves commented on #323
@manucorporat Sorry to bother, but any updates on this?
I just wanted to add that using `router.ServeHTTP(w, req)` to test route handlers may be the most correct way (as in the link you've sent above) since the request goes all the way through the gin stack, but isn't it a little overkill for simple unit tests? I mean, for acceptance tests, where you do want to test everything together, that makes

[2015-06-09 05:27] ericwq opened #333 "after last "git pull" the go test failed."
[code]

[2015-06-09 07:51] ericwq commented on #333
sorry dependency problem. my problem.

[2015-06-09 07:51] #333 closed

[2015-06-09 08:59] ericwq opened #334 "Suggest: using https://github.com/unrolled/render for rendering"
can you consider this?