[2015-06-09 09:10] slimmy commented on #334
Considering it is already easy to integrate it with gin (https://github.com/unrolled/render#gin) what are the upsides to bring this dependancy into gin? Are there any performance improvements?

[2015-06-09 14:25] manucorporat commented on #334
There is not good reason for this:
1. Gin's built-in rendering has been strongly optimized:
2. HTML rendering is customisable by creating your own render

[code]

[2015-06-09 15:04] alehano commented on #293
For example, I want github.com/justinas/nosurf  in a group.
There is a method nosurf.NewPure(handler http.Handler) http.Handler

[2015-06-09 20:49] #327 closed

[2015-06-09 23:19] #321 closed

[2015-06-10 13:46] windweller opened #335 "How to render XML attributes?"
I'm using a website's REST API and they require me to send a XML as response! I checked out their documentation, and found out this:

[code]

Is there anyway to specify or attach attributes using gin's renderer?
I also found this library: https://github.com/unrolled/render, which claims that they use Martini's renderer. Could this library work with Gin as well?

[2015-06-10 13:50] slimmy commented on #335
Yes it works with Gin, it even has examples in the README on how to use it with Gin.
https://github.com/unrolled/render#gin

[2015-06-10 14:21] windweller commented on #335
LOL did not read it that far, THANKS!

[2015-06-10 14:21] #335 closed

[2015-06-10 14:24] windweller commented on #335
Does Gin render XML attributes by default though?

[2015-06-10 14:34] slimmy commented on #335
Yes it does (https://github.com/gin-gonic/gin/blob/master/render/xml.go) it uses the Go stdlib to do so.
Examples from README https://github.com/gin-gonic/gin#xml-and-json-rendering

[2015-06-10 14:38] manucorporat commented on #335
@windweller I recommend you to avoid using that external render, it is not going to give you any advantage.

[code]

you do not need external packages.

[2015-06-10 14:40] windweller commented on #335
Thank you @manucorporat !

[2015-06-10 15:18] manucorporat opened #336 "New! Collection pipeline pattern"
Now it's possible to declare the routes this way:

[code]

of course, this API is 100% back-compatible.

[2015-06-11 18:44] oryband opened #337 "update Context.ClientIP() to use standard github.com/sebest/xff/ package"
following discussion in gin-gonic/contrib#49 , i think maybe we should use https://github.com/sebest/xff instead of implementing header parsing? This package looks like it does the job better, filtering private ip addresses and such: https://github.com/sebest/xff/blob/master/xff.go#L11

[2015-06-11 18:58] slimmy commented on #337
Interesting idea but I don't think panics in non-initialization code is a good pattern (https://github.com/sebest/xff/blob/master/xff.go#L14)

[2015-06-11 20:14] manucorporat commented on #337
@slimmy  I think that code is part of initialization data and in fact they use a panic() in the same way an [assert](http://www.cplusplus.com/reference/cassert/assert/) is used in C. ie. a defensive programming practice, there is no way panic() will be called.

[2015-06-11 20:40] slimmy commented on #337
@manucorporat you're right, I read the code too quickly

[2015-06-12 09:10] rainyear opened #338 "Could middleware pass value to router methods?"
[code]

how could I get the variable `token` from following router methods?

[2015-06-12 09:22] leedstyh commented on #338
`c.Set("token", token)` in your middlwware, and `c.Get("token")` in other handlers

[2015-06-12 09:28] rainyear commented on #338
@leedstyh Thanks!

[2015-06-12 09:28] #338 closed

[2015-06-12 10:58] manucorporat commented on #338
@rainyear you should rewrite you middleware adding an Abort() call.
[code]

then you can read the "token" using `c.MustGet("token")

[2015-06-12 11:01] manucorporat commented on #338
@rainyear

[code]

[2015-06-12 12:21] rainyear commented on #338
@manucorporat wow, that's brilliant!

[2015-06-12 14:41] zeroactual opened #339 "Help with nested template"
I'm having problems rendering templates. If all the template files are empty except the base template then there is no issue with the way my templates are currently. The problem is that I can't seem to figure out how to render a template with variables across multiple of the included templates such as in the Base layout and inside a navbar or content area.

I tried nested structs but have had no l

[2015-06-12 15:58] manucorporat commented on #339
@zeroactual
1.    ` r.SetHTMLTemplate(contact_template)`
should be called at initialization. never inside a request since it is not thread safe.

2. this is not a problem related with Gin

3. you should pass the parameters to the content template:
{{template "content" . }}

[2015-06-12 16:14] manucorporat commented on #338
@rainyear glad it was helpful! check out how the basic http auth was implemented as a reference:
https://github.com/gin-gonic/gin/blob/master/auth.go#L50-L58

[2015-06-12 16:16] rainyear commented on #338
@manucorporat Got it! Thanks again~

[2015-06-12 16:22] manucorporat commented on #339
Btw, to make the data, you can use a `map[string]type{ .. }` a struct, or use the built-in type `gin.H`.

[code]

`gin.H` is a `map[string]interface{}` with some other facilities (it also works with XML) and more convenient since it is much shorter.

[2015-06-12 16:49] zeroactual commented on #339
Okay it seems that switching ```{{template "content"}}``` to ```{{template "content" . }}``` Fixed the issue with the content not rendering. That only leaves the question of my usage of
[code]
Since it's not thread safe then how do I tell the routes which template I want to render if I have multiple pages. Would I have to change ```{{template "content" .}}``` to be ```{{.content}}``` then render t

[2015-06-12 17:05] manucorporat commented on #339
@zeroactual if you have multiple templates, you have three options:
1. Change your layout design: instead of a base template + content template, you have content-template that imports the header + footer

2. Since Gin HTML is pluggable you can use custom renders: you should use multitemplate (created for your use case:  https://github.com/gin-gonic/contrib/tree/master/renders/multitemplate

3. Avo

[2015-06-12 17:07] manucorporat commented on #339
As you can see: c.HTML can execute arbitrary code, it means you can use any setup and or render (like pongo2) and continue using the c.HTML() API.

[2015-06-12 17:18] manucorporat commented on #339
That could be a different way to fix it! but you would be calling `c.HTML(200, "base", gin.H{"content": "index"})`. Always "base". which is not nice.

[2015-06-12 17:19] manucorporat commented on #339
templates := multitemplate.New()
// or templates.Add("key", value) it is the same!
templates["index"] = your template
templates["contact"] = contact_template

[2015-06-12 17:42] rafbgarcia opened #340 "context.Bind never returns an error"
Hey, just a question:

I realized that the code below will never execute `return err` because `c.AbortWithError(400, err).SetType(ErrorTypeBind)` aborts the request, is that correct?

Is that the expected behavior? If so, wouldn't it be better to not return anything instead?

[code]

[2015-06-12 17:49] manucorporat commented on #340
@rafbgarcia

no, `c.Abort()` (and family) is not a panic. i.e. c.Abort() will return and continue the execution of the current scope.

c.Abort() tells the router to do not call the next handler in the chain
so if you have a chain of 4 handlers: logger -> gzip ->auth -> indexHandler

if the `auth` handler (or middleware) calls c.Abort() it will tell the system to do not continue calling the rest of

[2015-06-12 17:51] zeroactual commented on #339
Okay this multitemplate looks pretty good but it looks like the version go get pulled down won't compile.

[code]

[2015-06-12 17:52] manucorporat commented on #340
[code]

understand?

[2015-06-12 18:00] manucorporat commented on #339
go get -u github.com/gin-gonic/gin
go get -u github.com/gin-gonic/contrib/renders/multitemplate

?

[2015-06-12 18:37] zeroactual commented on #339
Updating the dependencies fixed that problem. Right now it's returning a blank string.

What I have now for is
[code]
**Base.html**
[code]
**Index.html**
[code]
**Contact.html**
[code]
**Navbar.html***
[code]

I think that this part is causing me some of the problems
[code]

[2015-06-12 18:43] rafbgarcia commented on #340
Hey @manucorporat, you're totally right, I wasn't properly handling the error that `Bind` returns, my bad dude.

[2015-06-12 19:10] manucorporat commented on #340
you have the possibility to handle the errors by using a middleware, so you do not poison your normal flow code with error management.

Just create a middleware: like
[code]

this way your code would look like this:
[code]

https://github.com/gin-gonic/gin/blob/master/logger.go#L28-L39

you are free to use any method, I think the middleware method is good if your project is getting complex.
Becaus

[2015-06-12 19:23] rafbgarcia commented on #340
@manucorporat, that's really great, I just learned one more thing today! haha

Already implemented that solution in my project, thanks a lot.

:+1:

[2015-06-12 19:38] manucorporat commented on #340
@rafbgarcia glad! I was helpful :) last tip!
In our case, we filter the errors by type:
- public ones -> send in the response as JSON
- private ones -> send to [sentry](https://getsentry.com/welcome/) + syslog

[code]

https://github.com/gin-gonic/gin/blob/master/errors.go#L16-L20

[2015-06-12 20:03] rafbgarcia commented on #340
@manucorporat really good stuff dude, thanks for sharing!

We're working on a totally new project, so it'll definitely help us in a near future :)

:+1:

[2015-06-12 20:20] #340 closed

[2015-06-12 20:23] manucorporat commented on #340
@rafbgarcia you are welcome!

[2015-06-12 20:53] nazwa commented on #340
@manucorporat Ha I had no idea BindWith automatically aborts and adds the error to the error queue. That's quite handy. Is this 'new'?

[2015-06-12 21:25] manucorporat commented on #340
@nazwa no, it has been there since the first release of Gin. but everything have been improved a lot.
Just remember, adding the error to the error queue does nothing. It will write in the response. "Leaking" information through HTTP is always in your hand!

[2015-06-12 21:27] nazwa commented on #340
Yea totally. Looks like I've got a bunch of code to update haha.

[2015-06-12 21:31] manucorporat commented on #340
@nazwa good idea! if you just wrote something simple. it may be more convenient to check the error returned by `c.Bind()` directly.

but if you are developing something serious (like we do). it is a good idea to move apart the error management code.

[2015-06-12 21:37] nazwa commented on #340
I still need to get my head around proper error management strategy. It's all linked to the other error discussion we had and it's not gin specific. Especially abstracting public / private errors and automating error throwing process.

[2015-06-12 21:47] manucorporat commented on #340
Another pattern around Bind, it to use the new Bind() middleware. It is mostly an experiment, it works this way:

[code]

[2015-06-12 22:16] nazwa commented on #340
Nice, that looks like a pretty decent solution.

On a side note, we've recently survived out first gigantic traffic spike since moving to gin from php and everything was handled perfectly. So well done!

[2015-06-12 22:27] rafbgarcia commented on #340
@manucorporat that's nice :+1:

[2015-06-13 09:28] techjanitor commented on #339
I had this same issues with that template design. I basically got rid of the 'base' template and just have a header/footer with all the html boilerplate included with all my other templates. It accomplishes the same thing, and it allows you to use SetHTMLTemplate with ParseGlob for loading templates as well.

For example:

[code]

and that can be called with:

[code]

[2015-06-13 09:54] manucorporat commented on #339
@zeroactual in your case, remove the `{{define "base"}}`. Since it is the base, it can not have a defined name...

[2015-06-13 09:56] manucorporat commented on #339
When using multitemplate, Gin runs: `templates[name].Execute()` instead of `template.ExecuteTemplate(name)`

[2015-06-13 10:00] manucorporat commented on #339
Also since Base.html is importing a template called: "content" why are you doing {{define "index"}}?

[2015-06-13 10:04] manucorporat commented on #339
@zeroactual
fix your templates.

[code]
**Index.html**
[code]
**Contact.html**
[code]
**Navbar.html***
[code]

[2015-06-13 14:37] zeroactual commented on #339
Thanks! That fixed it. It seems I got confused with how to do this when I was playing around with only one page and used a glob. The glob only allowed you to have one content block declared so I changed the names.

I was trying to RTM but I'm so used to Java that I think I was looking at this all the wrong way. Thanks again.

[2015-06-13 14:37] #339 closed

[2015-06-14 01:52] lilee opened #342 "Abort vs panic"
every time I want to return the error, i must write the following code

[code]

it's ugly with so many ```return```

I think using the panic maybe the best practice. Like Java's ```throw Exception```

[code]
err is defined as

[code]

using the catchError middleware to catch the error and abort with the ```HTTPStatus```

[code]

lot's of ugly ```return``` are removed

[2015-06-14 02:26] manucorporat commented on #342
@lilee currently the best practice is to call
AbortWithError()
return;

and then a middleware reads `c.Errors` in order to do something with the errors.

Using a panic() is a bad idea:
- It is not Go idiomatic. In Go, a panic() is a strict exception (or an assertion). i.e. something really bad (probably a bug) happened.
- Calling panic() is slow
- If panic is calling most of the middlewares will n

[2015-06-14 02:35] manucorporat commented on #342
Tip: refactor your code into smaller functions, so instead of repeating:
[code]

you do:

[code]

[2015-06-14 13:21] oryband commented on #337
so, @manucorporat, lets merge this

[2015-06-14 14:55] manucorporat commented on #337
There are several parts of the xff implementation that doesn't look correct.

[2015-06-14 14:59] oryband commented on #337
Which ones?

[2015-06-14 15:27] manucorporat commented on #337
- Iterating over all the ForwardIP values, I think the first one is the only important one.

[code]
- It returns the port (a fake port) since the original client probably does not connect using that port. net.JoinHostPort(ip, oport)
- If IP is not public, we return "" ?

[2015-06-15 01:28] lilee commented on #342
OK, I got it

[2015-06-15 02:39] #342 closed

[2015-06-15 05:04] lilee commented on #342
Thanks for explaination

[2015-06-15 15:41] rexposadas commented on #336
+1 Thank you.

[2015-06-15 18:56] biorisk commented on #283
Thank you for taking a look. Any progress? Let me know if you want a working example.

[2015-06-16 12:46] EmergentBehavior opened #344 "Faster JSON Serialization"
This is more of a feature request/exploration, but I'm wondering if Gin could be made even faster by using [`ffjson`](https://journal.paul.querna.org/articles/2014/03/31/ffjson-faster-json-in-go/). Apparently it's 2-3x faster than `encoding/json` because it doesn't use reflection. Repo: https://github.com/pquerna/ffjson

[2015-06-16 13:42] manucorporat commented on #344
ffson generates static code for MarshalJSON() and MarshalJSONBuf(). the standard json package already tries to call the MarshalJSON() method before using reflexion.

So if you use ffson you will already get faster rendering performance. Probably not the fastest possible since the optimized `MarshalJSONBuf()` method will not be used.

We could implement a super lightweigth wrapper to call MarshalJS

[2015-06-16 13:54] djamelfel commented on #285
@manucorporat: they are a non sence for me, sse.Event cannot be used as type render.Render in argument to c.Render

[2015-06-16 14:01] manucorporat commented on #285
@djamelfel are you sure? yes, it can be.

Just tried:
[code]

[2015-06-16 15:20] djamelfel commented on #285
You're right, it's because i used an old version of gin.

[2015-06-16 21:00] #285 closed

[2015-06-16 21:17] dustinwtf commented on #155
This is perfect, @manucorporat! When do you see this being merged into master?

[2015-06-17 10:09] oryband commented on #337
@manucorporat you are absoloutely right, closing this issue

[2015-06-17 10:09] #337 closed

[2015-06-18 15:20] manucorporat commented on #155
@dustinwtf done! https://github.com/gin-gonic/gin/commit/451f3b988b647f9565ce2c277ab7775e3b65e363

[2015-06-18 18:18] olebedev commented on #155
@manucorporat this is really useful feature! Thanks for it!
Which swagger generator should we use? beego or go-restful or https://github.com/yvasiyarov/swagger?
Could you provide an example/workflow how to use it please?

[2015-06-19 10:06] imjoshholloway commented on #320
@manucorporat Based on this, if I wanted the ability to load different themes (templates) from an object store like Cloudfiles based on the specific user. I'd need to overwrite `HTMLRender` with the logic to pull the files from the object store. Would something like this be possible or am I asking for trouble?

[2015-06-21 05:10] sameeroak commented on #66
Hello,

I'm looking for a good tutorial for gin. Can someone please help me find one?
Also, has the gin emailing list been formed?

Regards,
- sameer.oak

[2015-06-22 09:59] widnyana opened #345 "install failed on latest version"
I was succesfully installing gin few weeks ago, now I setup a new project and try to install it again via vendoring, I didnt use any third-party golang dependency manager.

and I got this error when echoing `$ go get github.com/gin-gonic/gin` on my terminal
[code]

my $GOPATH is `~/Code/golang/webstuff` and $GOROOT reside on `~/bin/go`

thank you for your awesome stuff, really love it! :)

[2015-06-22 16:24] tsingson opened #346 "[question] help for multiple port or multiple instance for http services"
hi,

[code]

but , only one port ( 8080 port ) working

yet, i know there some others solution to split  different URL rout for two propose.
i just want to know single program can service tow port or not.

some one help for this??
thanks a lot.

[2015-06-22 16:36] slimmy commented on #346
`gin.Run()` is blocking so you have to call them in separate goroutines if you want to accomplish that.

[2015-06-23 02:12] lawlite opened #347 "[Question] How to get multidomain/subdomain (virtualhost) routing?"
Hello there!
I have a question: How to get multidomain/subdomain (virtualhost) routing?

I tried this,

    r := gin.Default()
    r.GET("example1.com/", func(c *gin.Context) { // http://example1.com
        c.String(200, "welcome to example1.com")
    })
    r.GET("example2.com/", func(c *gin.Context) { // http://example2.com
        c.String(200, "welcome to example2.com")
    })

but it didn't

[2015-06-23 04:33] widnyana commented on #345
sorry my bad, didnt notice the update on `sse` repo. closed as invalid :)

[2015-06-23 04:33] #345 closed

[2015-06-24 02:29] dopgm commented on #326
@goldalworming , these are the functions, existing in the example, but their implementation was out of the the scope I believe. Try creating functions with these names or remove them.

[2015-06-24 08:25] goldalworming commented on #326
ok, I've tried another way from scratch and have successfully run it. thanks

[2015-06-24 08:25] #326 closed

[2015-06-24 09:39] bom-d-van opened #349 "Can't register routes "" and "/" in RouterGroup of RouterGroup"
[code]

BTW, thanks for all your hard works.

[2015-06-24 09:40] #349 closed

[2015-06-24 09:40] bom-d-van commented on #349
It seems by using `home := app.Group("", controllers.HomeLayout)` the panics would just go away.

[2015-06-25 01:06] dkoston commented on #347
You'll need to use a different router per host (as shown in your working example) because the routes are expected to be different for each host. If you use named functions, it's possible to re-use the functions in both host's routes.

If you need to use a custom logging format, I suggest writing a logger middleware that suits your needs. You could choose 2 options:

1.  Support custom logging form

[2015-06-25 01:09] javierprovecho commented on #347
Checkout this example from httprouter:

Multi-domain / Sub-domains
Here is a quick example: Does your server serve multiple domains / hosts? You want to use sub-domains? Define a router per host!

// We need an object that implements the http.Handler interface.
// Therefore we need a type for which we implement the ServeHTTP method.
// We just use a map here, in which we map host names (with port)

[2015-06-25 01:13] javierprovecho commented on #347
If you want to have a heavy virtual host configuration with different routes, then use httprouter example,

[2015-06-25 01:45] manucorporat commented on #347
It depends on your requirements. What do you want to do? what is host dependent?
if each host has a different set of routes, then yes, you should use different router instances, that is perfectly fine.

but if you are going to share the same routes, you could try to use a middleware and check `c.Request.Host`.

"[GIN] example1.com 2015/06/23 (...)"
"[GIN] example2.com 2015/06/23 (...)"

good idea!

[2015-06-25 03:53] YeFatBoy opened #350 "How to generate a log every day"
How to generate a log every day

[2015-06-25 09:37] manucorporat commented on #350
@YeFatBoy please, can you elaborate?

[2015-06-25 09:43] manucorporat commented on #349
I do not recommend you to do that.

- Bad SEO
- Ugly configuration

Gin can fix trailing slash automatically.
[code]

[2015-06-25 09:50] bom-d-van commented on #349
Thanks. But it doesn't work in my configuration and it still says 404:

[code]

[code]

[2015-06-25 09:56] slimmy commented on #350
I'm assuming he wants something like logrotate in Gin.

This creates/opens a file named YYYY-MM-DD.log that you can write to (no error handling).
You'd have to do this for each request in a middleware.

[code]

It's probably better to use a processmanager like supervisord that has logrotate built in though.

[2015-06-25 12:49] nazwa commented on #350
[code]

[2015-06-25 14:24] slimmy commented on #350
@nazwa There's a few problems with that approach.

* You wont have daily logs unless you start you program at exactly 00.00
* It wont handle DST
* It's missing logic to create unique file names

[2015-06-25 15:31] lawlite commented on #347
Thanks a lot!

[2015-06-25 15:31] #347 closed

[2015-06-25 15:34] danielalves opened #351 "Expose gin.Context handlers field"
Hi guys,

I'm writing a gin Statsd middleware so I can measure request handlers performance. The idea is to label requests stats just like NewRelic does for other languages. The pattern will be something like: `repo.user.app.module.handlermethod`. I'm facing a problem, though: I couldn't find a good way to get the current request handler.

I know you've recently added the `gin.Engine Routes() ` me

[2015-06-25 16:18] YeFatBoy commented on #350
@manucorporat   I want to get all http requests everyday,how to generate a log for every date?

[2015-06-25 16:51] nazwa commented on #350
Of course but like I said, this was just to give you an idea, which I wrote on the go.

Instead of a ticker you would use a timer that triggers at 00:01 and changes the output file. And of course on startup you set it to current date. I think the concept is exactly the same.

It gets tricky later in how do you actually write down the requests, but if you look at the default gin logger middleware a

[2015-06-25 17:16] manucorporat commented on #350
@YeFatBoy @slimmy @nazwa
I would say that you should not try to implement this in the application:
- Unneeded complexity
- Difficult to debug ( it is very nicer to see the logs right in the console when debugging)
- Different abstraction layers (log rotation is not business logic)
- Difficult to scale (what is you generate 10GB of logs per day?)

When deploying in production just use `supervisord`

[2015-06-25 17:25] manucorporat commented on #351
I am worried about people using it to create dangerous hacks. Like it happened with the infamous `Context.Engine`.

why do you need to label the requests with the handler name? why the path does not work?

[2015-06-25 17:30] manucorporat commented on #351
How about this?

[code]

[2015-06-25 17:34] danielalves commented on #351
@manucorporat In a RESTful api, the path could contain parameters, for example: /player/:player-id/cards -> player/1234/cards -> player.1234.cards. The fact is, you do not want to track timing separately for each possible parameter, but for a certain route handler. Someone could say that I could strip the parameters from the path, what gets us to the real problem: instrumentation should not care a

[2015-06-25 17:35] manucorporat commented on #351
@danielalves ok! that sounds like a perfect use case! that is all what I needed.

is HandlerName() ok for you? if so. a better name?

[2015-06-25 17:37] danielalves commented on #351
@manucorporat Yes, this also a good solution! And about the dirty hacks you said, that's why I suggested a method that returns a copy of the handles array, not the real thing :smile:
But anyway, your code would also solve my problem

[2015-06-25 17:38] manucorporat commented on #351
@danielalves right, but the copy of the handlers does not prevent to an "alternative" middleware system.

[2015-06-25 17:40] danielalves commented on #351
@manucorporat Hum, I get it. So `HandlerName`, it is! :+1:

[2015-06-25 17:42] danielalves commented on #351
@manucorporat Any idea when it'll be available at master?

[2015-06-25 17:45] manucorporat commented on #351
@danielalves now!! https://github.com/gin-gonic/gin/commit/95c08d5f84a404a197a0264951489b105ed8ad2d

Thanks for the report!

[2015-06-25 17:45] #351 closed

[2015-06-25 17:51] danielalves commented on #351
@manucorporat Wow! Fast! You're welcome! :smile:

[2015-06-26 00:08] Marini83 opened #352 "Refresh page"
Hello,

I'm a total newb at react/ go / gin environment.  I modified an index.jsx page and even though i restarted the server , the updates are not showing up?! what gives...

I'm also running webpack.

[2015-06-26 00:25] javierprovecho commented on #352
Hi there,

If I understand you right, you try to serve an static index.js file, you make a change on it, and even after restarting the server you don't see the changes?

This seems to be a cache problem with your browser.

Try deleting your cache, or accessing again from an incognito tab.

NOTE: The information in this e-mail is confidential, being solely for the addressee named above. If you read

[2015-06-28 03:12] alvarolm opened #354 "Cant delete Date header"
c.Writer.Header().Del("Date") or c.Header("Date", "") doesn't seems to have any affect, im using this middleware:
[code]

[2015-06-28 03:46] alvarolm commented on #354
works:
[code]

[2015-06-28 03:46] #354 closed

[2015-06-28 16:40] semihalev opened #355 "panic in validator"
Hi All,

I received panic on every request. Here the panic log.

2015/06/28 19:32:06 Panic recovery -> runtime error: index out of range
/usr/local/go/src/runtime/panic.go:387 (0x466f18)
        gopanic: reflectcall(unsafe.Pointer(d.fn), deferArgs(d), uint32(d.siz), uint32(d.siz))
/usr/local/go/src/runtime/panic.go:12 (0x4660ae)
        panicindex: panic(indexError)
/root/go/src/gopkg.in/bluesunco

[2015-06-28 16:41] semihalev commented on #355
+Go version is 1.4.2

[2015-06-28 18:43] manucorporat commented on #355
@semihalev can you show the code that triggers the panic + struct?

[2015-06-28 18:44] manucorporat commented on #354
@alvarolm I would like to know why `c.Writer.Header().Del("Date")` didn't work.
I will check out the standard library source code.

[2015-06-28 18:47] manucorporat commented on #355
it may be an issue of the validator @joeybloggs

[2015-06-28 18:49] manucorporat commented on #355
@semihalev A workaround is to disable the validation:
[code]

This will disable all the validations, even the successful ones, but at least it will not panic until we fix it.

[2015-06-28 18:55] joeybloggs commented on #355
Yes the code would be helpful also which version of validator do you have v5.x.x

I published some updates, however they should be completely backward compatible.

[2015-06-28 19:03] semihalev commented on #355
The validator version is latest 5.9.

The code:
[code]

The POST Payload: {"userid":"123456", "action":10000}

[2015-06-28 19:04] semihalev commented on #355
I tested validator 5.8.1, same result.

[2015-06-28 19:15] joeybloggs commented on #355
@manucorporat @semihalev

if I could get what values are set within the ExternalCMD struct before passing it to validate.Struct I will look into this asap.

[2015-06-28 19:53] joeybloggs commented on #355
please see https://github.com/bluesuncorp/validator/issues/85 for more comments, it seems to be a bug within validator regarding type interface.

[2015-06-28 20:39] semihalev commented on #355
gin.DisableBindValidation() solved the problem. @joeybloggs marked bug.

[2015-06-28 23:39] manucorporat commented on #355
I will keep this open to track the state of the bug.

[2015-06-29 02:05] joeybloggs commented on #355
hopefully this should now be solved with the 5.9.1 release, please let me know if there are anymore issues.

P.S. there is one other issue in 5.9.x I'm working on updating the Flatten() function to handle the new dive functionality that slipped my mind...but if your not using, no problems

[2015-06-29 10:54] metal3d opened #356 "Listening on port 0"
I'lm sure to have comment an issue that says the same. But I have done some tests with my docker-compose stack to be sure. So that's my problem:

[code]

Whatever if I set "-a" option to force port, the problem remains. The litening port is always set to "0".

Other problems appears, as using godep... that was working before and right now I'm unable to use docker-compose to link other services (mo

[2015-06-29 10:57] metal3d commented on #356
Excuse me, that's an error, That's not the good "gin" project :)

[2015-06-29 10:57] #356 closed

[2015-06-29 13:51] manucorporat commented on #355
@joeybloggs good job! but when is this going to be merged in production? is this going to be a hotfix in v5? or will I need to change the import to v6?

[2015-06-29 14:04] joeybloggs commented on #355
5.9.1 is already released

[2015-06-29 14:10] Marini83 commented on #352
Hello  Javier,

Yes, I'm trying to use React so I modified one of the header files.  I did restart the server and tried incognito mode but to no success. Looks pretty simple but not sure what to do,  I start the server using "go run server.go"

[2015-06-29 14:18] zeroactual commented on #352
Just to be clear, you're getting your file from the server, but it's showing the old version from before you made your changes?

Assuming you're using chrome an easy way to check that your browser hasn't cached the old file open up the developer tools (F12 key on windows) navigate to the network tap and check the disable cache checkbox. If you refresh the page with that option turned on, it should

[2015-06-29 15:30] Marini83 commented on #352
I did turn off caching but it still displays the old one...

I'm actually basing it off of this boilerplate https://github.com/weisuke/react-reflux-go-boilerplate

It is using webpack as well.

[2015-06-29 17:10] manucorporat commented on #352
@Marini83 this is very unlikely to be a gin issue since Gin does not implement any kind of caching.
- Gin issue (probably not)
- Go Standard Library issue (very very unlikely)
- Webpack issue
- Your browser
- A reverse proxy you are using (nginx?)
- CDN?
- React stack issue
- You could be serving a unmodified copy of index.jsx (due a wrong path).

I can not diagnose without more information: confi

[2015-06-29 19:30] javierprovecho commented on #352
@Marini83, as manu said, it is probably a proxy you have in middle, or a wrong path. if you can give us some code and your folder structure, maybe we can help further.

[2015-06-29 21:37] rafroehlich2 opened #357 "Reverse route generation"
I would like to help in adding the ability for routes to be named in the router and then reconstructed elsewhere in the application. One of the ways I was looking into doing this was to simply add named methods to the router.

[code]

The advantage to this would be to not change the return type of the router methods and lose chaining. The named routes could be added to the engine for access throug

[2015-06-30 03:12] alvarolm commented on #354
http://golang.org/src/net/http/server.go?h=Date#L664

[2015-06-30 09:27] manucorporat commented on #357
@rafroehlich2 what is the use case of this?

[2015-06-30 14:50] rafroehlich2 commented on #357
@manucorporat  The use case would be similar to the function of the Rails link helpers. When generating links in templates or JSON responses you can use the one provided to the router to keep them up to date. In a JSON server I built I use a similar method to handle HATEOAS.

[2015-06-30 22:32] Marini83 commented on #352
This is index.jsx which I tried to modify. I think it could be webpack caching....
    var React = require('react');
    var Link = require('react-router').Link;

     require('./style.scss')

     var Header = React.createClass({
      render() {
        return (
            <div className="header">
                <nav>
                    <ul className="nav nav-pills pull-right">

[2015-06-30 22:54] Marini83 commented on #352
Javier it was a wrong path,  I want to thank you guys for your help!  After restarting the server and webpack i realized something wasn't adding up.

[2015-06-30 22:54] #352 closed

[2015-07-02 14:40] nazwa opened #360 "Wildcard route conflicts with static files"
Just found an interesting issue:

[code]

Generates:

Seems like it's due to the fact that Static uses *filename wildcard. My plane is due in soon, so can't dig into it now, but I think any static wildcards should be generated below the url path specified, not within root domain.

[code]

Any thoughts?

[2015-07-03 00:42] thellimist opened #361 "binding post form-data"
I'm sending post request as form-data (shown below) but `c.Bind(&json, binding.Form)` doesn't bind form-data instead it binds URL parameters (localhost:8080?name=XXX&...).

`c.PostForm` works fine.

`binding.Form` should bind form-data for POST.

----

POST /signup HTTP/1.1
Host: localhost:8080
Cache-Control: no-cache
Postman-Token: a7f408c6-1749-f9c8-0a57-801a2a0448f6
Content-Type: multipart/form

[2015-07-03 02:22] manucorporat commented on #361
Well, this is due the stupid behaviour of `http.Request.Form` which mixes all the form values.
Two workarounds:
- Rename the keys, don't use the same names in the query and the multipart.
- Use `c.BindWith(&obj, binding.FormMultipart)`

[2015-07-03 02:23] manucorporat commented on #361
@thellimist make sure you update gin. I just added it:
https://github.com/gin-gonic/gin/commit/4194adce4cd5c971281999706b801a643750bfaa

[2015-07-03 02:36] manucorporat commented on #360
@nazwa the problem is not `r.Static("/assets/", p.rootFolder+"/assets")`, in fact, it registers `/assets/*filename`.

The conflict happens because: /assets would match `/assets/*filename` and `/:code`.

HttpRouter developer is working in a non-strict mode that will allow this to work.

[2015-07-03 02:43] manucorporat commented on #286
@osiloke I may make the variable unexpected again. this was a bad solution :( but! I can expose a method called `BasePath()`.

How does it sounds?

[2015-07-03 09:48] nazwa commented on #360
I thought placeholders only matched up to the first slash in the path? Are you saying that ` r.GET("/:code", p.redirectHandler)` will match `/123` and `/123/hello`? Thought that's what the wildcard option was for.

[2015-07-03 17:42] #27 closed

[2015-07-03 18:19] #160 closed

[2015-07-03 18:20] #42 closed

[2015-07-03 18:21] #96 closed

[2015-07-04 09:24] #78 closed

[2015-07-04 09:25] #163 closed

[2015-07-04 09:27] #140 closed

[2015-07-04 09:30] #59 closed

[2015-07-04 23:26] faeronsayn opened #364 "Having trouble getting the form data in a POST request"
[code]

the Create handler is called from a POST request. I'm using Postman to test the post calls and it's simply not recognizing it. The response is unauthorized, even when I have "manu" and "123" as my User and Password.

<img width="1069" alt="screen shot 2015-07-04 at 7 22 53 pm" src="https://cloud.githubusercontent.com/assets/3820846/8509711/2f35eec6-2282-11e5-9dbf-1abecec137fb.png">

I have

[2015-07-05 00:30] manucorporat commented on #364
you are not parsing json!

[code]
notice I changed `json:"user"` to `form:"user"`

[2015-07-05 01:31] manucorporat commented on #355
@joeybloggs good job! I think we can close this issue.
@semihalev

[2015-07-05 03:53] faeronsayn commented on #364
@manucorporat, not sure what i'm doing wrong but it's not working for me.

Something simple like this

[code]

I'm getting `{"response": ""}` as my response. Here is a screenshot

<img width="1083" alt="screen shot 2015-07-04 at 11 50 47 pm" src="https://cloud.githubusercontent.com/assets/3820846/8510237/d2e81f74-22a7-11e5-82f8-df70cc12db76.png">

[2015-07-05 10:37] javierprovecho commented on #364
@faeronsayn check out possible solutions:

1 - are you using a `POST` handler?
[code]
2 - are you sending correctly the post request? try this:
[code]

[2015-07-05 11:23] manucorporat commented on #364
@faeronsayn it works for me:
<img width="1440" alt="screen shot 2015-07-05 at 13 22 36" src="https://cloud.githubusercontent.com/assets/127379/8511486/f4a3b99a-2318-11e5-80d6-96b5e00dbb34.png">

[2015-07-05 11:27] manucorporat commented on #364
@faeronsayn I see you configured a header manually? `Header (1)`
can you show it to us?

[2015-07-05 11:31] javierprovecho commented on #364
To give you better assistance we request full code or large part of it. If you have any problem making it public here, you can send it to either @manucorporat 's or my email (1).

1. javiertitan@gmail.com

NOTE: The information in this e-mail is confidential, being solely for the addressee named above. If you read this message and not the intended recipient, please note that it is completely forbi

[2015-07-05 15:18] manucorporat commented on #223
@zerkms I do not understand this issue.
I just tried it, and it works perfectly.

My struct:
[code]

[code]
what is that?

do you want each word to be a different string inside the array?

[2015-07-05 15:29] manucorporat commented on #361
@thellimist closing issue...

[2015-07-05 15:29] #361 closed

[2015-07-05 16:03] manucorporat commented on #252
@biztos english is not my mothertongue. are you sure about that?

[2015-07-05 16:26] manucorporat commented on #346
@tsingson @slimmy is right.

[code]

[2015-07-05 16:26] #346 closed

[2015-07-05 16:27] #336 closed

[2015-07-05 16:31] tsingson commented on #346
@slimmy @manucorporat   thanks a lot!!

[2015-07-05 16:43] alediaferia commented on #323
**+1** for this

Actually this would help make make better unit tests.
I agree using `httptest.Recorder` is the right way most of the times but sometimes it is useful testing if my custom middleware actually sets the right values through `func (c *Context) Set(key string, value interface{})` without having to check status codes which may not make sense with that case.

[2015-07-05 18:10] austinheap commented on #252
:+1:

[2015-07-05 18:13] manucorporat commented on #252
@biztos @austinheap thank you! http://english.stackexchange.com/questions/257120/middleware-vs-middlewares

@javierprovecho your fix was merged!

[2015-07-05 18:13] #252 closed

[2015-07-05 19:22] faeronsayn commented on #364
@manucorporat ahh, it seems like removing the header did the trick. Slightly weird though. The header just identified the content-type to `application/json`. Here is the screenshot.

<img width="1073" alt="screen shot 2015-07-05 at 3 20 50 pm" src="https://cloud.githubusercontent.com/assets/3820846/8513021/862fd5d2-2329-11e5-88b6-e9dcb7901502.png">

[2015-07-05 19:25] javierprovecho commented on #364
@faeronsayn of course not, because you are not sending JSON, you are sending form based data.

[2015-07-05 20:03] manucorporat commented on #364
@faeronsayn

once you removed the wrong content-type, Postman was able to set the correct one under the hood.

 as @javierprovecho said, there is no way it would work. `form-data` format is not JSON, it is a completely different data format. so, if you are declaring that the data in the body is json, `c.Bind()` will try to decode it as a json string, this process will obviously fail returning a "i

[2015-07-05 20:11] #364 closed

[2015-07-05 22:06] zerkms commented on #223
After half a year I used to living with the problem and honestly I cannot spend even more time to recreate the original environment to reproduce it again.

Let's treat it as not a bug.

Thank you.

[2015-07-05 22:06] #223 closed

[2015-07-06 00:34] manucorporat commented on #223
@zerkms ok! don't worry. Thanks anyway.

[2015-07-06 08:22] itnik opened #365 "how to dynamic validate the params?"
eg: the user's attributes in different function has defferent required attributes. for example in login function the account and password are required but in update function the id is required. so how can i solve this problem?

[2015-07-06 09:01] javierprovecho commented on #365
@itnik can you post your actual code to understand better which are your paths and where are your parameters?

[2015-07-06 21:14] zserge commented on #155
@manucorporat Looks great, thanks!

Is there any reason to return the handler function name as a string, not as a `Func` pointer?
If I understand it correctly - the final goal is to find the comments before the functions and parse them to generate Swagger/RAML docs? Probably the file name and line number would be more helpful (like returned by the `Func.FileLine`). Then the parser could just read

[2015-07-06 23:21] manucorporat commented on #155
A pointer to a function is too low level, in my experience a high level API should hide low level details, it makes everybody code safer. For example: if the middleware API allows everybody to jump between handlers and do crazy things, the whole community of middleware would be more error-prone and unsecure.

I like the idea of providing the filename and line, that's why I created the `RouteInfo`

[2015-07-07 09:52] frodoking opened #366 "There is no document ？"
hi guys,

Gin is great Go Project, special use tree to manage router,
like use ':' & '*' to match params. but when i read tree.go.
i can't understand how to build a MethodTree, because there are so many complex rules.
Which would have been fine if the document have been built on your website(https://gin-gonic.github.io).
Additionnal, perfer to see some Structure Chart or Timing Chart about this pr

[2015-07-07 12:44] vahid-sohrabloo opened #367 "Routring With Host(Domain)"
Hi
Can I define routing separated with Host(Domain)?

[2015-07-07 12:51] javierprovecho commented on #367
@vahid-sohrabloo check #347

[2015-07-07 12:51] #367 closed

[2015-07-08 07:35] #334 closed

[2015-07-08 07:36] #119 closed

[2015-07-08 08:44] #156 closed

[2015-07-09 06:39] thinkong commented on #365
I've a similar problem... (or it may be a different problem)
I have tried
[code]
and then tried to do
[code]

but it keeps showing me a validator error..
how would i properly bind a json so that "C" is optional and could be anything?

[2015-07-09 06:54] itnik commented on #365
@javierprovecho @thinkong
like this .I have a obj

type User struct {
	Id            string `json:"id"`
	Account       string `json:"account"`
	Password      string `json:"password"`
	Nick          string `json:"nick"`
	Sign          string `json:"sign"`
	Avatar        string `json:"avatar"`
}

when i do login function
I should validate the Account and Password ,right.so i should change this obj l

[2015-07-09 09:09] javierprovecho commented on #365
@thinkong check #355 and update gin `go get -u github.com/gin-gonic/gin`, it should work now.

[2015-07-09 09:13] manucorporat commented on #365
@itnik you can not change a struct at runtime, it is just not possible in Go.
Workarounds:
- Validate it yourself
- Create different structs for each use case

[2015-07-09 09:23] thinkong commented on #365
@javierprovecho hmm... updating gin didn't quite work.. I just disabled validation for now..

[2015-07-09 09:29] itnik commented on #365
@manucorporat  yes i see,so i ask how to validate the attribute in dynamic way. in this case ,i just validate the attribute in my own way. i think the validation practicability is not strong.i hope the author can improves it

[2015-07-09 09:34] oryband opened #368 "add option to UseNumber() in gin.Context.BindJSON()"
When receiving a json object with number values and calling `context.BindJSON()` (or `context.Bind()`), the numbers will be unmarshalled to `float64` values. If needed, this can be switched to unmarshalling into `int` by using `json.Decoder.UseNumber()`. However, `BindJSON()` doesn't give this control. This should be added somehow:
- maybe a global switch, though this doesn't give per-request cont

[2015-07-09 09:34] oryband commented on #368
@bredov

[2015-07-09 09:46] javierprovecho commented on #365
@thinkong hey, manu ( @manucorporat ) found the error, it is related with the validation package, not gin. For now, disable validation until a fix has been pushed to validation repository.

[2015-07-09 09:52] thinkong commented on #365
@javierprovecho OK good to know

[2015-07-09 09:54] javierprovecho commented on #365
@thinkong https://github.com/bluesuncorp/validator/issues/106

[2015-07-09 14:41] manucorporat commented on #365
@thinkong we are kind of disappointed with the existing validation libraries. In the meantime, we will develop our own fork of `go-validator`. https://github.com/gin-gonic/validator

[2015-07-09 17:05] joeybloggs commented on #365
I will look at this asap, what values got assigned to MyStruct?

[2015-07-09 17:49] manucorporat commented on #365
@joeybloggs anything. Just do a request like:
{ "C":"" } or {"C": "a"} or {"C": 2}

[2015-07-09 18:51] joeybloggs commented on #365
@itnik @javierprovecho @manucorporat
the issue has been fixed in release 5.10.1

sorry for the inconvenience, there are just so many scenarios to check and this one slipped through the cracks.

To answer some of the questions above, you can make validation optional on a field via the following validation `binding:"omitempty,len=0"` and the length validation will only run when there is data in the

[2015-07-09 23:49] prsolucoes opened #369 "Redirect with cookie not working"
Hi,

Im trying set cookies and redirect on the same request, but when i redirect the cookies are not created, if i dont redirect, the cookies are created.

Sample code that im using:

[code]

Is this the correct way to redirect to another action and set cookie?

[2015-07-10 00:24] manucorporat commented on #369
not sure, I am going to investigate. Gin internally uses http.Redirect(). ie. we have not using a untested custom implementation of redirect. http://golang.org/pkg/net/http/#Redirect

[2015-07-10 00:44] itnik commented on #365
@joeybloggs okay.

[2015-07-10 00:53] thinkong commented on #365
@joeybloggs ok updating gonic seems to work now (guess it updated to 5.10.1 :smile:

[2015-07-10 05:38] olebedev commented on #369
@prsolucoes this is not gin's issue, take a look http://stackoverflow.com/questions/1621499/why-cant-i-set-a-cookie-and-redirect

[2015-07-10 06:54] thinkong commented on #365
this maybe a different issue.. but i;ll put it here anyway..

say i have something like the following
[code]

when i try to bind that to an appropriate json it says

"Field validation for "A" failed on the "required" tag

ofcourse disabling validation will work.. so.. is this a bug or am i using it wrong?

[2015-07-10 07:17] javierprovecho commented on #366
@frodoking can you rephrase your question, please?

[2015-07-10 07:30] thinkong commented on #355
I'm sorry to bring this issue from the dead....
But if i use "binding:required" and then not send that specific node in the JSON it will crash my server...
only leaving "Field Validation for "xxx" failed on the "required" tag

is it supposed to do this? I want this to be required but if i enable this... my server will be very vulnerable to attacks..

[2015-07-10 07:44] javierprovecho commented on #355
@thinkong it is not supposed to do that.

cc/ @manucorporat

[2015-07-10 10:17] joeybloggs commented on #355
@thinkong It seems like validation passed, from the error message you received but strange that your server would crash.

Could you provide a stack trace, the code and POST data you used, I could then take a look to at least verify that validation succeeded or caused an issue.

[2015-07-10 11:09] vadimyer opened #370 "Performance of for loop and printing it's result in template"
I'm new to Go and gin-gonic (so far, not even a programmer) so excuse my ignorance if this is a simple question and I make something wrong.

I've created a slice, filled it through for loop and pushed the slice to template:
[code]

index.tmpl:
```{{ range .a }} {{ . }} {{ end }}```

I'm comparing performance with php. I used to test my php scripts with loader.io, pushing 5k/s of concurrent connect

[2015-07-10 12:41] chrisjess opened #371 "Error (undefined: StructValidator) when running go get"
$go get github.com/gin-gonic/gin

github.com/gin-gonic/gin/binding
/usr/local/go/src/github.com/gin-gonic/gin/binding/default_validator.go:15: undefined: StructValidator

[2015-07-10 16:11] manucorporat commented on #370
@vadimyer if you use FasCGI, then it is probably not the same configuration.
if your server multi-core?

1. If Gin is running in debug mode. I will reload from disk and parse the template from scratch for everysingle request.
2. Have you changed runtime.GOMAXPROCS()? by default Go runtime will only use a single CPU thread, since you performance test is highly concurrent and the
3. Make sure the Go

[2015-07-10 16:18] vadimyer commented on #370
@manucorporat both boxes are fully similar 1 core test boxes with same configuration of sysctl.conf, and nginx. Things like somaxconn and file descriptors, and many many others are already tuned in nginx and kernel.
Gin is running in release mode, it gives 250k successful responses (out of 300k possible) for hello world (passing the variable into html template). For comparison, php's hello world g

[2015-07-10 16:18] chrisjess commented on #371
Looks like the issue was related to an update of go to 1.4.2.

To resolve I had to delete pkg folder and update existing packages.

[2015-07-10 16:18] #371 closed

[2015-07-10 16:51] manucorporat commented on #370
it looks like it is a `*template.Template` performance issue:
Understand that `template.Template` was probably not created with the idea of passing thousands of variables.

Probably the fastest way to render 1000 numbers is not using a template.Template. but instead writing directly to `c.Writer`.

Your performance test does not really measure the performance of Go or Gin, it is a stress test for

[2015-07-10 17:13] vadimyer commented on #370
@manucorporat thanks a lot, this example helps. I understand that this is not a go/gin related issue.

But what if I really need to pass say 100 items to the template (this is rather common) and not suffer real bad? Not plain numbers, but like 2D arrays with lots of fields. From what point should I go to understand this better?

P.S. The result with this example is around 85k.

[2015-07-10 17:31] manucorporat commented on #370
@vadimyer 100 items are not 1000. I think this is important. The requirements in software are really important. Engineers choose different algorithms, and data structures depending of the kind and size of data.

So 100 items is probably ok. Anyway, it is still a expensive operation that blocks the current thread.
I have seen a 4x performance improvements when running `GOMAXPROCS=8`.

Also, the sta

[2015-07-10 17:31] #370 closed

[2015-07-11 12:17] ClanStyles opened #373 "Appending gin.H"
Is there an easy way to use middleware to append to gin.H for example during auth, if you'd wantto append IsAuthed as a flag every call and then User object.

[2015-07-11 12:25] manucorporat commented on #373
@ClanStyles this is an example of how the an simple auth middleware works:
https://github.com/gin-gonic/gin/blob/master/auth.go#L46-L58

it uses `c.Abort()` when the user is not authenticated and c.Set() to pass the User object.

[2015-07-11 12:27] ClanStyles commented on #373
Right, then on return You'd still have to create a gin.H{ "UserKey": c.MustGet(gin.AuthUserKey) }

I want to avoid doing this in 15 places. I'm thinking of passing the same gin.H as a param around but I'm finding I need this for title, auth, user object etc..

I'm just wondering if there's another way

[2015-07-11 12:35] manucorporat commented on #373
@ClanStyles I don't understand.
what do you mean with "on return You'd still have to create a gin.H"?

[2015-07-11 12:50] leedstyh commented on #373
Your can use `c.Keys` directly:

In your middlewares, you `c.Set(k, v)`, and in your final handler pass the `c.Keys` to your template.

Of course, you DON'T use `c.Keys` in `c.JSON()`, cause that will expose every filed in your `c.Keys`.

[2015-07-11 15:34] manucorporat commented on #373
@leedstyh that was clever!

[2015-07-11 16:02] manucorporat opened #374 "Experimental Gin Logo!"
![path4201](https://cloud.githubusercontent.com/assets/127379/8634385/ff8ed456-27f6-11e5-8b14-c089e33f3ae1.png)

thanks @javierprovecho !

[2015-07-11 16:11] manucorporat commented on #374
we are still open to new ideas and proposals!

[2015-07-11 22:42] osiloke commented on #286
Thats fine, that would be easier to refactor. May i ask why you decided to go against exporting the var?

[2015-07-12 00:14] ClanStyles commented on #373
I apologize for my unstructured question.

@leedstyh yeah this is what I was looking for... a solution to having set title, auth info, etc.. "boiler plate" view items every view and interacting with them in the in views.

[2015-07-12 08:20] #373 closed

[2015-07-12 12:14] manucorporat commented on #286
@osiloke I want to reduce side effects as much as possible, if the gin API protects against side effect changes, everybody's code is easier to debug and more secure.

Exporting the var, means that their value can be changed anytime.

[2015-07-13 09:19] frodoking commented on #366
Please forgive me for my poor English.

gin is a great project, it is special when using tree structure to manage the path, the symbol of ':' and '*' to match the param of queries. But when I go through the source code of tree.go, I can not understand how to build methodTree, because the rule of tree architecture is too complex. So if it is better to offer some documents in your website, and I als

[2015-07-13 09:49] javierprovecho commented on #366
@frodoking thank you!

For benchmark times, you can checkout a wonderful table at `README.md`.

For more information about tree structure used in the router, I suggest to checkout the original project at https://github.com/julienschmidt/httprouter

[2015-07-13 09:55] cgyy opened #377 "if gin handler return error"
there is too many return to write, can the hander signature like this:
func (c *gin.Context) error. so we could write code like this:

[code]

not:

[code]

[2015-07-13 14:43] itsjamie commented on #344
@EmergentBehavior I think this could be implemented as a custom renderer ffjson?

@manucorporat would that make sense?

This would allow you to change the behaviour to skip the calls to the json package and implement the "Tips" that the ffjson package mentions for reducing GC pressure.

[2015-07-15 00:58] clanstyles opened #378 "middleware ordering"
I want to order my middleware so that at the end of every request, the final act is to save the session.

Example:

[code]

The problem is that session save never happens. My thought is that the next() happens, but everything has rendered by that point. If I do the save before the Next() the rest of the middleware doesn't happen like AuthRequired() during my routes that are auth only.

[2015-07-15 15:25] joeybloggs commented on #374
awesome!

maybe make the liquid the same blue as many of the gopher images out there and yellow for the wedge?

[2015-07-15 15:30] joeybloggs commented on #355
@thinkong is this an issue or related to your updated comment here: https://github.com/gin-gonic/gin/issues/365?

cc/ @javierprovecho @manucorporat

[2015-07-15 19:04] javierprovecho commented on #374
@joeybloggs Well that make sense according to golang images and logos but not to the original purpose of the gintonic color. I'm thinking about it.

[2015-07-16 00:33] thinkong commented on #355
@joeybloggs I can't get a stack trace.. (it doesn't show me any) it just spits out "Field Validation for "xxx" failed on the "required" tag" and exits the program..
I guess i double posted this issue on #365

[2015-07-16 00:36] joeybloggs commented on #355
@thinkong would you be able to provide a code sample and the data you posted? I may be able to find something

[2015-07-16 00:47] thinkong commented on #355
@joeybloggs

basically
[code]
then if i pass
[code]

it crashes/panics

[2015-07-16 00:53] joeybloggs commented on #355
Thanks I'll take a look tomorrow morning

[2015-07-16 01:01] thinkong commented on #355
@joeybloggs
oh.. someone on my team added a log.Fatal(err) in the code.. causing these..
Really sorry for the confusion.

[2015-07-16 01:10] joeybloggs commented on #355
OK just glad it's all sorted out, and that it wasn't the validator :)

[2015-07-18 07:18] ralph327 opened #379 "Router Group No Slash Not Redirecting"
I have a router group "/place" that has the routes "/" and "/:id/*action".

localhost/place/2/ works, but localhost/place/2 does not work although I believe it should according to the readme.

![image](https://cloud.githubusercontent.com/assets/3886287/8760713/beb0a336-2ce9-11e5-9247-a34860500225.png)

I've tried with RedirectTrailingSlash = true, with RedirectFixedPath = true, with both, with nei

[2015-07-18 07:48] javierprovecho commented on #379
I believe is because the structure of the router, that's using a tree.

If your route where like `/place/:id` it would work with both `/place/2` and `/place/2/`.

But because you added `*action`, the router is expecting at least another bar.

If it troubles you, I suggest to declare a handler redirect from `/place/:id` to `/place/:id/*action/`.

[2015-07-18 07:54] ralph327 commented on #379
Okay. I'll give that a try.

[2015-07-18 17:08] ralph327 commented on #379
Alright, that works! Awesome. I'll keep this solution in mind for the future.

Thanks!

[2015-07-18 17:12] #379 closed

[2015-07-19 07:35] faeronsayn commented on #364
Hi @manucorporat and @javierprovecho. I want to POST JSON data from the client. If I do that from the client, how can I access that JSON data with golang and gin? I know if I was simply using `net/http` package I could use the `req.Body` and use `json.Decoder` to get the JSON. Does gin provide similar functionality or handle this in a better fashion?

[2015-07-21 00:33] esantoro commented on #374
I like it.

[2015-07-21 00:39] esantoro opened #380 "Some open web applications to study?"
Hi!

I think it would be a nice improvement to the documentation to maintain a list of open source projects using the gin framework, so that people learning gin can study real-world examples.

[2015-07-22 10:13] oryband commented on #351
hey @danielalves , did you finish this middleware? care to release it? i'm working on a statsd middleware as well, which does a slightly different thing. we might be able to merge them as one.

[2015-07-22 14:23] danielalves commented on #351
Hey @oryband! I don't mind at all, but I need to do a lot of cleaning first. I'll work on it and will definitely let you know when its ready.

[2015-07-23 08:24] maxux opened #383 "Socket status with the context"
Hi,

Is there a way to know if the http socket is still open (the client may reset the connection during the process) or not ? I don't find anything usable from the Context to reach that.

Thanks.

[2015-07-23 22:51] EtienneR commented on #129
Yes, it's works for me (with the v1.0rc2 of Gin) :
In the main.go :
[code]

And the form ("views/form.html") :
[code]

If we check all colors, the result is like :
[code]

[2015-07-24 20:44] 01AutoMonkey opened #384 "Gin recognizes some URL characters but not others (http://localhost:3459/What%3F.html but not http://localhost:3459/What?.html)"
My markdown converter converts `[What?]()` to the link `http://localhost:3459/What?.html` or `/What?.html` but when I go there I get `404 page not found`, but if I manually change the `?` character to `%3F` everything works.

My relevant gin code:

[code]

Is it possible to make gin recognize my URLs even if they have `?` in them? Could this perhaps have  something to do with my use of r.Static?

[2015-07-24 22:06] tshr opened #385 "500 errors when making HEAD requests"
Hi,

Since upgrading to v1.0rc1 we've been seeing intermittent 500s being returned by gin coupled with the error "Redirecting to HTTPS". It seems like the call to c.Writer.Written() on line 171 of secure.go is returning false even though http.Redirect(w, r, url.String(), status) is being called from within the process function. We did not see this error prior to upgrading from 0.x. Here is how we

[2015-07-25 11:13] itsjamie commented on #384
This is because the ? is a reserved character for notating the start of a query string.

Rather than getting Gin to recognize the URL, I imagine the easier route would be encoding the URL from the markdown converter.

[2015-07-25 13:39] 01AutoMonkey commented on #384
Escaping URLs in the markdown converter did the job.

[2015-07-25 13:39] #384 closed

[2015-07-25 23:41] thellimist opened #387 "binding POST"
I checked existing issue's but couldn't find a solution.

[code]

![](http://i.imgur.com/cDCjNUV.png)

[code]

I also tried deleting required tag. error disappeared but still newDevice was empty. The sending method is `POST`. I don't have any headers. Why doesn't it bind?

[2015-07-25 23:43] nazwa commented on #387
Change your settings from "form-data" to "x-www-form-urlencoded". :smile:

[2015-07-25 23:46] thellimist commented on #387
does `x-www-form-urlencoded` accept `_` character? It still gives `Field validation for "SystemName" failed on the "required" tag `

[2015-07-25 23:55] thellimist commented on #387
I found the bug.

[code]
[code]

[2015-07-25 23:58] nazwa commented on #387
Ha there you go. I was just going to say that it works totally fine for me.

![](http://u.mdfz.pl/b63ad604dd2b6f9ffd6dc286adc525e2.png)

[2015-07-26 00:05] thellimist commented on #387
I couldn't find what's the cause of the bug. Where do I report it?

[2015-07-26 03:19] Natande opened #388 "wildcard route error"
I think this router is valid, but it cause an error.

r.GET("/teachers/list", func (c *gin.Context){})
r.GET("/teachers/:id/profile", func (c *gin.Context){})

Error:
[GIN-debug] GET   /teachers/list            --> main.func·001 (3 handlers)
[GIN-debug] GET   /teachers/:id/profile     --> main.func·002 (3 handlers)
panic: wildcard route ':id' conflicts with existing children in path '/teachers/:id

[2015-07-26 13:58] hjianhao opened #389 "In the readme, there may be a mistake in sample codes."
func main() {
    router := gin.Default()

[code]

}

I think
page := c.DefaultQuery("id", "0")
should be:
page := c.DefaultQuery("page", "0")

[2015-07-26 16:28] oryband commented on #351
@danielalves just created a PR with my middleware. Feel free to review and suggest further additions: gin-gonic/contrib#55

[2015-07-26 18:45] ralph327 commented on #388
This issue is related to https://github.com/julienschmidt/httprouter/.

/teachers/list and teachers/:id conflict.

Look at Issue 73 from the project for more info: https://github.com/julienschmidt/httprouter/issues/73

[2015-07-26 18:50] javierprovecho commented on #388
I suggest to use 

`/teachers/list`

And

`/teacher/:id/profile`

It is a better routing.

NOTE: The information in this e-mail is confidential, being solely for the addressee named above. If you read this message and not the intended recipient, please note that it is completely forbidden any use, disclosure, distribution and / or duplication of this communication without the consent of the sender

[2015-07-26 19:39] windweller opened #390 "Serve Static Website Through Gin"
Hi,

I'm reading up on how to serve an entire website through Gin. Based the front page demo, I wrote:

[code]
I have a folder under the root directory called `./web/views`, and the structure is:

[code]

And I got page not found error:
[code]

How do I serve the file based on the relative address??

[2015-07-27 05:43] justintan commented on #388
@javierprovecho Thanks for your suggestion. It is an option. The naming style I chose is similar to twitter REST api. I think teachers means a resource collection. /teachers/:id is used to get one object from the collection.
It is an option to choose another naming style to avoid this error. However I think the issue is still there.

[2015-07-27 08:53] maxux commented on #383
Okay, after search:
`c.Writer.(http.CloseNotifier).CloseNotify()`
do the trick.

[2015-07-27 08:53] #383 closed

[2015-07-27 14:08] danielalves commented on #351
@oryband Cool! :+1:

[2015-07-28 19:59] lalloni opened #391 "Support HTTP content negotiation wildcards"
Content negotiation as implemented does not support request media type wildcards.

For example, when a client sends `Accept: */*`, the negotiotion logic should respond with any type offered. Currently it fails.

[2015-07-28 21:01] mark-rushakoff commented on #380
You can use godoc.org's [list of importers for the gin package](https://godoc.org/github.com/gin-gonic/gin?importers) to discover other open source repositories using gin. The downside is that there isn't filtering or sorting to know which consumer is "best" (or even good) to look at.

[2015-07-29 04:15] davisford commented on #115
Why was this issue closed?  I'm having a similar problem where c.Bind() does not fail with invalid input.  The api has also changed so `Bind()` now returns an `error` instead of a `bool`.

It appears that gin uses [this validator](https://godoc.org/gopkg.in/bluesuncorp/validator.v5) as it's default, but it does not appear to run for me when I send in JSON with missing tags that are `required`.

[2015-07-29 19:12] davisford commented on #378
You figure this out?  Is there a way to order middleware so it runs after the main handler?

[2015-07-29 20:22] #390 closed

[2015-07-29 20:26] nazwa commented on #378
[code]

[2015-07-29 20:32] nazwa commented on #115
This is an old issue and like you said, the binding tags do work. Seems like the docs still need to be updated.

[2015-07-30 10:51] lmas commented on #228
I would :+1: for @gustavopaes suggestion, but LoadHTMLFiles accepts a range of strings, so you'd have to come up with some funky code to support both functions.

It would be easier if there was a separate function altogheter to add a funcmap, like @TrollWarlord suggested.

In any case, :+1: for this new feature. Funcmaps are common.

[2015-08-01 05:19] tommoholmes opened #392 "Cannot get null array json"
Hai, I want to binding array json, this my struct json

[code]

when i send null array is't not working and when I print using

[code]

it's false

[2015-08-01 22:25] davisford opened #393 "New release with validator.v8?"
Any chance you can publish a new version that upgrades to v6?

https://godoc.org/gopkg.in/bluesuncorp/validator.v6

[2015-08-02 05:58] adred opened #394 "too many arguments in call to validator.New"
Hi, I don't know if it's a GB or Gin issue but my app fails to build. Here's the build error:

[code]

Any idea?

[2015-08-02 06:18] adred commented on #374
Not minimalistic.

[2015-08-03 08:44] dyxushuai opened #395 "I need a public api like `combineHandlers`."
I have a `Group` instance with some common handlers. Then I define some route rule with this `Group`.
If I need more common handlers with this `Group` after these...

e.g.

[code]

`xxx` is what I want.

[2015-08-03 08:48] JohnSmithX commented on #395
I think I can use `next()`  solve the problem.

[2015-08-03 15:36] theduke opened #396 "DELETE request and body data"
In a DELETE request,

[code]

Results in an empty string, event though auth_token is definitely in the Body.
Is it possible that the body is not properly parsed for a delete request?

[2015-08-03 21:17] dalu commented on #396
http://stackoverflow.com/questions/299628/is-an-entity-body-allowed-for-an-http-delete-request
body in DELETE is supposed to be ignored

[2015-08-04 01:33] thellimist opened #397 "multiple c.Query in GET"
is there a way to get all the parameters with the same name from a request like `http://localhost:8080/test?id=5&id=10`.

`c.Query("id")` only gets the first one.

[2015-08-04 08:22] leedstyh commented on #397
So you need go build-in lib `http://golang.org/pkg/net/url/#Values`

In your case:

`ids, ok := c.Request.Form["id"]`

[2015-08-04 11:48] thellimist commented on #397
I'm getting as with `GET` method. Request `http://localhost:8080/test?id=5&id=10`, `ids, ok := c.Request.Form["id"]` returned `ok: false, ids: []`.

[2015-08-04 11:57] leedstyh commented on #397
Try calling `c.Request.ParseForm()` before `ids, ok := c.Request.Form["id"]`

[2015-08-04 11:58] thellimist commented on #397
That was the missing part.

[2015-08-04 11:58] #397 closed

[2015-08-04 13:34] TheInsideMan opened #398 "binding issue with multipart form"
Hello Im getting the below error. This error has only started since switching to a multipart form with file being posted. Any advice much appreciated.

[code]

[code]

[code]

[2015-08-04 14:46] dalu commented on #293
how about
`WrapHandlerFunc` and `WrapHandler`

[2015-08-05 02:28] lidashuang commented on #374
:+1:

[2015-08-05 02:39] kaelliu commented on #374
i think you should make more colors in logo:D

[2015-08-06 22:51] dalu opened #399 "Suggestion: Better error support"
So far we can call c.Error(error) and add a function at the end of the request/response cycle to check if len(c.Errors)>0.

However sometimes you have success messages, sometimes warning messages or error messages.

I'd like to return something like
[code]

Something like
c.Msgs.Push("type","message")
c.Msgs.JSON(200)

Of course you could create your own package to do this. But it would be more el

[2015-08-06 23:38] dalu commented on #399
On second thought, c.Set c.Get can be used for this.

[2015-08-06 23:38] #399 closed

[2015-08-06 23:41] nazwa commented on #399
Out of interest, why do you use action parameter + switch to determine your handlers instead of registering them individually?

As to your error handling problem, if you have to return multiple errors and warnings in a single request, I would make a new type for them and output that instead of trying to differentiate them using the c.Error. I feel like c.Error should be used for actual errors rath

[2015-08-07 01:09] itsjamie commented on #392
I imagine what is happening is that the JSON you're receiving is sending a JSON value of `[]`, which is treated differently than a `null`.

Here is a playground link that shows the default behaviour of Go when dealing with JSON null values in slices rather than `[]`.

http://play.golang.org/p/zVYAKPD-M2

If this isn't your issue, my apologies!

[2015-08-07 02:55] dalu commented on #399
I can pass options to the handler and I can inject that handler into other handler's constructors.
And should I want it I can mount those handlers on different routes, useful for e.g. a file upload handler that has an option to handle image files only and another handler to handle videos.
I'd like to keep one structure for all handlers and every handler should have options and should be injectable

[2015-08-08 02:37] joeybloggs commented on #355
@javierprovecho @manucorporat I think this can be closed now it was not an issue with the validator that prompted the reopening of this issue.

[2015-08-08 02:45] joeybloggs commented on #394
I can confirm that no breaking changes have, or will be, made to validator that would cause this.

[2015-08-08 09:49] z0rr0 commented on #398
Hello,
I have a same problem but for simple HTTP form, it occurs always.

[code]

[code]

[2015-08-09 08:25] bolshoy opened #400 "gin/render/text/WriteString - parameter interface issue"
Here's the function signature:

[code]

Now let's assume that we are replacing the gin context writer with our custom one, like in gzip middleware:

[code]

If we now call context.Write it will use our custom writer as needed, but context.String will not - because it calls WriteString, which uses a generic interface http.ResponseWriter and not  gin.ResponseWriter. I think the signature should be

[2015-08-10 04:16] tihuinc opened #401 "Print Request Body empty"
I'm new to Go and Gin, and am having trouble printing out the full request body.

I want to be able to read the request body from third party POST, but I'm getting empty request body.
[code]

My entire code is as follow. Any point is appreciated.

[code]

[2015-08-10 11:38] dalu commented on #399
btw should I clone the context before passing it around?

[2015-08-10 12:34] nazwa commented on #399
Only if you are passing it into a new goroutine :)

[2015-08-10 15:56] asdine commented on #393
+1

[2015-08-11 01:13] ironiridis commented on #401
Probably because `c.Request.Body` [is an io.ReadCloser](http://godoc.org/net/http#Request), so you need to read from it, not simply print the string value of it.

[2015-08-11 07:39] rawoke083 opened #402 "router two parameters"
HI
Is it possible to do a route like this

    //route 1
    r.Get("/product/:id/)

    //route 2
    r.Get("/product/:id/shop/:shopid")

[2015-08-11 18:10] theduke opened #403 "Handle POST and GET at same path"
How do I support both POST and GET requests to the same path?
For example,

[code]

[2015-08-11 18:12] theduke commented on #403
Never mind, hand an unrelated typo that resulted in an error message.

[2015-08-11 18:12] #403 closed

[2015-08-12 08:29] rak1988 opened #404 "'go get github.com/gin-gonic/gin' is not terminating"

[2015-08-12 18:43] rawoke083 commented on #402
Anyone :( ?

[2015-08-12 22:40] danielalves commented on #351
@oryband It took me sometime, but here it is: https://github.com/descomplica/pencil It is not as configurable as yours, but I think it glues things and makes life easier for devs :blush:

[2015-08-13 04:44] tihuinc commented on #401
Thanks, ironiridis, I figured it out with help from Stackoverflow too.
Thread here: http://stackoverflow.com/questions/31911579/gin-golang-empty-req-body.

[2015-08-13 04:44] #401 closed

[2015-08-13 13:25] oryband commented on #351
thanks @danielalves , it looks nice! i think it can integrate well with my middleware, since it accepts an interface.

@manucorporat have you seen the pr?

[2015-08-13 15:50] danielalves commented on #351
@oryband Cool!

[2015-08-13 20:57] ironiridis commented on #404
Working for me. What version Go?

[2015-08-13 21:07] ironiridis commented on #402
Yes.

    charrington@localhost ~/go/tmp $ cat test.go
    package main

    import "github.com/gin-gonic/gin"
    import "log"

    func main() {
      router := gin.Default()
      router.GET("/a/:a", func(c *gin.Context) {
        a1 := c.Param("a")
        log.Printf("/a/:a route invoked. a=%q\n", a1);
      });
      router.GET("/a/:a/b/:b", func(c *gin.Context) {
        a2 := c.Param("a")

[2015-08-14 19:35] nazwa commented on #340
This is an old one, but I finally had a chance to update the code and the `gin.Bind` middleware is brilliant. Saves so much effort.

@manucorporat one thing that's definitely missing is a shortcut method for public errors.
[code]
Setting `ErrorTypePublic` all the time get's quite repetitive :smile:

[2015-08-16 13:47] manucorporat commented on #340
@nazwa hi, I am finally back to work after the vacations, I will review all the pending issues in the next couple of days, sorry for the delay.

I want to keep the interface as simple as possible, how about this?:
[code]

[2015-08-16 14:02] manucorporat commented on #402
@rawoke083 yes, it can be done.
[code]

[2015-08-16 14:02] #402 closed

[2015-08-16 14:03] manucorporat commented on #404
@rak1988 it also works for me. I am going to close this unless more info is provided.

[2015-08-16 14:03] #404 closed

[2015-08-16 14:06] manucorporat commented on #351
@oryband @danielalves sorry everybody, I have been disconnected for vacations, but I am back to work with the batteries fully charged!

[2015-08-16 14:08] manucorporat commented on #393
@davisford asdine  of course! I was disconnected for vacations.

[2015-08-16 14:19] manucorporat opened #405 "Engine.Run() reads env: PORT"
I am going to add a new behaviour to `Engine.Run()`.
- Back-compatible: it will continue working as expected when an address is provided: `router.Run(":3000")`
- NEW: no parameter: `router.Run()`
  Under this API, gin will try to read the `PORT` environment variable and use it.
  If the `PORT` variable is not defined, ":8080" would be used by default.
- Under discussion: **Support for App Engine**

[2015-08-16 16:18] manucorporat commented on #405
Why this? the same code will run in your desktop, ec2 instance, heroku, elastic beanstalk and app engine...

[code]

[2015-08-17 04:04] danielalves commented on #351
:+1:

[2015-08-17 06:35] hjianhao opened #406 "example "Multipart/Urlencoded Form" has some error."
[code]
---
compile error: `nick declared and not used`

need to add the nick to JSON response's body to solve it.
[code]

[2015-08-17 07:15] hjianhao opened #407 "there are errors on example "query + post form""
[code]
---
first:
[code]
should be
[code]
---
second:
[code]
shoud be
[code]
the statement above will output :
`id: %s; page: %s; name: %s; message: %s 1234 1 manu this_is_great`

[2015-08-17 09:07] oryband commented on #336
@bolshoy fyi

[2015-08-17 10:29] javierprovecho commented on #407
@hjianhao thank you, fixed in dba1781814253c1b16519a65a567f17f94fb8feb.

I also noticed that output is wrong, because of the `c.DefaultQuery("page", "0")`. In the request, we already pass `&page=1`, so output should be `page: 1;` too!

[2015-08-17 10:29] #407 closed

[2015-08-17 10:37] manucorporat commented on #407
`fmt.Printf` should be used.
[code]

[2015-08-17 10:47] javierprovecho commented on #407
@manucorporat now pushing in #406 fix 😉

[2015-08-17 10:50] javierprovecho commented on #406
@hjianhao thank you, fixed in 02df324cc600500b1bc2590289b42f644c49ab68.

[2015-08-17 10:50] #406 closed

[2015-08-18 01:46] justindag commented on #388
@javierprovecho - Thank you for creating this framework, overall it's really well done.  However, this is a SERIOUS limitation.  To @justintan 's point.. Having to coerce your URLs into something not very RESTy or adding additional string parsing in your handlers is not really a solution IMHO.   Please prioritize upgrading the routing capability.  (gorilla/mux is really nice).  Thank you.

[2015-08-18 07:37] javierprovecho commented on #388
@justindag we will take note of your suggestion, however gin is a framework focused in speed, feature we achieved as #1. thank you 😉

NOTE: The information in this e-mail is confidential, being solely for the addressee named above. If you read this message and not the intended recipient, please note that it is completely forbidden any use, disclosure, distribution and / or duplication of this comm

[2015-08-18 18:07] davisford commented on #393
The reason I'm most interested in v6 is that he cleaned up the error structure significantly and made it much simple to deal with -- I'm waiting to finish up my specific handling of validation errors in my own project until then.

[2015-08-18 20:18] nazwa commented on #340
So was I :smile: I agree with you on this, polluting the interface is not a good option.
Your suggestion still requires another function call, so I think let's just leave it as it is at the moment for clarity.

[2015-08-19 17:47] thellimist opened #408 "How to bind slice"
[code]

`AppOpen` and `AppClose` seems to be empty after binding.

My test request body is `(app_close_dates%5B%5D=asfd&app_close_dates%5B%5D=qeqwe&app_open_dates%5B%5D=3&app_open_dates%5B%5D=5&login_date=qqq&logout_date=yyy`

Result is
`sessiondata--> {52 qqq yyy [] []}`

[2015-08-20 01:21] joeybloggs commented on #393
just a heads up @manucorporat & @davisford

v7 has been released and is a drop in replacement for v6, unless custom functions have been created, hence the version bump.

v7 allow for cross struct cross field validations using tags see notes here: https://github.com/bluesuncorp/validator/releases/tag/v7

[2015-08-20 14:44] davisford commented on #393
Looks good, thanks @joeybloggs -- @manucorporat if you want, I can try to send a PR with an upgrade to v7?

[2015-08-20 18:33] faeronsayn opened #409 "Convert pascal case to camel case or snake case when converting to JSON"
When we're outputting JSON i'd like to be able to convert my PascalCase properties on my model to camelCase for JSON. How can I do that? I want the whole API to communicate through camelCase but I want my go model properties to stay Pascal Case. Any good solution for this?

[2015-08-21 07:27] mvader commented on #409
Using struct tags:
[code]

[2015-08-21 21:14] faeronsayn commented on #409
that did it for me, thanks :+1:

[2015-08-21 21:14] #409 closed

[2015-08-22 03:52] faeronsayn opened #413 "How to output an array of ids instead of an array of objects in JSON"
[code]

Now I have `Users` key that is an array of User objects. But in my output JSON I just want to output the ids of the users and not all of the user objects. Any easy way of doing that?

[2015-08-22 14:59] se77en commented on #229
So how do I use regexp in router? Anyone can give me a suggestion?

[2015-08-22 16:34] sdvdxl commented on #27
I just write a finder to find templates,
[code]

and u can use like this just assume your templates are in `templates` directory, and main file is in the root of project:

[code]

[2015-08-22 17:00] nazwa commented on #229
Create a custom noRoute (404) handler and parse the url with your custom regexp code there :)

[2015-08-22 17:22] TheRealKira commented on #229
I would make a parameter or catch all parameter then parse it inside the router with the regexp package:

In your routing:

router.GET("/myroute/:regex",regexMyrouteHandler)

Then in the handler:

RegString := c.Param("regex")
// Parse and pass to another handler based on match

[2015-08-22 17:27] TheRealKira commented on #413
If your other values are zeroed out you can use `json:"myName,omitempty"`

[2015-08-23 01:28] joeybloggs commented on #365
@itnik just aheads up in v6 & v7 of the validator package it is now possible to do conditional validation using one of the two following functions https://godoc.org/gopkg.in/bluesuncorp/validator.v7#Validate.StructPartial
https://godoc.org/gopkg.in/bluesuncorp/validator.v7#Validate.StructExcept

[2015-08-23 02:23] thellimist commented on #413
http://stackoverflow.com/questions/31467326/golang-modify-json-without-struct

check this post there are some options you can use

[2015-08-23 08:29] se77en commented on #229
@nazwa @TheRealKira both big thx~

[2015-08-23 08:36] se77en commented on #405
Nice change

[2015-08-24 05:39] badoet commented on #183
@dcu awesome stuff!
im intending to switch over to a golang solution that works like einhorn
something like
github.com/rcrowley/goagain
or github.com/fvbock/endless
not sure what are the differences
any thoughts?

[2015-08-24 22:26] thellimist commented on #87
[code]
results is although ExtraData exist
[code]
when assigning to an interface slice everything seems to work out.

[code]
[code]

[2015-08-24 23:16] TheRealKira commented on #87
Try taking your []Tag slice and converting it to a []byte slice and write
it manually like this:

byteSlice,err := json.Marshal(yourSlice)
if err != nil {
panic(err)
}
c.Writer.Header().Set("Content-Type","application/json")
c.Writer.WriteHeader(200)
c.Writer.Write(byteSlice)

Can you see ExtraData in the json output if you do it this way? Do you get
an error at all? Maybe this can give you some m

[2015-08-25 00:15] thellimist commented on #87
[code]

this doesn't work.

I meant "nested structs"  sorry for that misunderstanding. Edited the comment

[2015-08-26 03:55] cgyy opened #414 "wrong color of logger method"
On logger.go , line 74.

[code]

I think it should be

[code]

[2015-08-26 05:04] thellimist commented on #408
Silly mistake.

The key should be `form:"app_open_dates[]"` not `form:"app_open_dates"`

[2015-08-26 10:58] robvdl opened #415 "Need example or documentation on how to use a custom render"
I am trying to use a custom renderer so I can use pongo2 as a template engine, I have found a commit that added this feature a while back:

https://github.com/gin-gonic/gin/commit/5ea7a92267a38b12e1315deda60fbfc636da7fa1#diff-703ef7478e12fbd8acd9d1af87bda71cR72

However, this feature does not appear to be documented and I can't figure out how to get my own custom render to work, I've been trying o

[2015-08-26 11:28] robvdl commented on #415
I figured it out in the end, though it would be really helpful for others to get this documented for the future.  I did something like this, which seems to work:

<pre>
type Pongo2Renderer struct {
}

func (p Pongo2Renderer) Instance(name string, data interface{}) render.Render {
	return Pongo2Renderer{}
}

func (p Pongo2Renderer) Render(http.ResponseWriter) error {
	fmt.Println("Custom renderer i

[2015-08-27 00:46] TheRealKira commented on #87
@thellimist could you post the code for your getTags() function? I'm trying to figure out where in your Extra struct the non interface type screws with encoding/json.

When you said array I knew you meant slice, I just wanted to make sure you were storing a slice []ExtraData and not just ExtraData in your top level struct.

[2015-08-27 01:09] TheRealKira commented on #415
Could you post some response time benchmarks you get using this renderer in your application as apposed to the default one? Whenever I've used the default html/template I get response times like `50ms` as apposed to writing a []byte slice to the writer manually where I get < `500 μs`

[2015-08-27 01:36] TheRealKira commented on #229
@se77en here's a better example I was responding from my phone before.
[code]

[2015-08-27 02:24] se77en commented on #229
@TheRealKira Thank you very very much!

[2015-08-27 06:19] robvdl commented on #415
Sure, but I gotta make it work first, I just needed to figure out how to make a custom renderer the "proper" way in Gin, now I just have to make the Gin Pongo2 renderer itself.  I can post updates when I have it working.

[2015-08-27 08:06] thellimist commented on #87
@TheRealKira
[code]

and getTags returns `[]Tag`. The inner struct (TagExtra) screws encoding/json somehow.
[code]

So expected result will be something like
[code]
but instead it returns
[code]

I hope I was able to clarify. Thank you.

[2015-08-28 05:06] atavism opened #417 "LoadHTMLGlob should ignore invalid files"
I use vim, and whenever I'm editing an HTML template, a swap file's created in the same directory which always causes Gin to crash when I do a refresh. I naturally could disable the creation of these files, or move them to another directory, but wouldn't it make more sense for Gin to ignore non *.html and *.tmpl files instead?

Or another possibility: just don't panic if an invalid template is enc

[2015-08-29 20:02] robvdl commented on #415
@TheRealKira I finished that little pongo2 template library for Gin in case you want to try it out: https://github.com/robvdl/pongo2gin

However, 50ms for using html/template doesn't sound right to me, it shouldn't be that slow unless either the template is very complex maybe, or maybe something isn't quite done right like templates being loaded from disk upon each request rather than cached in RA

[2015-08-30 11:13] robvdl commented on #293
I haven't been able to figure out how to use nosurf as a middleware either, but I can wrap the entire router using nosurf.NewPure(router) and start up the Gin app this way which works:

[code]

[2015-08-31 01:23] netroby opened #418 "gin-gonic/gin/gin.go:56: cannot use engine.handle404 (type func(http.ResponseWriter, *http.Request)) as type http.Handler in assignment"
github.com/gin-gonic/gin
../../src/github.com/gin-gonic/gin/gin.go:56: cannot use engine.handle404 (type func(http.ResponseWriter, *http.Request)) as type http.Handler in assignment:
 func(http.ResponseWriter, *http.Request) does not implement http.Handler (missing ServeHTTP method)
../../src/github.com/gin-gonic/gin/gin.go:57: cannot use engine.handle405 (type func(http.ResponseWriter, *http.Requ

[2015-08-31 09:32] robvdl commented on #293
If anyone knows how to wrap nosurf as a Gin middleware, please let me know, I have been trying and trying this for hours already and all I just can't seem to figure out is how to wrap nosurf as a Gin middleware.

I tried:

[code]

None of the above work.

@manucorporat sorry to bother you and maybe we want to move this to a new issue, but it would be really useful to have some info on how to get n

[2015-08-31 16:17] alehano commented on #293
+1

[2015-08-31 19:57] juddernaught commented on #385
Hi, I've been having this issue as well and it looks like this issue hasn't been responded to, so thought I'd comment. Thanks!

[2015-08-31 23:17] davisford commented on #323
@manucorporat can you suggest the best way to test middleware functions - i.e. I don't necessarily want to build up a whole http stack, just test a function where I pass in the context and manipulate the context, and then assert some state on the context after the function.

i'm trying to figure out from this thread here the most appropriate way to create a context without building up a whole stac

[2015-09-01 22:12] tshr commented on #385
Hi a little more info on this: We are able to replicate the 500 error when HEAD requests are made to any http endpoint in our app. They should be returning 301s.  HEAD requests to https endpoints result in 404s (while GETs return 200s). Is some extra configuration needed to make HEAD requests behave as expected?

[2015-09-01 23:09] javierprovecho commented on #385
there is no additional configuration for this to work.

this must be a bug. I will take a look at this issue is the most critical from all.

sorry for the delay in answering.

NOTE: The information in this e-mail is confidential, being solely for the addressee named above. If you read this message and not the intended recipient, please note that it is completely forbidden any use, disclosure, dist

[2015-09-01 23:14] tshr commented on #385
Great thank you for investigating. Please let me know if you'd like any more information from me.

[2015-09-02 00:30] thellimist opened #419 "Projects which uses Gin"
I couldn't find big open source projects which uses gin. Is there a list or could we create a list?

[2015-09-02 07:16] javierprovecho commented on #419
I heard about a debian repository server which was using it, I don't remember its name.

To know who is using publicly, we could start by here: 

https://github.com/search?p=1&q=import+%22github.com%2Fgin-gonic%2Fgin%22&type=Code&utf8=%E2%9C%93

NOTE: The information in this e-mail is confidential, being solely for the addressee named above. If you read this message and not the intended recipient,

[2015-09-02 09:53] widnyana commented on #419
or you can look [here](http://godoc.org/github.com/gin-gonic/gin?importers)

[2015-09-02 10:06] javierprovecho commented on #419
wow, that list looks awesome! thank you  @widnyana !

NOTE: The information in this e-mail is confidential, being solely for the addressee named above. If you read this message and not the intended recipient, please note that it is completely forbidden any use, disclosure, distribution and / or duplication of this communication without the consent of the sender. If you have received this message i

[2015-09-02 20:19] lawlite commented on #293
+1

[2015-09-02 23:34] thellimist commented on #419
@widnyana I agree to javier. The list is awesome thanks!

[2015-09-02 23:34] #419 closed

[2015-09-03 03:18] davisford commented on #393
@manucorporat any word on this?  i haven't looked at how much work it is, but as stated earlier, i'd be happy to take a stab at it and submit a pr

[2015-09-03 04:08] widnyana commented on #419
@javierprovecho @thellimist sure, you're welcome :)

[2015-09-03 06:29] joeybloggs commented on #393
Just an fyi v8 just released https://github.com/bluesuncorp/validator/releases/tag/v8.0.1

Hopefully no more releases for a while as I've made v8 as bullet-proof as I can for the foreseeable future.

biggest new feature besides changes is allowing registering of alias validations. I.e  can tell validator the tag "iscolor" is an alias for "hexcolor|rgb|rgba|hsl|hsla"

[2015-09-03 15:23] davidebettio opened #420 "Pass var to route handler"
Hi,

how can I pass a var (db connection pointer) to a route handler like this:

apiV1.GET("/users/:userid", userHandler)

so that I can use in userHandler ?

Now I use a global var but I want to move the handler functions to another package

[2015-09-03 16:39] nazwa commented on #420
You can create a database middleware and add connection to context.

[code]

[2015-09-03 16:54] chanxuehong opened #421 "is it better for IRouter"
[code]

[2015-09-04 02:05] chanxuehong commented on #421
or remove this interface

[2015-09-04 21:55] aaronjwood opened #422 "Exit status from docker stop"
I have a systemd service that runs a docker container which runs my program using gin. I noticed that when I issue a `systemctl stop firewall` it stops successfully but it shows as failed due to the exit status not being 0. I've masked a few things below but it gives you the general idea of the output:

[code]

Could this be from docker trying to gracefully stop the process running inside the cont

[2015-09-06 22:26] brunousml commented on #45
Thanks @alexandernyquist, you help me too.

[2015-09-07 14:25] nlamirault opened #424 "POST request and json body"
hi
i try to test POST request :

[code]

But i can't bind to JSON :

[code]

Any idea ? where i make an error ?
Thanks.

[2015-09-07 14:30] aacanakin commented on #424
`Content-type` should be `Content-Type` I guess

[2015-09-07 14:46] nlamirault commented on #424
[code]

[2015-09-07 14:57] aacanakin commented on #424
Can you also try to add binding import to your imports ?
[code]

[2015-09-07 17:01] nlamirault commented on #424
i try using

[code]
but i've got this error during build :
[code]

[2015-09-07 17:07] aacanakin commented on #424
Well, I just tried doing the older version of yours(without the imports but with Content-Type). It works on my machine. Please make sure that you're at the latest version.
[code]

[2015-09-07 17:35] nlamirault commented on #424
According to my gb manifest file i m using commit **704d690ac0e25fcd060ff82f75f913e879e65a3c**

[2015-09-07 21:49] javierprovecho commented on #385
@tshr i'm still looking at it, i'm debugging the new router. sorry for delay

[2015-09-07 22:14] #408 closed

[2015-09-08 04:51] Dashed commented on #393
any movement on this?

[2015-09-08 08:48] lawlite commented on #228
+1

[2015-09-08 15:01] tshr commented on #385
Thanks @javierprovecho !

[2015-09-09 13:14] tsmith123 opened #426 "c.Abort() not working for me"
I have implemented a middleware to check App IDs:

[code]

When I make a request with BasicAuth credentials everything is fine but when I make a request without any credentials both JSON responses are being returned even though I have `c.Abort()` included in the code. It should abort after the first conditional without moving on to the next. Is there something I'm doing wrong here?

[2015-09-09 13:54] #426 closed

[2015-09-09 16:42] max107 opened #427 "It possible to use c.Bind(&struct) with sql.NullString?"

[2015-09-09 17:08] nazwa commented on #426
I had the same problem, you have to manually return from the function. Abort only stops next middleware from executing :)

[2015-09-10 11:38] kamac commented on #293
+1

[2015-09-10 20:32] aliksend opened #428 "Can I out html file without template preprocessing?"
I use angular and have code like

[code]

When using html rendering it is failing 'cos go try to process as template and it can't.
It working good when

[code]

But if I try

[code]

to working with html5 routing in angular, server fails with

[code]

How can I solve it?

[2015-09-11 00:02] windweller opened #429 "How to Debug Hex encoding problem?"
Hi!!

I'm using Gin framework for a web server. I start to see some weird errors popping up. It wasn't there before:

[code]

The program is not shut down but this message makes me nervous. It doesn't appear every fixed time (like every minute), but it does come and appear after a while. Does anyone knok how to fix this bug (how to find the troubling file) and is it related to Gin?

[2015-09-11 12:23] dre1080 commented on #293
:+1:

[2015-09-11 19:28] dre1080 opened #430 "Custom Binding Error Message"
After calling `c.Bind(&form)`, is it possible to provide a custom validation error message per field rather than the generic "Field validation for '...' failed on the '...' tag"

[2015-09-11 19:45] dre1080 commented on #357
@manucorporat :+1:  would also like something like this for use in templates...

[2015-09-13 15:08] maxvi opened #432 "Using Delims with template"
How can I use .Delims with gin?
I can do it in Go

[code]

but I can't do it in gin.

Thanks.

[2015-09-14 12:32] orian opened #433 "SecureJSON method to prevent json hijacking"
Angular suggest adding prefix `)]}',\n` to all json responses.
Google adds `while(1);`.

What about adding `SecureJson` or `SafeJson` or `AngularJson` method which would write JSON with prefix?

[2015-09-16 13:50] defia opened #434 "proposal: add explanations for different modes"
AFAIK, there is no explanation for it anywhere, neither in Godoc nor in github readme.
so I suggest to add them to godoc and readme

[2015-09-16 19:21] bradrydzewski opened #435 "Write Status only"
Hi there, I've been using gin quite extensively in one of my projects, and there are often times I'd like to only return the status code (no body). Would you be open to a pull request that allows the following:

[code]

or even simply:

[code]

Currently I'm doing `c.Response().WriteHeader(http.StatusOK)`, however, I think the above helper functions are a bit more readable and more consistent with

[2015-09-16 21:03] phrozen opened #436 "Dependency Injection in Gin"
How to do dependency injection with Gin, for example for testing/mocking, or to have a Middleware that make a Copy of the database session in each request? (ie. MongoDB)

Have searched far and wide and I can't find any examples.

I'm currently injecting my DB Session Copy into the context map via middleware (defer close) and then extracting it with a function inside my handler with type assertion,

[2015-09-17 07:37] mvader commented on #434
http://godoc.org/github.com/gin-gonic/gin#pkg-constants the names are really really straightforward. The name says exactly what they do.

[2015-09-17 11:31] jame298 commented on #418
revert github.com/julienschmidt/httprouter version to 8c199fb6259ffc1af525cc3ad52ee60ba8359669

[2015-09-17 11:50] netroby commented on #418
Did that fixes it ? or should i close this issue?

[2015-09-17 12:09] jame298 commented on #418
Yes, httprouter has a commit 70708e46004c7bcb09b70e685a8b74a690135387

https://github.com/julienschmidt/httprouter/commit/70708e46004c7bcb09b70e685a8b74a690135387

Allow chaining of any http.Handler, not just http.HandlerFunc.

use old version of httprouter, can fix it.

[2015-09-17 18:19] bradrydzewski commented on #388
I hit the same issue. I think this is a pretty common pattern, and something I would love to see gin accommodate. You can see similar patterns in GitHub, Twitter, Facebook, etc:

[code]

I definitely appreciate gin's performance and simple api, and am huge fans of what you guys have done. I do, however, find the above restrictions a bit limiting for real-world applications.

[2015-09-17 19:28] ralph327 commented on #388
Would it be possible to create a fork of julienschmidt/httprouter/ to achieve these kinds of patterns? Maybe a subpackage could be created to drop-in the altered router in place of the router that Gin normally uses.

This way a user has the choice between pure speed and more flexible routes.

[2015-09-17 19:32] bradrydzewski commented on #388
@ralph327 it looks like v2 of the httprouter will resolve this issue (see https://github.com/julienschmidt/httprouter/issues/73) however, I'm not sure gin uses httprouter any more, does it?

[2015-09-17 19:37] ralph327 commented on #388
@bradrydzewski they use a custom version of it. It's baked right into gin so there are no dependencies.

[2015-09-18 04:24] workingenius opened #437 "server blocks and can not get any http response"
hi everybody,
I'm new to golang and I'm working on our http api server with gin.
There are some time-consuming operation in some of our http handlers, and we just want the client to wait util results return so we didn't put those codes in another go routine or turn to another worker process.
While after running for hours, even the simplest api will not get any response.
e.g. such code would make c

[2015-09-18 04:56] c0ze opened #438 "Parse Non standard POST form"
Hello,

I need to parse a POST request which has something like

[code]

in the body. Unfortunately it is comma separated. Is there a way to configure a custom Binder for these type of requests ? Is there an example somewhere ?

Thanks for the great software !

[2015-09-18 05:50] javierprovecho commented on #437
Hi @workingenius,

Did you start the server? What kind of connection status did you get? The server should return an appropriate response, and before it, you can notify any go routine through a channel for example.

Another issue is that you are starting a blocking proccess before starting the server. I suggest to run either this process or gin server as a gorutine.

Give me more information so I

[2015-09-18 07:11] workingenius commented on #437
@javierprovecho,
thank you for your in time reply.
I'm sorry, my awful English may cause some misleading, let me explain some more.

There are 2 kinds of apis here, "for-write" and "for-read". "for-write" accept huge amount of data as input, in http chunked encoding;  the other, "for-read" accept simple json input while return huge chunked data. so both should last for a long time.
just like pseud

[2015-09-18 10:22] nazwa commented on #437
This is a long shot but maybe it's the go scheduler that blocks.  Remember that go is concurrent, not parallel and the scheduler only uses certain types of operations to hand off the flow to other goroutines. You might simply be running out of cores to accept new requests. I had this problem before with busy loops.

Try putting `runtime.Gosched()` inside your long running loops to force goroutine

[2015-09-18 10:42] DVassilev opened #439 "BindJSON returns EOF"
I am trying to use context#BindJSON but it returns EOF. If I replace it with a JSON Decoder it works fine.

A sample of the code:
http://hastebin.com/torosarosi.go

Anyone know as to why it may be returning EOF?

[2015-09-18 10:43] javierprovecho commented on #437
@nazwa that makes sense! thank you for your answer.

NOTE: The information in this e-mail is confidential, being solely for the addressee named above. If you read this message and not the intended recipient, please note that it is completely forbidden any use, disclosure, distribution and / or duplication of this communication without the consent of the sender. If you have received this message in

[2015-09-19 16:00] Leko commented on #430
+1

[2015-09-19 16:13] mvader commented on #439
Can you provide an example of the JSON you're using?

[2015-09-20 07:25] joeybloggs commented on #430
Assuming your using the default validator, v5, used by default in gin.

The return error value for Bind is actually the type https://godoc.org/gopkg.in/bluesuncorp/validator.v5#StructErrors so you should be able to typecast the error to that, run the Flatten() to better represent the field errors and then you'll end up with a map[string]*FieldError which you can range over and create your own erro

[2015-09-20 09:14] dre1080 commented on #430
That is what I'm currently doing.. would like a way to set custom error messages.. doing it that way just seems redundant and would rather just not use `c.Bind` as my code would be much neater and cooler without it.. at this point I really don't see the point of `c.Bind`

[2015-09-20 10:22] nazwa commented on #430
Let me add my 2 cents here :smile:

I have an error handling middleware that handles all the parsing for me. Gin allows you to **set different types of errors**, which makes error handling a breeze. But you need to parse the bind errors 'manually' to get nice responses out. All of it can be wrapped in 3 stages:

1. Log all private errors and display generic error to client (for things that went wr

[2015-09-20 19:53] 01AutoMonkey opened #440 "Redirect on 404?"
New to gin and am experimenting with intercepting 404, so far I have this:

[code]

The intended behavior is that when you hit a 404 page gin creates that page (a static file) and then refreshes/reloades or "redirects" the user to the same page, which now exists.

But I'm having trouble overwriting 404, the above code just serves a 404 page with some additional text:

[code]

Do I have to do a `/:

[2015-09-21 06:11] workingenius commented on #437
Thank you for your answer. I guess it might be the exact problem, as I know little about golang concurrency mechanism. I'll reply after modifying my source code and check.

[2015-09-21 08:54] nazwa commented on #437
Let me know how it goes :smile: Keep in mind that `gosched()` will slow down busy loops, so depending on your application you might want to only call it once every few iterations. But of course all of this depends on your application.

If you are doing some very heavy lifting and lots of small requests in a single app, maybe you should think about splitting the app into two separate ones, so you c

[2015-09-21 09:24] nazwa commented on #440
Ha, that's an interesting one. The `http/fs` appears to be doing its own 404 handling, which completely bypasses Gin's error handlers. I don't think there is actually much you can do except for manually checking if file exist in a middleware **before** passing it onto fs.

[code]

[2015-09-22 04:42] calle-gunnarsson commented on #293
+1

[2015-09-22 23:24] RobertJGabriel commented on #428
bump

[2015-09-23 15:33] davisford commented on #393
@manucorporat are you still developing gin or have you moved on?  I only ask b/c last commit was about a month ago.  I may fork the repo so I can move forward.

[2015-09-23 18:17] 01AutoMonkey commented on #440
Perfect, thanks.

[2015-09-23 18:17] #440 closed

[2015-09-24 03:06] Dashed commented on #393
@davisford do you have a PR/commits for this?

[2015-09-24 12:29] davisford commented on #393
No, I was waiting for @manucorporat but he's gone dark, so I will likely fork and upgrade and send a pr...I just don't have time to do it right now, but plan to do it in the next couple weeks.

[2015-09-24 21:22] toin0u commented on #424
@nlamirault It's working for me as well :)

![foo](https://i.imgur.com/N7VHDoB.png)

[2015-09-25 06:50] AllenDang opened #442 "Reload changed template files without restart?"
After update template html files, is there anyway that gin could reload those files into memory without restart whole service?

[2015-09-26 03:13] night-codes opened #443 "Bind() default values"
Hi! I have a code:

[code]

Necessary to achieve these results:

[code]

Are there ways to achieve these results?

[2015-09-26 09:51] tscolari opened #444 "Redirect from POST ends in 404, even if the endpoint exists"
I've made a sample code to explain what's happening:

[code]

When it tries to redirect from a POST to `/login/do` to `/welcome` the result is 404 (`404 page not found`).
But if I try to go directly to `/welcome` everything works fine.

Am I doing something wrong?

[2015-09-26 09:54] tscolari commented on #444
Obs: Moving status to 301 solved the issue.

[2015-09-28 09:19] justintan commented on #388
I am developing APIs for my mobile client. I have completed a lightweight RESTFul server in order to support the routing. https://github.com/justintan/wine

[2015-09-28 09:44] shengzhi opened #445 "How to compress the response with gin?"
I want to compress the http response with gzip or deflate, the algorithm is determined by "Accept-Encoding" of request header.
How to do it?

Thanks.

[2015-09-28 16:11] nazwa commented on #445
Have a look at the Contrib repo. Not sure if it will work out of the box, but should at least point you in the right direction :smile:

https://github.com/gin-gonic/contrib/tree/master/gzip

[2015-09-28 17:22] qimingweng opened #446 "How to log the response body?"
I want to write a custom logger that, for 5xx errors, will log the response body, but I can't find any documentation on getters for the body, only setters. I imagine the body is streamed or takes an io.Writer shape so this is probably a little more complex; but would appreciate any guidance

[2015-09-28 18:22] nazwa commented on #446
You need to create a custom Writer that caches the response. This is probably not the prettiest way of doing it, but it seems to work:

[code]

What you should maybe think about more is how you actually handle errors. Your app should never really throw 500 unless you intentionally triggered it, in which case you can have a proper error logging logic in place using maybe even something as simple as

[2015-09-28 19:39] qimingweng commented on #446
Thanks @nazwa I was just hoping there was a way to catch the response writer but I guess there isn't. It is more idiomatic, then, to log errors in some kind of global error catcher?

[2015-09-28 20:24] nazwa commented on #446
Sadly don't think so. In all our projects we use something like this: https://github.com/gin-gonic/gin/issues/430#issuecomment-141774133 (it looks big, but that's only because this also handles form validation errors. Plus needs a proper clean up)

[2015-09-29 01:31] davisford opened #447 "Question on middleware handlers / groups / ordering"
I have something akin to this:

[code]

...which works just fine, but I was a bit surprised when I then appended something like this:

[code]

By specifying the middleware as part of the argument to the http method, it seems to eradicate middleware that is set on the group level.  Is this the intention?

Is the only workaround to specify all middleware handlers in each HTTP post method, a.k.a.:

[

[2015-09-29 02:01] davisford commented on #447
Nevermind -- I see now that [this is not the case](https://github.com/gin-gonic/gin/blob/master/routergroup.go#L195) -- the handlers are being combined.  In my instance it was a rather deceptive issue with some CORS middleware rejecting requests I was making with an additional header that wasn't on the approved whitelist...leading me to believe the CORS middleware was not executing.

[2015-09-29 02:01] #447 closed

[2015-09-29 06:21] shengzhi commented on #445
Thanks nazwa!

[2015-09-29 06:21] #445 closed

[2015-09-30 14:50] lucmichalski opened #448 "Transform Request/Response / Mappings"
Hi guys,

I was wondering if it was possible to:
- Transform an incoming request, I have a multipart image to convert into a base64 string and wrap it into a JSON payload, then I have several templates for the json (one per routes).
- Transform the output response by nesting the request of 4 routes queried with the previous transorm and combine results ?

I am looking to do something like https://

[2015-10-01 04:08] vinceyuan commented on #442
In debug mode, gin always reload templates. In release mode, gin loads templates only once.

[2015-10-01 04:50] vinceyuan opened #449 "Supports custom template functions"
I want to add a custom function to my html templates. I copied code from `gin.LoadHTMLGlob` and added `Funcs(funcMap)`, but the custom function only works in release mode.

[code]

After researching, I found the cause. In debug mode, `debugPrintLoadTemplate(template.Must(template.New("").Funcs(funcMap).ParseGlob(pattern)))` only checks templates but does not really use them. gin always reloads tem

[2015-10-02 16:16] vinceyuan opened #450 "PUT does not work. Always 404"
I defined `router.PUT("/admin/sourcesentences/:id/update", routes.UpdateSourceSentence)`

When the web app runs, it prints `[GIN-debug] PUT   /admin/sourcesentences/:id/update --> myproject/routes.UpdateSourceSentence (4 handlers)`.

But when I really send a PUT request via http form (I override POST), I always get 404 `[GIN] 2015/10/02 - 23:03:36 | 404 |      89.501µs | [::1]:56720 |   PUT     /a

[2015-10-02 18:10] javierprovecho commented on #450
I'll take a look at it.

NOTE: The information in this e-mail is confidential, being solely for the addressee named above. If you read this message and not the intended recipient, please note that it is completely forbidden any use, disclosure, distribution and / or duplication of this communication without the consent of the sender. If you have received this message in error, please notify us imm

[2015-10-03 16:12] vinceyuan commented on #450
@javierprovecho Thanks.

I override http form method using martini-contrib/method. I am not sure this way is correct. I searched but did not find an example of overriding method for gin. (I am using http form and add something like this `<input type="hidden" name="_method" value="PUT">` into `<form>` tag)

[code]

DELETE has the same problem too. If I use router.POST for a DELETE form request, gin

[2015-10-04 15:18] marksalpeter opened #451 "Binding and Context.JSON"
Any chance we could change Binding.Bind(_http.Request, interface{}) error to Binding.Bind(_http.Request, ...interface{}). I'm always parsing hash maps from the server. It would be nice to get multiple objects out of them using reflection and map[string]json.RawMessage. You don't have to make that the default implementation, and it wouldn't be a breaking change. I would just like to be able to writ

[2015-10-04 17:06] rushmorem commented on #444
Instead of a 301, I think a 302 `http.StatusFound` is more appropriate in this case.

[2015-10-04 17:09] tscolari commented on #444
Yeah, I agree, both (301, 302) work.
I'm going to close it, not sure if it makes sense 307 to return a 404 after the redirect, but maybe it is an intended behaviour.

[2015-10-04 17:09] #444 closed

[2015-10-04 17:53] rushmorem commented on #444
It is intended behaviour. To quote [httpstatus.es](http://httpstatus.es/), a 307 tells the client to "connect again to different URI as provided". Since the original request was a POST request, the client will try to connect again using a POST request.

[2015-10-05 09:12] javierprovecho commented on #450
@vinceyuan hey, this bad behaviour is because how the router works, not because PUT or DELETE doesn't work. Please avoid using parameters between static path. We will try to make this more friendly, but understand this is for speed and performance.

[2015-10-05 16:25] vinceyuan commented on #450
@jasonrhansen Thanks for the response. I made a simple app to reproduce this problem. You can copy into a file and run it. There are just 2 routes `GET /` and `PUT /:id`. `GET /` shows a form. Press 'PUT' button to send a PUT request (overriding POST). Still gets 404 for `PUT /:id`. I am using `martini-contrib/method` for overriding form method. Not sure my `Override` function is correct.

![scree

[2015-10-06 09:07] cwkuo commented on #424
@nlamirault  Maybe curl was running with the environment variable $http_proxy ?
Try this one:
$ curl -i -X  POST http://localhost:8080/foo \
 **--noproxy '*'** \
  -H "Accept: application/json" -H "Content-type: application/json" \
  -d '{ "url": "http://www.google.fr" }'

[2015-10-06 09:41] cwkuo commented on #435
Maybe you could use:

    c.String(http.StatusOK, "")

or

    c.AbortWithStatus(http.StatusOK)

[2015-10-07 09:43] samehkhaliel commented on #205
Is there any plans to support httptreeremux soon ?

[2015-10-07 16:54] woniu369 opened #454 "Router panic"
[code]
why not support?
[code]

[2015-10-07 18:33] nazwa commented on #450
Hey @vinceyuan
I just run your code locally and it seems to work totally fine (but with a catch!).

![Demo](http://u.mdfz.pl/8e6a0f23ce304b680ff6e6d043f40c83.png)

The requests are handled correctly when sent through postman or any other api testing tool. I'm sure curl would also give you success on both, get and put.
The problem lies in browser - chrome (not sure about others) doesn't seem to sub

[2015-10-07 18:39] javierprovecho commented on #450
@nazwa, probably html forms in Chrome don't allow to do this. If you (@vinceyuan) need to send a PUT request, I suggest using a javascript framework such as angularjs, to archive maximum compatibility between browsers. of course it depends on the requisites of your application.

NOTE: The information in this e-mail is confidential, being solely for the addressee named above. If you read this messa

[2015-10-07 18:40] javierprovecho commented on #450
thank you @nazwa by the way for your research! 

NOTE: The information in this e-mail is confidential, being solely for the addressee named above. If you read this message and not the intended recipient, please note that it is completely forbidden any use, disclosure, distribution and / or duplication of this communication without the consent of the sender. If you have received this message in err

[2015-10-07 19:10] nazwa commented on #450
@javierprovecho no problem! We use gin for everything, so this is the least we can do in return :smile:

[2015-10-08 01:04] vinceyuan commented on #450
@nazwa @javierprovecho None of browsers support PUT in form. That's why we add a hidden input `<input type="hidden" name="_method" value="PUT">` in the form.  See `ExpressJs CURD` [here](http://phaninder.com/posts/put-and-delete-can-they-be-used-as-html-form-methods)

[code]

When the server receives a POST request and the form data contains "_method=PUT", it should treat it as a PUT request. We c

[2015-10-08 13:24] nazwa commented on #450
Och haha, ok. To me this sounds like an art for the sake of art but what do I know. And i'm almost sure it won't work with gin, as the route is determined before middleware, so if requests comes in as post, it is treated as post. What you do with the request afterwards is up to you.

Workaround? Use the 'No method' handler and trigger the handler manually, but again, not sure what's the value here

[2015-10-08 17:04] ejayben opened #455 "How to store data between handlers in a chain?"
I've been reading the GoDoc for an easy way to do this but I haven't found anything that stuck out.

The situation:
- Building a REST API with gin and JWTs for authorization
- Handler chain composed of generic handler which checks for a JWT token in the header before passing onto specific endpoint handler
- First handler reads the header and parses the JWT for claims, wanting to store this informa

[2015-10-08 17:34] nazwa commented on #455
Maybe this will inspire you :smile:   *func Authentication* is the actual middleware.

[code]

[2015-10-08 17:37] ejayben commented on #455
Thanks for sharing mate :) Set() looks to be exactly what I needed.

[2015-10-08 17:37] #455 closed

[2015-10-08 21:53] captncraig opened #456 "Support buffer pools and error handling for templates"
One common problem with template rendering is that an error in template.Execute will write a partially rendered page to the response writer.

The standard way to deal with this seems to be rendering templates to a temporary buffer and only flushing to the http response on success.

Buffers can be retained and reused to reduce gc pressure for added benefit. It seems a schema like this could be work

[2015-10-09 18:10] carlosalarconb opened #457 "App-engine example doesnt work."
App engine example doesnt work ...I got this error:
ERROR    2015-10-09 18:09:35,445 http_runtime.py:391] bad runtime process port ['[GIN-debug] GET   /                         --> main34740.func\xc2\xb7001 (1 handlers)\n']

[2015-10-09 19:40] #457 closed

[2015-10-09 19:40] carlosalarconb commented on #457
fixed using gin.SetMode(gin.ReleaseMode)

[2015-10-12 16:29] shengzhi opened #459 "Is router path case-sensitive? why?"
Is there a way set router path to case-insensitive?

[2015-10-12 19:56] 0x4139 opened #460 "Add a Readme for different plugins/middleware written for Gin"
contribution : https://github.com/0x4139/ginAuthentication

[2015-10-13 02:12] robvdl commented on #460
This contrib package already adds sessions https://github.com/gin-gonic/contrib/tree/master/sessions and it uses gorilla sessions as a backend, so you can use whatever session store, redis, etc.

But I agree that a section for third party libraries is needed, either on the README, or wiki, whatever works best.

[2015-10-13 08:59] javierprovecho commented on #450
@vinceyuan I suggest using `r.Any()` for this. Due to the architecture of Gin, overriding is not possible by the middlewares. Closing this.

[2015-10-13 08:59] #450 closed

[2015-10-13 09:02] javierprovecho commented on #460
@0x4139 you can make a PR with a edit to the README of gin-gonic/contrib if you don't want to merge it. However I'll add a more clear link to the top of the README in gin-gonic/gin, so new people can find the contrib repo easier.

[2015-10-13 09:07] javierprovecho commented on #459
@shengzhi no, there is not. If you need a "wildcard" path to emulate case-insensitive, you can use a parameter in path, however this is a hack and I don't recommend it. Gin doesn't allow regexp, and that's why it is so fast.

[2015-10-13 09:29] 0x4139 commented on #460
@javierprovecho merge it where?

[2015-10-13 13:37] AllenDang commented on #442
I know gin will reload in debug mode. I'm asking about in release mode whether there is a plan to support hot reload. I don't want to restart my server everything just because one html file is changed.

[2015-10-13 23:54] orangesoup opened #461 "Websocket advanced example"
Hey!

My problem is a bit complex, but I hope someone can help me. I have an API server made with gin and an Angular app on client side. The authentication is done with JWT. So far so good, everything works.

Since websocket doesn't support `authorization` header I thougt I'll make the websocket urls like this: `/ws/:token/whatever` and use a middleware to validate the token. This is working, no p

[2015-10-14 00:07] nazwa commented on #461
You need to keep track of your sockets. Have a "global" synchronized map of account ID or token ID -> socket pointer. Every time new socket is created, just add it to the list.

This way you can control your sockets from the outside and if you close them through another api call your code can handle it nicely on both ends.

Also, don't send tokens in URL. Those can be intercepted super easily maki

[2015-10-14 00:16] orangesoup commented on #461
For the first part: could you pretty please write a really basic example on this "global" synchronized map would work?

And on the second part:
[code]
How is this supposed to work? Even if I leave out the token from the url, I would end up with something like this on client side:
[code]

And you simply can't set headers on the websocket protocol (afaik), so I don't get how would you check the auth

[2015-10-14 00:32] nazwa commented on #461
Ha, sorry. You are absolutely right - forgot that sockets only send cookies around.

Keep an authentication  flag for every socket and require the first message from client to contain the authentication token. If client sends anything else than a valid authentication token and connection is still marked (using that flag) as unauthenticated then you can assume it's not a legitimate connection and c

[2015-10-14 00:34] nazwa commented on #461
You could even combine the two together and have the auth flag inside that global connection map.

[code]

[2015-10-14 03:26] shengzhi commented on #459
Thanks @javierprovecho, is it possible that add the feature into next version? As my understanding, just only need to convert path to lower letter before parsing router, is it?

[2015-10-14 10:34] SmarkSeven opened #462 "return a JSON data,is always more than a blank line"
When I use c.JSON () on the server to return a JSON data, the data returned by the server in the Chrome browser to see the data is always more than a blank line

[2015-10-14 19:12] orangesoup commented on #461
Thanks! Got it working!

[2015-10-14 19:12] #461 closed

[2015-10-14 19:18] firstrow opened #463 "Question: Custom context type"
Hello. Is there any way to use custom context?
E.g.:

[code]

[2015-10-15 03:20] netroby opened #464 "Load template file from sub directory"
router.LoadHTMLGlob("template/*/*.html")

My wish was: load html from template directory and it's subdirecty.

for example, a template file will be template/account/register.tmpl

[2015-10-15 08:57] javierprovecho commented on #464
@netroby hey, this works for me:

[code]
[code]

there is any trace or panic giving you trouble, if so, can you post it?

[2015-10-15 09:01] javierprovecho commented on #463
@firstrow not for now

[2015-10-15 09:32] javierprovecho commented on #462
@SmarkSeven I don't understand what you are trying to say... I can see perfectly a  response in Chrome 46. Could you explain better?

![image](https://cloud.githubusercontent.com/assets/2457529/10509923/4eb0ac56-7330-11e5-8962-7027911d6d25.png)

[2015-10-15 09:34] javierprovecho commented on #460
@0x4139 here: https://github.com/gin-gonic/contrib/pulls

As I said, you can open a PR for all your code, or just a link inserted into the README

[2015-10-15 09:37] javierprovecho commented on #459
@shengzhi is not that simple. We search the handler directly on a tree by key, where key is the path and the verb. However I'll keep this issue open for the future.

[2015-10-15 22:36] #463 closed

[2015-10-15 22:57] netroby commented on #464
Really ? can you show me c.HTML usage templates location at subdirectory?

[2015-10-18 22:00] sebest commented on #337
@manucorporat a few comments on yours:
 * the first IP is not always the most important especially if you have more than one, it is often the one that you can trust the less as it can be forged, this can be an issue with Amazon Elastic Load Balancer as it does not do any validation, see  http://docs.aws.amazon.com/ElasticLoadBalancing/latest/DeveloperGuide/x-forwarded-headers.html#x-forwarded-for

[2015-10-19 06:15] oryband commented on #337
@bolshoy

[2015-10-20 07:47] javierprovecho commented on #464
@netroby when you use `r.LoadHTMLGlob("templates/*/*.html")`, it looks for all unique filenames inside the expression. After that, you can call the template by its filename, like this: `c.HTML(200, "21.html", gin.H{})`.

There is a problem, that if two files share the same name in different directories, only one would be imported. But there is also a solution and derived from it, a good practice.

[2015-10-20 09:32] EwanValentine opened #466 "Issue accessing array post values"
Hi folks,

I'm having trouble accessing array post data. I have the following data in postman:
[code]

Then I'm just outputting the input data in the terminal using `	fmt.Println(c.Request.MultipartForm.Value)
` for that I got `map[set[]height:[500 600] set[]width:[800 800]]` and when I try to access the 'set' data, using `fmt.Println(c.Request.MultipartForm.Value["set"])` I get `[]`.

I'm fairly

[2015-10-20 09:58] nazwa commented on #466
Funny thing, I've never seen the `set[]height` format (with a tag after brackets) before.

If you can compromise a bit and change the form structure, the following would work:

[code]

[2015-10-20 10:03] EwanValentine commented on #466
<img width="760" alt="screen shot 2015-10-20 at 09 53 21" src="https://cloud.githubusercontent.com/assets/1155123/10604057/d9499cd2-7719-11e5-9e89-374e2d87ba3f.png">

That's what I was doing? I'm probably using Postman wrong! I needed to separate text and file inputs as I'm iterating through sets of height and width and cropping a single image based on those 'sets'.

This is the full file for brev

[2015-10-20 10:04] dolmen opened #467 "Context.NegociateFormat() ignores quality values"
`utils.parseAccept()` drops quality values (`q=`) when parsing Accept headers.
So `Context.NegociateFormat` can not use them.

This should at least be documented until a fix is available.

Reference: https://tools.ietf.org/html/rfc7231#section-5.3.1

[2015-10-20 10:38] nazwa commented on #466
That was my point. I my example I changed the field names to:

setWidth[]
setHeight[]

In postman, rather than your set[]width. Do it this way, and everything will be super easy

[2015-10-20 10:41] EwanValentine commented on #466
Ahaa! Thanks, that's perfect. Silly me.

[2015-10-20 10:41] #466 closed

[2015-10-20 10:52] nazwa commented on #466
You can also get rid of this from your code:

[code]
`c.Request.FormFile("file")` calls parseform automatically :smile:

And replace with a single call to

[2015-10-20 14:03] EwanValentine commented on #466
Ahaa, thanks! :D

[2015-10-21 08:34] azumads commented on #228
+1
Gustavopaes made an really attractive suggestion.

[2015-10-21 11:01] #464 closed

[2015-10-21 11:01] #462 closed

[2015-10-21 11:01] #460 closed

[2015-10-21 11:01] #459 closed

[2015-10-21 11:05] #446 closed

[2015-10-21 22:53] javierprovecho commented on #457
@carlosalarconb good to know, thanks for testing it out ;)

[2015-10-22 16:24] vinceyuan opened #468 "How to return plain text with content type "application/json; charset=utf-8"?"
I know `context.JSON()` returns the serialised object with content type `"application/json; charset=utf-8"`. But I want to skip serialising by returning __cached__ plain text, because my object does not change constantly.

Is it possible to use something like `context.String()` but set content type `"application/json; charset=utf-8"`?

Thanks.

[2015-10-26 20:42] leedstyh opened #469 "How about change "golang.org/x/net/context" to "github.com/golang/net/context""
Sorry to bother you, but golang.org is blocked in China. It's hard to `go get` code here.

So how about change "golang.org/x/net/context" to "github.com/golang/net/context"

[2015-10-28 11:56] diegobernardes opened #471 "How to implement timeout middleware in gin?"
I just implemented a timeout middleware in gin, and it's working, but, in log i get some warnings.
Any idea guys of what can be happening?

[code]

Log output:

[code]

[2015-10-29 01:14] yibin001 opened #473 "how to ouput binary data in gin?"
[code]

[2015-10-29 01:22] yibin001 commented on #473
oh
i found it
is
[code]

[2015-10-29 01:32] #473 closed

[2015-10-29 03:07] mattprice commented on #468
Check out [`context.Header()`](https://godoc.org/github.com/gin-gonic/gin#Context.Header). You should be able to do this:

[code]

[2015-10-29 03:14] vinceyuan commented on #468
@mattprice Thanks for the reply. But it does not work because `context.String()` overwrites `Content-Type`.

[2015-10-29 03:48] mattprice commented on #468
Odd. What about [`context.Data()`](https://godoc.org/github.com/gin-gonic/gin#Context.Data)?

[code]

[2015-10-29 04:11] vinceyuan commented on #468
It looks promising. I will try. Thanks.

[2015-10-29 16:48] vinceyuan commented on #468
@mattprice It works. Thanks!

[2015-10-29 16:49] #468 closed

[2015-10-30 11:33] muratsplat opened #474 "Broken JSON Response... Unknown Encoded Response"
Hi,

I try to use Gin.

Gin returns broken JSON responses ..

Example:
[code]

CURL:
[code]

I  have tested some JSON response with Gin. All of it are broken responses like as "eyJjb2RlIjo1MDAsIm1zZyI6IlVua25vd24gRXJyb3IgISJ9"

It looks Gin generates encoded json response and I don't know that coding...

[2015-10-30 12:10] muratsplat commented on #469
@leedstyh  You mean China government  banned  to access golang.org?

[2015-10-30 13:35] muratsplat commented on #474
It was my fault...

I have should passed a structer as argument.. I have given a []byte slice  into JSON method.. That is fault..

[code]

[2015-10-30 13:35] #474 closed

[2015-10-31 06:00] #418 closed

[2015-11-01 09:19] oryband commented on #337
@manucorporat many implement @sebest 's ideas as well, and provide an option to choose between the two?

[2015-11-01 16:23] kolomiichenko commented on #443
:+1:

[2015-11-02 10:18] leedstyh commented on #469
@muratsplat Yeah, it's banned!

[2015-11-02 13:25] abhisheksingh23 opened #475 "Issue in Go get of Gin"
Getting this error:

# gopkg.in/bluesuncorp/validator.v5
../../../gopkg.in/bluesuncorp/validator.v5/validator.go:41:17: error: reference to undefined identifier ‘sync.Pool’
 var structPool *sync.Pool
                 ^
../../../gopkg.in/bluesuncorp/validator.v5/validator.go:331:21: error: reference to undefined identifier ‘sync.Pool’
  structPool = &sync.Pool{New: newStructErrors}

[2015-11-02 14:03] javierprovecho commented on #475
update to go1.4

NOTE: The information in this e-mail is confidential, being solely for the addressee named above. If you read this message and not the intended recipient, please note that it is completely forbidden any use, disclosure, distribution and / or duplication of this communication without the consent of the sender. If you have received this message in error, please notify us immediately

[2015-11-02 14:08] abhisheksingh23 commented on #475
My go version is 1.5.1

[2015-11-02 15:29] javierprovecho commented on #475
excuse me then, undefined sync pools is a very common issue for users under go1.3 because sync.pools where introduced in that version.

however I see that the issue come from a dependency, not gin it self.

I'll take a look and give a touch to the owner of that repo.

NOTE: The information in this e-mail is confidential, being solely for the addressee named above. If you read this message and not

[2015-11-02 17:36] andviro commented on #436
There are some nice ideas in this [blog entry](http://www.alexedwards.net/blog/organising-database-access).

[2015-11-03 03:07] abhisheksingh23 commented on #475
I reinstalled GO and the problem solved. There might be some installation problems.

[2015-11-03 22:57] mttrs commented on #475
I'd like to use go1.5. Any plans to upgrade the go version?

[2015-11-04 01:52] mttrs opened #476 "Someone still maintain?"
Looking at the commit, the last one is September... I'd like to use gin, but I'm afraid what this WF going to. Go version is 1.4, too. Could anyone know anything?

[2015-11-04 02:12] train860 opened #477 "is there any way to get hot reload!"

[2015-11-04 04:51] olebedev commented on #477
@train860 sure, take a look https://medium.com/@olebedev/live-code-reloading-for-golang-web-projects-in-19-lines-8b2e8777b1ea

[2015-11-04 04:51] train860 commented on #477
thank you！

[2015-11-04 04:52] #477 closed

[2015-11-04 05:10] lawlite commented on #476
I also wonder this: Does manucorporat still keep Gin Framework? I am worried about that he didn't make any public contributions since 17th august.

I really like Gin Framework, so I hope that this very-good-framework keeps moving forward.

(In comparison, Echo Framework which is similar to Gin Framework is updated frequently.)

[2015-11-04 05:48] olebedev commented on #476
+1 to the question. Is it still maintained? I have just looked at Echo and it looks pretty well for me. But I love Gin and use it in my several projects and I don't want to migrate to Echo. Could you guys @manucorporat @javierprovecho  tell us about your plans?

[2015-11-04 06:00] agaurav commented on #476
+1 . I too absolutely love it and use it in all my web projects.

[2015-11-04 06:41] lawlite commented on #475
@mttrs I'm using Gin with Go 1.5.1, It works well. Just upgrade Go. There is almost no change to the language(https://golang.org/doc/go1.5).

[2015-11-04 07:11] mttrs commented on #475
@lawlite , oh, really!? Then, the dependency file should be updated.
 https://github.com/gin-gonic/gin/blob/master/Godeps/Godeps.json

But recently no commit and pull request merge. I'm asking this WF updating on the other ticket.
https://github.com/gin-gonic/gin/issues/476

[2015-11-04 17:55] dre1080 opened #479 "What is the best way to handle dynamic subdomains?"
An example is if you wanted users to have their own subdomains like GitHub Pages: `{username}.github.io`

[2015-11-04 22:11] BrodrickChilds commented on #385
@javierprovecho - any traction on this front?  Still seeing the same error over here.

[2015-11-07 14:00] javierprovecho commented on #385
we have just made a corrected version in the airport. when we take land, we will push it to develop.

NOTE: The information in this e-mail is confidential, being solely for the addressee named above. If you read this message and not the intended recipient, please note that it is completely forbidden any use, disclosure, distribution and / or duplication of this communication without the consent of

[2015-11-09 14:25] coolmenu commented on #476
any comments? thanks

[2015-11-09 15:51] javierprovecho commented on #385
finally we are not pushing it there, instead we'll refractor contrib into separate repositories under a new organization called git-contrib. we'll keep you updated.

NOTE: The information in this e-mail is confidential, being solely for the addressee named above. If you read this message and not the intended recipient, please note that it is completely forbidden any use, disclosure, distribution a

[2015-11-09 22:16] javierprovecho commented on #385
hey @tshr @brodickchilds

checkout https://github.com/gin-contrib/secure

it is not finished, and we need to check tests, even they pass.

check examples folder too!

NOTE: The information in this e-mail is confidential, being solely for the addressee named above. If you read this message and not the intended recipient, please note that it is completely forbidden any use, disclosure, distribution

[2015-11-10 15:43] talbright commented on #476
+1

[2015-11-10 22:56] tshr commented on #385
Great, thanks for continuing to work on this. Please let me know when this will be ready to test. The HEAD issue has been our only complaint with gin otherwise we've been really enjoying the framework!

[2015-11-11 10:07] vtolstov opened #482 "unable to disable stripping trailing slash in url"
I cant disable RedirectTrailingSlash

[code]

[code]

[2015-11-11 19:56] gplume commented on #476
I think this could be related to #185
@lawlite  Gin is v1 and stable now, it probably doesn't need the frequent updates your talking about...

[2015-11-12 00:57] mttrs commented on #476
Many issues and pull-requests are still coming and it looks not to handle them well. Reply, comment and whatever.. v1 is probably stable, but many people want to improve the gin. I wanna know the milestone/future of gin. No change, no improvement.

[2015-11-12 01:18] talbright commented on #476
There's been little activity in the past few months regarding commits to master, but yet clearly a decent amount of community interest given the PR queue. And from the looks of it some nice design decisions and tradeoffs were made with Gin.

FWIW -- the lack of movement though is a red flag for people that might be evaluating using Gin over other frameworks (the same people that might help out by

[2015-11-12 02:12] EwanValentine commented on #475
I'm having this issue with Go 1.5.1 :'(

[2015-11-12 02:55] robvdl commented on #476
Sounds like some other experienced Gin community members need to be given repo access, if the owner is unable to maintain reviewing the pull requests, they might be able to take some of the load off and keep the project moving.

[2015-11-12 09:32] javierprovecho commented on #476
Hello everyone,

This happens some time to time, that an issue appears asking if the framework is still maintained.

Short answer, it is maintained.

Long answer, not many people know that both Manu and me are students. Last week we were at dotGo, talking with cool people and working on Gin at the hotel.

We are picking most used middlewares from gin-gonic/contrib, rewriting them, and pushing into

[2015-11-12 09:51] javierprovecho commented on #475
well, if the error outputs undefined sync pools, then you are not running go1.5.1

i suggest you to run go env and go version, if it still show 1.5, then reinstall go, because there is some old installation making noise in your machine.

NOTE: The information in this e-mail is confidential, being solely for the addressee named above. If you read this message and not the intended recipient, please

[2015-11-12 10:53] ahmet commented on #357
:+1:

[2015-11-12 11:31] mttrs commented on #476
Thanks @javierprovecho for your reply. Glad to hear that it's maintained and you're working on the improvement. Looking forward to seeing the new things in gin-contrib and will contribute it if I find an interesting thing :)

Regards,
Mitsu

[2015-11-12 11:31] #476 closed

[2015-11-12 13:11] talbright commented on #476
Thanks for the reply. I'm sure it takes a lot of trust to pick someone to help, but if you are students you probably need to consider doing so all the more, as I'm sure you have a lot on your plates :stuck_out_tongue_winking_eye:

Regardless, best wishes....

[2015-11-12 14:39] manucorporat commented on #476
@talbright @mttrs @lawlite  I have been pushing new official middleware for gin:
- Same unit testing requirements than Gin
- Same code quality
- Security audited
- API promise

https://github.com/gin-contrib/cors
https://github.com/gin-contrib/secure

they are still in a beta state.

[2015-11-12 15:47] mistbow-git commented on #326
Hi! I have same problem when I try to run app from Inellij IDEA 15 with Go plugin.
Any Idies?

[2015-11-12 16:16] mistbow-git commented on #326
I have answer on my own question!
Before use Run on multiple file project You need to setup Run configuration.
Run->Edit Confuguration, then press green +, choice Go Application and then change Run kind from File to Package.
Then type your package name and Save configuration.
Best regards!

[2015-11-12 18:19] robvdl commented on #476
Thanks for the explanation.

@manucorporat how is github.com/git-contrib different to github.com/gin-gonic/contrib ?? Upto now I have been using the second one, should I be using the first one instead?

[2015-11-12 18:25] javierprovecho commented on #476
@robvdl

The first one is a repo of middlewares, the second one is an organization of repos, where each one is a middleware.

This have a few benefits:

- CI don't fail for all if a single package does.

- Every import is sorted and its path is shorter.

- All packages at gin-contrib are directly supervised by the maintainers.

You should use the gin-contrib organization, but keep in mind this wee

[2015-11-12 18:52] manucorporat commented on #476
@robvdl the contrib repo does not scale well, also, the new middleware break the api, so a different URL is needed.

- All middleware will share the same API pattern.
- Repo per middleware allow us to maintain and audit them better.
- Once 1.0 is reached in the middleware, we will not break the api again.
- Security audited
- We not longer will accept third party middleware that could get unmainta

[2015-11-13 05:07] TheDodd commented on #246
Let's do this.

[2015-11-13 06:08] badoet commented on #183
update:
i tried using the http-einhorn library.
it works great on first load. but after a few hours, accessing the `einhornsh` in server will cause timeout error and leave the golang app stranded.
i have decided to move to endless instead. although the app ends up not having a supervisor parent, at least the design works perfectly.

[2015-11-13 06:08] #183 closed

[2015-11-13 06:11] #107 closed

[2015-11-13 21:05] phemmer commented on #206
I also would like something similar to this. But more than just the line number. It would be nice if the `gin.Error` type contained the full stack trace. Let the logger deal with logging only the top-most frame.

I would also argue that this is more important to have in production mode than development. When an error occurs in production, you often don't know how to reproduce it. Thus a stack trac

[2015-11-14 03:00] itsjamie commented on #206
The reason I would at least not want this to be always-on would be that by all appearances it is actually a fairly expensive operation to get the information. The standard lib actually releases the mutex on the logger to prevent nasty things from happening while it is being called.

Suddenly you have a section of code for something related to telemetry able to block a requests processing so you ca

[2015-11-14 03:00] #206 closed

[2015-11-14 03:06] itsjamie commented on #427
It should work out of the box, however in JSON it would appear as an object. if you don't want that, you'll need to create a custom type that aliases sql.NullString, but also implements the Marshaller interface for each binding you want to support.

[2015-11-14 05:01] phemmer opened #484 "Capture origin of error"
This is a continuation of #206 since the author closed it.
The idea is that when an error is raised, we should be able to find where the error came from. Currently, for many error sources, such as `context.JSON()`, we don't get to control the error message, so we can't add anything to identify the source, or what was going on at the time.
The best way to solve this would be to get a stack trace. I

[2015-11-14 05:01] phemmer commented on #206
I've opened #484 to continue the issue.

[2015-11-16 12:23] gambol99 opened #485 "middleware proxy"
I'm having a issue with some middleware ... i'm not sure if it's a bug, or more likely the way i'm using it  ... The service consumes the json payload, perform some check, aborts the context if required otherwise the proxy middleware forwards the require on. The proxy works fine for the urls not hitting the handler, but when it hits the handler, even with the context not abort the proxy middleware

[2015-11-17 05:07] lawlite commented on #479
As far as I know, the routing has priority over context settings with a HttpRouter based framework like Gin.

So, how about this?

[code]
HostSwitch example from https://github.com/julienschmidt/httprouter#multi-domain--sub-domains

[2015-11-18 00:05] nazwa commented on #479
I would probably rewrite the domain in a proxy, like apache or ngingx, into

github.io/{username}/...

and only then forward the request to gin. Seems like a much neater way of doing it than trying to extract the name from url manually. Especially as I'm sure you have some sort of a public facing proxy set up already.

[2015-11-19 07:46] hugowetterberg commented on #211
This is the (ALLOW ALL THE THINGS!) middleware that I use for CORS handling where I just want to open up completely:

[code]

[2015-11-19 18:04] phemmer commented on #96
I second this. I find the debug output extremely annoying. And it's more annoying having to go and turn this off in every single package that imports gin, otherwise your test log is spammed with warning messages and other output (the warning alone is 4 lines long).

When you deploy a gin app, the defaults should be that the app runs with minimal configuration.
Also, in every app I've ever used, de

[2015-11-20 14:18] MrGossett commented on #96
+1 for @phemmer's comment. Default mode should be release mode.

[2015-11-20 22:16] MrSagan commented on #388
So... Any progress on this?

[2015-11-21 03:45] netroby commented on #246
How to add tests for gin powered project? would you please show us some example? i can not find tests in examples gin provided us.

[2015-11-21 13:27] VJCORE opened #486 "http2 support"
hello guys , i think its time that we should start giving http 2 related support to make gin very good and efficient.

[2015-11-21 13:53] javierprovecho commented on #486
@webgini that is a great idea, i'll look forward to release a test branch with gin and http2

[2015-11-21 13:59] #475 closed

[2015-11-22 04:32] netroby opened #487 "Need example show us how to generate rss output."
Need example show us how to generate rss output.
Please show us the way. thanks.

[2015-11-24 03:42] ezeql commented on #96
I agree with @phemmer  and @MrGossett.

[2015-11-25 05:54] AlekSi commented on #469
Sorry, this will not work. Official import path is `golang.org/x/net/context`: https://github.com/golang/net/blob/master/context/context.go#L37

[2015-11-25 05:57] AlekSi opened #488 "Context exported fields are not documented"
What is `Keys`, `Errors`, `Accepted`? https://github.com/gin-gonic/gin/blob/52fcc5dbf6e94df33ad313858fb94b713e9d1b4a/context.go#L36

[2015-11-25 10:04] #469 closed

[2015-11-25 18:08] orangesoup opened #489 "How to get the actual TCP port number when listening on port 0"
Hey!

I could have missed it, but is there any way to get the port number the server listens on when I start it on port 0?

My use case would be: running a normal http server on port 80, which would sometimes spawn another http servers but on port 0. In those spawned servers I would like to get the actual tcp port they're listening on (and then save it to the database or whatever...)

[2015-11-26 02:08] adred opened #490 "Is this project still actively maintained?"
Been waiting for v1 to be released...

[2015-11-26 03:52] widnyana commented on #490
@adred please read #476 :)

[2015-11-26 14:24] santagada commented on #476
And what about gin repo itself... no one seems to be updating it.

[2015-11-26 18:26] honteng opened #491 "Bind validation bug with int zero value"
The following test should pass, but actually it fails.

[code]

The reason is a validator problem. See more detail hasValue in gopkg.in/bluesuncorp/validator.v5/baked_in.go

In the function, the validation checks with the following line

[code]

But this is wrong. Because whenever "field == 0", it always fails. Actually if "field != 0", it succeeds. (In my previous test, {"hoge":1} succeeds.)

The

[2015-11-27 09:29] guotie opened #492 "How to add funcsmap to template?"
How to add funcsmap to template?

[2015-11-27 10:41] lawlite commented on #492
How about this? In my case, it works.

[code]

[code]

[2015-11-27 11:50] guotie commented on #492
thanks.

[2015-11-27 11:50] #492 closed

[2015-12-02 21:40] abrander commented on #432
You should be able to do something like this:

[code]

[2015-12-04 02:54] kpbird commented on #75
I am having same issue

I have public directory in which all html, css, js reside.

Dir structure

project folder
|
-- public
     |
     ---- index.html
main.go

---------
Following code don't serve anything (404 error)
router := gin.Default()
router.Use(static.ServeRoot("/","public"))
router.Run(":8080")

-------
url : http://localhost:8080  -> 404 error
url : http://localhost:8080/index.html ->

[2015-12-06 17:27] joeybloggs commented on #491
Hello @honteng,

this is not a problem with validator, I have addressed this before in this issue https://github.com/go-playground/validator/issues/142 with the "exists" tag.

To summarize Go is a static language so when the struct "HogeStruct" is initialized in order to set the JSON values the value of the "Hoge" field will get initialized to "0", the "required" tag does not ensure a field exists

[2015-12-07 10:04] webus commented on #293
+1

[2015-12-07 21:55] honteng commented on #491
Than you for response.

So far, I can use your workaround for our purpose. I didn't know the "exists" tag.

But it could be great to see some tests. Do you want me to write?

[2015-12-07 22:03] joeybloggs commented on #491
Sure, I'm all for any help

[2015-12-09 17:04] xserv commented on #475
I have same error on centos but not on mac or ubuntu

[2015-12-09 17:16] xserv opened #493 "go get not work"
I can't install validator with go get.
Is locked download with -v.
Work on mac, ubuntu but not on centos.
i have go 1.5.1

[2015-12-10 03:57] joeybloggs commented on #493
Please refer to issue here https://github.com/go-playground/validator/issues/224

[2015-12-11 08:55] train860 opened #495 "BindJSON not work"
I use a middleware,like this

[code]

the func f is to validate json data, it likes this:

[code]

after that,I cannot get the data in controller like this:

[code]

this user has no data

any way to resolve it？thx！

[2015-12-12 19:16] moret opened #496 "Error restoring dep of go-colorable with godep v35"
Hi. Yesterday there was a new release of [godep](https://github.com/tools/godep/releases/tag/v35). When running `godep restore` in gin with the new version on a Mac an error is thrown while restoring one of the projects dependencies in [go-colorable](https://github.com/mattn/go-colorable):
[code]

[2015-12-15 04:19] iyee commented on #293
+1

[2015-12-15 15:59] mephux commented on #238
@manucorporat I think something may have been added recently to cause this again.. not a header write but a normal response.Write - anyone else having a similar issue? /cc @quetz

[2015-12-16 07:28] nitsanfiverr commented on #449
Hey Guys, is there anything new with that ? I'm having the exact same issue and workaround now.
It's really hard to develop like this...

Thanks..

[2015-12-16 10:15] vinceyuan commented on #449
@nitsanfiverr Nothing new. I'm still using the workaround.

[2015-12-16 16:40] valyala opened #498 "Add support for fasthttp or fasthttprouter"
[Fasthttp](https://github.com/valyala/fasthttp) provides an http server optimized for high performance. It doesn't allocate memory in hot paths - the same approach is used by [httprouter](https://github.com/julienschmidt/httprouter).

With fasthttp gin may become even faster. See also [fasthttprouter](https://github.com/buaazp/fasthttprouter), httprouter fork based on fasthttp.

[2015-12-18 02:28] no1youknowz opened #501 "NoSQL middleware: invalid memory address or nil pointer dereference"
Loving The framework so far.  Never mind! :)

[2015-12-18 02:36] no1youknowz commented on #501
If I do:

	return func(c *gin.Context) {
		fmt.Println("blah blah blah")

		c.Set("client", client)
		c.Next()
	}

I don't see blah blah blah in the console.  So I can only presume it's not firing.  Probably that's where the issue is.

[2015-12-18 05:19] #501 closed

[2015-12-18 11:10] quetz commented on #238
@mephux, not using Gin nowadays. Moved over to https://github.com/carbocation/interpose and http://www.gorillatoolkit.org/pkg/mux

[2015-12-18 15:36] mephux commented on #238
@quetz ah, ok.

For anyone coming to this threat I found the problem - was an issue with the gzip middleware. (https://github.com/gin-gonic/contrib/pull/71)

[2015-12-20 06:54] mbmc commented on #496
You might need to add the package
```go get github.com/mattn/go-isatty```
In my case, I also had to get
```go get golang.org/x/sys/unix```

[2015-12-21 05:29] 178inaba commented on #496
Hello.
I was fixed this.
#500

[2015-12-21 12:22] moret commented on #496
@178inaba LGTM

[2015-12-22 00:16] no1youknowz opened #502 "Setting Header URL with Redirect doesn't work."
Hi,

I have a use case where I have an intermediary page that I have to output some JS and then do a redirect.

Here is a simplified version.

	package main

	import (
		"github.com/gin-gonic/gin"
	)

	func main() {
		r := gin.New()

		r.GET("/go", func(c *gin.Context) {
			c.Header("Refresh", "10")
			c.Header("Url", "http://www.google.com")
			c.Writer.WriteString(`<script>console.log("Hi!")</sc

[2015-12-22 00:30] no1youknowz commented on #502
Nevermind.  I had the k/v set incorrectly.

[2015-12-22 00:30] #502 closed

[2015-12-22 16:22] huynhquancam commented on #131
polite ping from me! Can I know if Ace template could be used with Gin?

[2015-12-22 19:40] robzienert opened #503 "Add NYTimes/gizmo to benchmarks"
I'd be very interested to see the benchmark results of Gizmo as it compares to gin.

[2015-12-23 04:08] apriendeau commented on #131
Currently, after checking, it still uses "text/html"

[2015-12-23 17:46] robvdl commented on #131
You should be able to make your own custom renderer, though I don't think custom renderers are officially documented, but I figured out how to use them anyway and created a custom template library for GIN and Pongo2 templates here https://github.com/robvdl/pongo2gin

That was forked and another renderer was made for Jade templates https://github.com/MAD-GooZe/jaderender so I can't see a reason why

[2015-12-23 18:14] robvdl commented on #131
If you need some help, I should be able to whip up a similar renderer for ace templates in a day or so, just let me know, or you could do it yourself... it's upto you.

[2015-12-31 06:52] honteng commented on #491
Ok, now I have some time to work on the tests.
https://github.com/gin-gonic/gin/pull/504
Please review it.

Thanks,

[2015-12-31 12:38] joeybloggs commented on #491
@honteng it LGTM but one of the repository admins will have to merge, sorry if I gave the impression I was one.

[2015-12-31 12:53] matejkramny opened #505 "c.JSON returns HTTP 500 - no stack trace"
## Background

using `gin.Default()` and go 1.5

Code:

[code]

## Whats happening
`json.Marshal` cannot marshal a `NaN` value. I happened to end up with `NaN` somehow and spent a long time debugging what was going on with the code, why the error wasn't being reported etc.

Note that gin tried to marshal the value and failed, however didn't print out the error message only returned HTTP 500 back.

[2016-01-01 04:56] honteng commented on #491
So just waiting for the admin person? Or should I do an extra action?

[2016-01-01 12:57] joeybloggs commented on #491
I'd just wait, it may be a while though as the maintainers of gin are a little busy with school

[2016-01-02 22:17] javierprovecho commented on #491
Hello @honteng,

Yes, as @joeybloggs pointed, we are busy with university, more even now that we have exams. I expect to have more time by the firsts days of February.

Thank you for understanding.

[2016-01-03 03:14] nkev commented on #498
@valyala This would be great, but even greater would be a @valyala powered middleware project (with lots of conversions from existing middleware) that incorporates fasthttp and fasthttprouter. If done elegantly, I think it might even become the standard.

[2016-01-03 05:42] honteng commented on #491
no problem :-)

[2016-01-04 00:40] mpmlj commented on #503
+1. Gizmo looks like a pretty solid project and an interesting alternative.

[2016-01-06 08:19] loopfz opened #506 "engine.Routes() -- Custom function names (need for swagger package)"
Writing a package that generates swagger spec using engine.Routes() and reflection, I encountered a fairly specific issue:
All gin.HandlerFunc that are closures will have the same name, not letting me distinguish between them.

Would it be possible to have a Setter to configure custom names for certain gin.HandlerFunc, letting me override runtime.FuncForPC(...).Name() in gin.nameOfFunction() ?

[2016-01-07 14:50] stanonyime commented on #449
@vinceyuan Please, can you provide more details on how the workaround fits into the router?

[2016-01-07 15:03] vinceyuan commented on #449
@stanonyime Please see my post at the top. If you want to add custom function to your templates, do not use `gin.LoadHTMLGlob`, copy the sample function I provided to a .go file in your project and modify for your need. Then call it in main() like the following

[code]

[2016-01-07 15:45] stanonyime commented on #449
Thanks for your feedback. But when I tried it, it panics with:
[code]

[2016-01-07 16:13] vinceyuan commented on #449
Did u import "html/template"? Not text/template.

[2016-01-07 19:28] stanonyime commented on #449
@vinceyuan Oh! Thanks

[2016-01-10 22:11] joeblew99 commented on #476
Yes I am also wanting an answer about the main repo and maintenance of it please.
It was not answered.

If the truth is that the next phase if the project requires refactoring, due to breaking the project out into middlewares and hen ebreaking the core, then tell us. It's not like this is not unusual or a bad thing. In fact it shows that the project has a future and actually alleviates my and othe

[2016-01-10 22:14] joeblew99 opened #507 "Catching panics"
I am wondering the best way to ensure the DAE.on does not go down.
1. Error handling on each e try route ?
2. Gin-sentry to catch and send to sentry. The gin-sentry repo has zero info on how to integrate into gin.
3. Restart on fail ?

Thanks..

[2016-01-10 22:56] javierprovecho commented on #476
Hi there,

Basically same as I said a week ago at #491.
We are in the middle of exams.

At least I'm satisfied that the project is stuck while stable and there are no critical bugs.

We have a lot of things to innovate, one of them is http2, other can be middleware...

Hope to get some free time by 1st/2nd week of february.

[2016-01-12 06:35] rmenn opened #508 "image upload via api"
Folks,

I was just wondering if there was a way to upload images *not* using the form, i just have an api which is required upload an image.

I have check around all of them seem to be a form upload.

[2016-01-12 09:08] iwanbk commented on #508
@rmenn
In client side, you can encode the image to base64, and then decode it in server.

[2016-01-12 16:44] Depado commented on #293
+1

[2016-01-13 04:34] joeybloggs commented on #507
It looks like gin-sentry just has a single function that returns a gin.HandlerFunc which then can just be used as middleware

Call this function https://github.com/gin-gonic/gin-sentry/blob/master/recovery.go#L12 and use as any other middleware, but recommend adding the middleware right after any logging middleware to ensure the request gets logged even if it fails.

[2016-01-13 14:43] mpmlj commented on #498
+1

[2016-01-14 04:21] ooesili commented on #489
You cannot access the port number that gets chosen when you use `Engine.Run`. However, you can access the port number if you create the listener yourself:

[code]

[2016-01-14 06:53] pavlik opened #510 "After app shutdown port is not released"
If I start my web app it starts on port 9000. Then if I stop server (for example by pressing CTRL+Z), server stopped, but port is not released. Why this happened?

My app: https://github.com/pavlik/mimozaflowers/blob/master/server.go#L353

[2016-01-14 06:56] douglarek opened #511 "go get faild"
[code]

[2016-01-14 07:02] douglarek commented on #511
It's my network fault, closed

[2016-01-14 07:02] #511 closed

[2016-01-14 07:07] gwind commented on #511
Because golang.org is blocked by your local network.

If you are in china, some repo need use proxy.

Try this tool: https://github.com/ooclab/goproxy

On 01/14/2016 02:56 PM, Lingchao Xin wrote:

--
Li Jian ( http://ooclab.com )

[2016-01-14 09:57] kaelliu commented on #511
use lantern so you can pass the gfw and get package of gin easily

[2016-01-14 10:01] kaelliu commented on #510
ctrl + z will stop program and hung it up,but ctrl + c will kill the process,try ctrl + c

[2016-01-14 14:40] basco-johnkevin commented on #388
+1. I'm experiencing the same issue.

[2016-01-15 04:00] no1youknowz commented on #476
1.6 is around the corner.  Would be great to get http2 beginning of feb!

Thanks!

[2016-01-16 07:53] dom3k commented on #293
+1

[2016-01-16 08:08] techjanitor commented on #503
as far as i can tell gizmo just uses gorilla mux, which is already in the benchmarks:
https://github.com/NYTimes/gizmo/blob/master/web/func.go

[2016-01-18 14:23] mzupan opened #513 "Pulling templates out of go.rice"
I'm having some issues wrapping my head around setting multiple templates in a bindata file created by go.rice.

I have the following code.

[code]

So the /bar url works fine byt the /index one doesn't because the /index template is getting overwritten.

The error I get is

[code]

I'm wondering if anyone has tackled this issue yet with gin. I'm looking to load a bunch of inherited templates into

[2016-01-18 16:57] jacek99 opened #514 "Support YAML for binding and rendering"
I love the fact that the Bind function can use Form or JSON depending on the content type header.

If would be great if it could support YAML as well (for input) and provide the eqivalent

    c.YAML(...)

methods, equivalent to what is there for JSON.

For some payloads, it can result in a noticeably smaller size on the wire (compared to JSON).

[2016-01-19 09:41] MyungjinJung opened #515 "How to check abnormal disconnection when huge file is uploading to the GIN server."
I've coded the Formfile upload-end point with GIN framework and it was nice work.
however, I couldn't check up that client's browser being turned off also  defers  doesn't work.
I want to check this signal , function , something like that.

Could you recommend me nice solution about this case of abnormal disconnection. ?

[2016-01-19 14:01] starchou commented on #211
in gin version v1.0rc2 cors middleware can't work

https://github.com/itsjamie/gin-cors
https://github.com/gin-contrib/cors

both return 404

[2016-01-20 08:34] windyzboy commented on #508
@rmenn You can use `c.Request` to get `*http.Request` then get file from Multipart Form
https://golang.org/pkg/net/http/#Request.FormFile

[2016-01-21 17:50] nazwa commented on #508
Or use websockets or raw upload! Possibilities are endless :+1:

[2016-01-22 12:34] jyoon17 commented on #388
+1

[2016-01-24 05:50] mpmlj commented on #508
@rmenn
1. Send it as base64 with a form to your API, as @iwanbk mentioned above
2. Use imageFull := c.PostForm("imageFull") to get its body inside your API's controller
3. For example, save locally doing
str, err := util.DecodeBase64Image(imageFull)
...
b64data := str[strings.IndexByte(str, ',') + 1:]
data, err := base64.StdEncoding.DecodeString(b64data)
...
r := string(data)
...
ioutil.WriteFile(

[2016-01-25 14:04] sanxia330 opened #516 "post data bind Structure of combine slices ，Binding framework resolution not correct data structure"
post data bind Structure of combine slices ，Binding framework resolution not correct data structure

client post data:
map[
password:[123]
question_answers[0][code]:[q11]
question_answers[0][group]:[g11]
question_answers[0][answer]:[12345]
question_answers[1][code]:[q21]
question_answers[1][group]:[g21]
question_answers[1][answer]:[56789]
]

server bind struct:

[code]

goin bind code:

[code]

[2016-01-25 21:50] bwiggs commented on #505
+1 Just got bit by this.

[2016-01-26 03:44] sanxia330 commented on #516
Structure only supports string section, I try again BindJSON

[2016-01-26 06:31] basco-johnkevin opened #517 "Allow content-type to be changed when using c.JSON()"
We're using jsonapi spec - http://jsonapi.org/ and we need to use `application/vnd.api+json` as the content-type. Would be great if gin allows content-type to be changed when using c.JSON().

[2016-01-26 14:56] manucorporat commented on #517
@basco-johnkevin it can be done:

[code]

[2016-01-26 14:56] #517 closed

[2016-01-26 14:59] manucorporat commented on #516
@sanxia330 can you provide the raw HTTP request?

[2016-01-26 15:01] manucorporat commented on #515
@MyungjinJung what is the size of the file? can you post some code you are using?

[2016-01-26 15:06] manucorporat commented on #505
I just tried it and I got this:
[code]

[2016-01-26 15:13] manucorporat commented on #505
ok, I think I understand what you mean...
you probably be right... any rendering error should be propagated as a panic.

[2016-01-26 16:33] jgidlow opened #518 "App engine example fails to build. Bad import "syscall" in colorable_windows.go from GOPATH"
If I try to run the app engine example using "goapp serve" the build fails with the following error:

```ERROR    2016-01-26 17:17:52,160 go_runtime.py:179] Failed to build Go application: (Executed command: C:\Program Files\Google\go_appengine\goroot\bin\go-app-builder.exe -app_base D:\Code\Go\gopath\src\app_engine\gin-example -arch 6 -dynamic -goroot C:\Program Files\Google\go_appengine\goroot -

[2016-01-26 16:49] manucorporat commented on #505
@bwiggs @matejkramny
Now a render error throws a panic
(I also made the Recovery middleware to print the panic in red, so it can be debugged visually easier)
<img width="748" alt="screen shot 2016-01-26 at 17 46 59" src="https://cloud.githubusercontent.com/assets/127379/12587508/fa2fc6c8-c454-11e5-8698-a6b6a23bce57.png">

[2016-01-26 17:38] manucorporat commented on #505
Fixed: https://github.com/gin-gonic/gin/commit/2fc2a3e7827d9033f00425eef78ec9f47d08ebf6
https://github.com/gin-gonic/gin/commit/7afb3238a3b703864c785ce626e0c7330a9c559b

[2016-01-26 17:38] #505 closed

[2016-01-26 18:37] manucorporat commented on #518
@jgidlow  fixed: https://github.com/gin-gonic/gin/commit/60f66918f8a68dc817665cc7a38ba380d00a297c

[2016-01-26 18:37] #518 closed

[2016-01-26 18:42] manucorporat commented on #513
@mzupan
You have several templates, you should use:
https://github.com/gin-gonic/contrib/tree/master/renders/multitemplate

[2016-01-26 18:44] manucorporat commented on #513
[code]

[2016-01-26 18:44] #513 closed

[2016-01-26 18:54] manucorporat commented on #495
@train860 I can not help you without addition information

[2016-01-26 18:55] #493 closed

[2016-01-26 18:56] #489 closed

[2016-01-26 18:57] manucorporat commented on #486
@VJCORE @javierprovecho  Go 1.6 will include http2 by default. not longer a gin issue.

[2016-01-26 18:57] #486 closed

[2016-01-26 20:52] DeadNumbers opened #519 "router.StaticFile() not work"
[code]
Template

[code]
Run

![_2016-01-26_22-39-49](https://cloud.githubusercontent.com/assets/9416005/12594297/11448316-c47e-11e5-91af-593b2ac31828.png)

Same tamplete in  browser on localhost
![_2016-01-26_22-49-57](https://cloud.githubusercontent.com/assets/9416005/12594547/4efd2f04-c47f-11e5-88a9-ae78d04370ac.png)

router.StaticFile() does not include anything.

[2016-01-26 22:57] javierprovecho commented on #519
Hello @DeadNumbers,

I can't replicate that bad behavior. Could you please post the console log after you tried to access your webpage from a browser? It should look like this:

![image](https://cloud.githubusercontent.com/assets/2457529/12598073/77f2412a-c488-11e5-8f8d-a4c75c246afd.png)

[2016-01-26 23:00] javierprovecho commented on #519
Oh, I think the problem is that you are loading `http://code.jquery.com/jquery-latest.js` in `http` instead of `https`, while the whole page does. Usually browsers don't like to load `http` scripts on a `https` webpage and they will throw a mixed content warning. Try renaming to `https://code.jquery.com/jquery-latest.js`.

Full code (index.html):

[code]

[2016-01-26 23:01] javierprovecho commented on #519
Reopen if you have more questions regarding `router.StaticFile(...)`.

[2016-01-26 23:01] #519 closed

[2016-01-27 02:45] manucorporat commented on #508
@rmenn or just using drop the raw binary image data, and read it from `c.Request.Body`.

[2016-01-27 02:45] #508 closed

[2016-01-27 02:46] manucorporat commented on #498
@valyala @mpmlj @nkev I am going to evaluate it this week!

[2016-01-27 07:15] dolmen commented on #510
Confirming @kaelliu 's anwser.
This issue can be closed as invalid.

[2016-01-27 07:16] #510 closed

[2016-01-27 21:16] jonhoo opened #521 "Redirect should also accept 201 Created status code"
According to [the spec](https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.2.2):

Seems like a pretty good candidate for `c.Redirect` to me?

[2016-01-27 22:58] manucorporat commented on #521
@jonhoo can you provide a valid URL to the spec please?

[2016-01-27 22:59] austinheap commented on #521
https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html section 10.2.2

[2016-01-27 23:12] jonhoo commented on #521
Sorry about that -- don't know what happened there. Fixed.

[2016-01-27 23:36] manucorporat commented on #521
@jonhoo thanks! already fixed in develop branch: https://github.com/gin-gonic/gin/commit/97cd89427998b28491443b09649dc89aca1255bb

[2016-01-27 23:36] #521 closed

[2016-01-27 23:39] jonhoo commented on #521
Nice! Thanks!

[2016-01-28 05:44] MyungjinJung commented on #515
[code]
Size was 30 to 40 mb ,
When user was losing the connection physically ,  the function of defer-er doesn't work at the "UploadMultiParts" block.

thanks ., @manucorporat

[2016-01-28 10:01] tigranbs opened #522 "Session handling"
Hi I'm doing REST service as a separate part of big web application, it's great to write simple things on this, but now we have issue with handling sessions ....
Is it possible to implement it with <code>gin</code> ?

[2016-01-28 16:49] Taik commented on #522
Have you looked at https://github.com/gin-gonic/contrib/tree/master/sessions? Seems like its what you're looking for.

[2016-01-28 16:53] manucorporat commented on #496
@moret this issue was already fixed. thanks for your help!

[2016-01-28 16:53] #496 closed

[2016-01-28 17:11] tigranbs commented on #522
oops sorry for stupid question !
Yes that's it

[2016-01-28 17:11] #522 closed

[2016-01-28 21:42] javierprovecho commented on #515
@MyungjinJung you can try to use this inside your handler:

[code]

`c.Writer.CloseNotify()` is a channel from where you will receive a bool when the connection close. You can read more information about it here (https://golang.org/src/net/http/server.go#L111).

[2016-01-29 01:31] haitgo commented on #522
great, I need this

[2016-01-29 13:44] itmoss commented on #515
@javierprovecho thanks for your great comment ,  I will try to code with that

[2016-01-30 17:00] johndeng opened #523 "reconsider a new roadmap?"
The `Gin` development seems to have returned to normal, Did @manucorporat  reconsider the roadmap formulation, such as v2 things.

[2016-01-30 17:25] manucorporat commented on #523
@johndeng In fact I am in the design phase for a possible v2 that fixes most of the design issues of v1 and we have an ace up one's sleeve, Gin v2 could have an experimental execution mode (without changing the api, pluggable) 15x times faster than `net/http`, yes, `x750` faster than martini.

[2016-01-30 17:30] johndeng commented on #523
@manucorporat wow! i'm looking forward. It's have a specification date to release the design doc?

[2016-01-30 21:54] LicaSterian opened #524 "go-socket.io"
Can anyone help setting up a server that also handles web-socket with gin?
Preferably I would like to use [github.com/googollee/go-socket.io](url)

Thanks.

[2016-01-31 13:16] nazwa commented on #523
Good to see you guys back on the project :+1:

[2016-01-31 13:19] nazwa commented on #524
I don't have the code anymore but the way it worked was that you set up gin and socket.io as usual (https://github.com/googollee/go-socket.io#example) and then just map the socket handler to a gin handler

[code]

That's it

[2016-02-02 07:08] thinkong commented on #216
Has there been any progress on this?
Is there a work around?

[2016-02-02 10:41] LicaSterian commented on #524
Thank's. I didn't know the `gin.WrapH` method part.

[2016-02-02 10:41] #524 closed

[2016-02-03 05:15] mpmlj commented on #388
I'm working on a complex API, more than 100 endpoints, a lot of resources require much more actions than just the holy 4 get/post/put/delete. For example, for liking comments of stories, a correct, let's say more canonical approach would be to use /stories/:storyID/comments/:commentID/like.
With dozens of endpoints like this, I had to come up with a bunch of workarounds and that honestly freaks me

[2016-02-03 10:54] changx commented on #449
@vinceyuan   You can use your own html render by implement interfaces `render.Render` and `render.HTMLRender`.

[code]

[code]

[2016-02-03 18:59] matejkramny commented on #505
Awesome :+1:

[2016-02-03 19:15] matejkramny opened #527 "is master branch stable?"
I just want to ask about your workflow, since I'm using `1.0rc1`, whether things committed to `master` are considered production-ready.

Keep up the awesome work :+1: :). Doing great!

[2016-02-03 23:49] javierprovecho commented on #527
Hey @matejkramny ,

We always try to keep master bug-free. Same goes to develop, plus to be buildable. But most of Gin's followers use default branch (master) without problems. A merge from develop into master will be done soon. Also check @manucorporat 's new roadmap facing Gin v2 here: https://github.com/gin-gonic/gin/issues/523

Close this issue if I solved your doubts. And keep an eye on the p

[2016-02-04 08:15] matejkramny commented on #527
Cool thats good.

Thanks :)

[2016-02-04 08:15] #527 closed

[2016-02-04 12:22] osleg opened #528 "Server's FQDN"
Is there a way to get FQDN or at least URI of the server after it Run()'s?
Can't find this in documentation

[2016-02-05 21:14] #490 closed

[2016-02-08 05:50] mirrr commented on #498
:thumbsup:

[2016-02-08 05:53] gladkikhartem commented on #227
Nginx is not an option for some situations. Solution:

import  "net/http"

err := http.ListenAndServeTLS(address, SSLCert, SSLPrivKey, ginRouter)

[2016-02-11 21:51] no1youknowz commented on #523
Damn seriously excited for that!  Looking forward to milestones!  Happy Gin v1 user here!

[2016-02-11 22:10] robvdl commented on #523
One thing that would be really nice to see in Gin v2 (though I am not sure if it's possible without mayor rework), is being able to define your own Context struct like gocraft/web does, one thing I don't really like about Gin's context, is that when you put something in the Context in a middleware (like the current logged in user), then pull  it out of the context later in your handler function, y

[2016-02-12 14:57] shenwei356 commented on #397
Thanks! This helps me.

[2016-02-12 21:23] juddernaught opened #530 "Use self-signed SSL certificate locally"
How do I use a self-signed certificate so I can use https locally?

[2016-02-13 15:04] rasheedhamdawi opened #531 "grouping routes and middleware not working"
I am trying to add this middleware
[code]
but not work with grouping routes

[code]

[2016-02-13 20:03] no1youknowz commented on #393
any movement on this, was a PR generated, does one need to be done?  Thanks

[2016-02-13 20:05] joeybloggs commented on #393
Isn't it already done? The godep and code are using v8 as far as I can see

[2016-02-13 20:09] no1youknowz commented on #393
Thanks for pointing that out, i just re-grabbed gin.  I see v8 instead of v5.  Sorry for the noise! :+1:

[2016-02-15 18:55] majimboo opened #532 "go get gives undefined: sync.Pool"
I'm getting this error when I tried to `go get` and every time I try to `go build`. Which only started when I tried to `go get` this package. Thanks.

[code]

[2016-02-15 19:18] majimboo commented on #532
nevermind, upgrading to 1.5.3 fixed it.

[2016-02-15 19:18] #532 closed

[2016-02-16 18:46] no1youknowz opened #533 "Key "github.com/gin-gonic/contrib/sessions" does not exist"
I'm able to get the basic examples to work, but trying to get it to work with my MVC skeleton using gin.

So my routes.go is this:

	package router

	import (
		"github.com/gin-gonic/gin"
		"github.com/paulm/platform/auth"
		"github.com/paulm/platform/controllers"
		"github.com/paulm/platform/libraries/common"
	)

	func Route() {
		// Creates a router without any middleware by default
		r := gin.N

[2016-02-16 19:15] robvdl commented on #533
Just a question, why would you want to load a config file each time in a middleware and setup the session, you only want to do this once at app startup, not for each request in a middlware, imagine it reading a config file each request... that would be slow.

[2016-02-16 19:19] no1youknowz commented on #533
You are exactly right.  But I haven't yet been able to do this.  This is my ultimate goal.

[2016-02-16 19:26] robvdl commented on #533
Are you saving the session, contrib sessions uses gorilla sessions behinds the scenes, and you have to  first put something into, then save the session or there won't be anything there (no cookies, or session will be created).  It looks like you are trying to retrieve "user" from the session, but I see nowhere where user is being put into the session and the session being saved first.

[2016-02-16 19:29] no1youknowz commented on #533
I'm doing the basic example from here: https://github.com/gin-gonic/contrib/tree/master/sessions

It actually fails here: https://github.com/gin-gonic/contrib/blob/master/sessions/sessions.go#L146

	http: panic serving 127.0.0.1:42856: Key "github.com/gin-gonic/contrib/sessions" does not exist
	goroutine 7 [running]:
	net/http.(*conn).serve.func1(0xc82015f4a0, 0x7f8f63c5fda0, 0xc820026290)
		/usr/

[2016-02-16 19:52] no1youknowz commented on #533
Resolved.  Refactored this and took consideration of your advice.  Now the config, session and database are loaded and then placed into the context.

Thanks

[2016-02-16 19:52] #533 closed

[2016-02-16 20:32] no1youknowz opened #534 "How to set options in Session/cookies"
Trying something like this and other things.

[code]

Getting

[code]

Would be nice if in the readme/examples, it shows how to supplement these options.

Thanks

[2016-02-16 20:48] mvader commented on #534
`sessions.Session` is a type, i think

`sessions.Default(ctx).Options(options)`

[2016-02-16 20:53] no1youknowz commented on #534
How do I set "options" though?  What is the type?

[2016-02-17 15:33] skarllot opened #536 "gopkg.in versioning"
Please update gin tags to support http://labix.org/gopkg.in.
Version zero is already there: https://gopkg.in/gin-gonic/gin.v0.

[2016-02-18 23:21] no1youknowz commented on #430
I can't get the Errors map:

    error is validator.ValidationErrors, not *validator.StructErrors

Also is it:

    "gopkg.in/bluesuncorp/validator.v5"

or

    "gopkg.in/go-playground/validator.v8"

Tried for an hour to get something other than.

    Key: 'Form.Password' Error:Field validation for 'Password' failed on the 'required' tag

I'd like to stick with c.Bind and stay within GIN.  Other t

[2016-02-18 23:28] joeybloggs commented on #430
It's definitely http://gopkg.in/go-playground/validator.v8

It was very recently updated from v5 to v8 perhaps you just need to ensure the libs are updated?

And the return value in v5 used to be StructError but now is ValidationErrors which is a flattened and much easier to parse map of errors.

[2016-02-18 23:30] no1youknowz commented on #430
Thanks for getting back so quickly!  Spinning my wheels and I figured it out.  :+1:

[2016-02-19 12:50] Norbell commented on #530
You have to do something like this:
router.RunTLS(":8888", certPath  string, privatekeyPath string)

Both files must be in pem-format

[2016-02-19 13:14] Norbell commented on #528
Just use os.Hostname() and append your domain.

[2016-02-19 13:36] Norbell commented on #531
Interesting. I used the following main-function and everything works fine.

What part of your code is not working?

[code]

[2016-02-19 17:45] cayter opened #538 "Any plan to use http/2?"
As topic.

[2016-02-19 19:24] nazwa commented on #538
It should work out of the box if you are using gin in https mode.

[2016-02-19 20:17] javierprovecho commented on #538
@cayter just what @nazwa said, but of course using under recently released [Go 1.6](https://blog.golang.org/go1.6) :wink:

[2016-02-19 20:17] #538 closed

[2016-02-20 04:05] cayter commented on #538
Oh I see. Thanks!

[2016-02-20 18:05] #531 closed

[2016-02-21 04:03] dongtian3240 commented on #296
good tools is quick my develop speek!

[2016-02-22 02:09] MattDavisRV commented on #155
Is there a working example of how to use this with One of the swagger generators?

[2016-02-22 11:41] tsirolnik opened #540 "Adding support for regular expressions based routing?"
Hey, so, first of all, I really love this framework. But,I've thought that adding a support for regex based routing would be really awesome.
Revel has support so maybe using their code would be an option?

[2016-02-22 12:13] SlinSo commented on #498
Hi @manucorporat ,

will v2 be based on fasthttp? I guess so, because of your speed improvements mentioned in another issue.
I would be really glad if I could help you with the transition.

[2016-02-22 19:32] javierprovecho commented on #498
@slinso hi there,

We are looking forward creating a plug able interface for http compliant packages such as fast http.

[2016-02-22 20:02] RomanMinkin opened #541 "Binding POST request for "field[]" and "field""
Hi there,

any suggestions on how to bind `POST` requests like:

[code]
and
[code]

to

[code]

I tried to use `json:"names[]" form:"names[]"`, but then it breaks `application/json`, `application/x-www-form-urlencoded`, etc.

Would appreciate any help and thanks in advance!

[2016-02-23 06:35] shawnye commented on #540
+1

[2016-02-23 07:30] appleboy commented on #540
I think you need to post question in https://github.com/julienschmidt/httprouter

[2016-02-23 09:01] SlinSo commented on #498
@javierprovecho
Ok, sounds nice! https://github.com/labstack/echo/blob/v2/engine/engine.go looks like the same idea.

[2016-02-23 09:39] SlinSo commented on #454
Currently this does not work, because "only one wildcard per path segment is allowed".
"-" is not defined as a separator, but you would need to have some kind of defined separator to make this work. One idea is to define every char as a sep that ist not part of regexp[A-Za-z0-9 ]. That way you could possibly have more than one wildcard in a route.

@javierprovecho is that a feature you would like

[2016-02-25 01:39] thinkong opened #544 "does the `json:"-"` tag work when using c.JSON()?"
Hi
I wanted to omit some parts of the struct when sending responces... but the `json` tag doesn't seem to work ..

Could it be something I did wrong?

My struct is a very deeply nested struct with pointers to other structs (no circular stuff)
`json:"-"`
`json:"someothername"`
all seem to not work...

any help would be great

[2016-02-25 02:39] Lluvio commented on #155
@MattDavisRV +1

[2016-02-25 13:42] otraore commented on #155
+1

[2016-02-25 14:06] jcmartins opened #545 "Slack Channel"
Hi, please create a slack channel in gophers to users talk about gin-gonic framework maybe to diferentes channels one to users and another to developers..

tks
joao

[2016-02-25 18:04] pierrec commented on #323
Hello,

I understand all the benefits from having this as an exported function, but I have just run into an annoying side effect:
since the function CreateTestContext() imports "net/http/httptest", it also adds an entry in cli arguments (https://golang.org/src/net/http/httptest/server.go#L69), which messes up with my cli arguments in my program.

Thoughts?

[2016-02-26 11:39] EwanValentine commented on #498
This is a fantastic idea! Imagine Gin's speed on fasthttp... +1

[2016-02-26 11:40] Huangsir commented on #498
+1

[2016-02-26 17:24] valyala commented on #498
See also [fasthttp-routing](https://github.com/qiangxue/fasthttp-routing) from [Yii](https://github.com/yiisoft/yii2) author.

[2016-02-29 12:06] arvenil commented on #471
I bet the issue here is that your request timeouts after `t` and sends response `504` to browser but then your request in goroutine finally finishes and so it tries to send additional response `200` while headers were already sent. That's why you get `Wanted to override status code 504 with 200`.

[2016-02-29 12:23] arvenil opened #546 "Retry middleware"
I wonder if it is possible to retry handler execution, something like this:

[code]

[2016-02-29 12:24] arvenil commented on #546
Well... after looking at source code of `IsAborted` which is `c.index = abortIndex` I don't thing so:/

[2016-03-01 01:58] lxbgit opened #548 "how to process image upload"
POST: multipart/form-data

[2016-03-01 02:00] lxbgit commented on #548
POST:   multipart/form-data

[2016-03-01 07:01] AlbinOS opened #549 "Test handlers and end to end tests"
Hi everyone,

First I'd like to thanks every contributor for this great project, it's working marvelously well.

Second, I have question about handler tests and end to end tests with `Gin`. I'm relatively new to `Go` and I have trouble to write something that suit me and seems idiomatic.

I tried to search for example but nothing stood up. Do you have any example in mind in a good way to test rout

[2016-03-01 07:21] AlbinOS commented on #549
Hey, never mind, I found #37 and #55.

Maybe it's a good idea to write a section in the README.md about that to facilitate information gathering ?

[2016-03-01 10:49] widnyana commented on #549
@AlbinOS agreed with you, if the maintainer agreed too, IMHO you can submit a pull request for this. :)

[2016-03-02 06:39] AlbinOS commented on #549
@widnyana, indeed, I'd like to submit such pull request if it suits maintainers. I'm working on my end to end tests on my application at the moment, I'd write something once I'm done with that.

[2016-03-02 11:40] AlbinOS opened #550 "Typo in gin_test.go ?"
Is there something wrong with the following assert line (see [gin_test.go](https://github.com/gin-gonic/gin/blob/develop/gin_test.go#L247)) : `assert.Regexp(t, wantRoute.Path, gotRoute.Path)` ?

As you already test the Path attribute [just above](https://github.com/gin-gonic/gin/blob/develop/gin_test.go#L246), I was wondering that you wanted to do something like `assert.Regexp(t, wantRoute.Handler

[2016-03-02 11:51] javierprovecho commented on #550
@AlbinOS yes, I think you are right! However, let me check this with the one who wrote this test.

Anyway, it doesn't make sense to compare twice the same variables.

Thank you for noticing this.

[2016-03-03 06:37] Ganitzsh opened #551 "Bind form-data request with nested structures"
Hi,

I have an struct `StructA` which contains another struct `StructB` as an attribute, like this:

[code]

In my handler I'm `Bind`ing the request content to an `StructA` object:

[code]

My form contains the field `fieldA` as well as `fieldB`, but `NestedStruct` stays `<nil>` after the `Bind` call.
Is manual binding the only way to achieve this at the time? Or am I missing something?

Thanks

[2016-03-03 10:09] hryamzik opened #552 "Is it possible to cache a route?"
Let's say I have a route that selects the \* from the database. I would like to limit amount of selections per second by caching results. I didn't find anything about cache in API docs though.

[2016-03-03 10:36] nazwa commented on #552
You could write a small middleware that caches the response. There is one in gin-contrib already, but I don't think it works with current version of gin. But I'm sure you  can use it as inspiration.

[2016-03-03 23:51] turtlemonvh commented on #293
Similar issue: I was trying to wrap https://github.com/NYTimes/gziphandler, which has this signature:

[code]

I came up with this pattern: https://gist.github.com/turtlemonvh/6cd23ef13e1e290717ef, inlined below:

[code]

[2016-03-04 00:58] turtlemonvh commented on #293
That method doesn't completely work for more complex request handlers that return a wrapped `http.ResponseWriter` in the call to `ServeHTTP` for downstream requests.

I fixed that by wrapping the response writer in `NextRequestHandler.ServeHTTP`.

That implementation is in [the gist](https://gist.github.com/turtlemonvh/6cd23ef13e1e290717ef).

[2016-03-04 02:35] turtlemonvh commented on #293
It's a package now: https://github.com/turtlemonvh/gin-wraphh

[2016-03-04 10:21] haitgo opened #553 "c.HTML can't find template files in Two level directory"
I need help,the gin freamework example is like this

[code]

my Directory is

[code]

I'm use the same like example , but I can't use  c.HTML(http.StatusOK, "users/index.tmpl", gin.H{}) for find the template,it says

[code]

but i use  c.HTML(http.StatusOK, "test.tmpl", gin.H{})  find it successfully
can you help me .Please forgive my poor English.soory

[2016-03-04 14:49] daemonza commented on #155
+1 on a example of how to use this

[2016-03-05 14:03] liamsymonds commented on #417
Agreed - LoadHTMLGlob fails when it comes across a sub-directory too.

[2016-03-05 22:19] javierprovecho commented on #545
@jcmartins hi, we actually use https://gitter.im/gin-gonic/gin which serve us fine. I don't share the idea of dispersing people around many services. Closing this for now...

[2016-03-05 22:19] #545 closed

[2016-03-06 00:48] douglarek commented on #531
@rasheedhamdawi is this resolved ? anything share ?

[2016-03-08 05:37] nkev commented on #498
@manucorporat any news on your fasthttp evaluation?

[2016-03-09 02:47] aeroxlv commented on #553
Take a look at: https://github.com/gin-gonic/gin/blob/develop/README.md#L484

[2016-03-09 06:44] douglarek commented on #357
+1

[2016-03-09 06:50] AlbinOS commented on #550
@javierprovecho, you're welcome !

Can I submit a pull request for this ?

[2016-03-09 06:59] appleboy commented on #550
@AlbinOS go ahead.

[2016-03-13 15:47] CaptainCodeman commented on #388
I can see both arguments. On the one hand, the proper RESTful routes tend to be clear and unambiguous with less chance for conflicts:

`GET /teachers` for the list
`GET /teachers/:id` for an item in the list

With 'proper' URL design it isn't a problem. Hint: make your URLs more like the git, gplus examples inthe router test package.

But, if you have other URLs to support it isn't possible. They

[2016-03-13 16:29] verdverm opened #559 "Support automatic OPTIONS response generation"
https://github.com/julienschmidt/httprouter now supports OPTIONS response generation by a boolean flag

The code paths for routing still seem quite close. Can we bring this enhancement into the Gin router?

Relevant code:

https://github.com/julienschmidt/httprouter/blob/master/router.go#L379

https://github.com/julienschmidt/httprouter/blob/master/router.go#L296

[2016-03-13 16:40] verdverm commented on #559
This may be a moot point if #498 is accepted

[2016-03-13 17:48] dcu opened #560 "Iris is faster"
perhaps gin can borrow some ideas to make the framework faster:

https://github.com/kataras/iris#benchmarks

[2016-03-13 18:04] manucorporat commented on #560
@dcu maybe, it looks like a simple binary tree.
anyway I can't find how to run the benchmarks by myself, because the iris developer didn't forked go-http-bechmarks with iris included.

[2016-03-13 18:09] manucorporat commented on #560
@dcu I just found a way to run the tests:
[code]

[2016-03-13 18:21] jacktuck commented on #296
github.com/braintree/manners is an alternative too.

[2016-03-14 00:30] otraore commented on #548
http://stackoverflow.com/questions/31792640/retrieving-posted-files-using-golang-gin

[code]

[2016-03-14 01:29] appleboy commented on #296
@jacktuck Thanks. I already create new PR #561 to update README.

[2016-03-14 02:20] appleboy commented on #560
@manucorporat nice work

[2016-03-14 04:38] CaptainCodeman commented on #560
It uses a cache to inflate it's results. They were substantially different when I added it into the go-htto-router-benchmark and measured it without the cache (so actually measuring the router itself)

**Caching disabled**
BenchmarkGin_GithubAll 50000 36235 ns/op 0 B/op 0 allocs/op
BenchmarkIris_GithubAll 10000 132241 ns/op 0 B/op 0 allocs/op

**Caching enabled**
BenchmarkGin_GithubAll 50000 35648

[2016-03-14 11:24] otraore commented on #498
+1

[2016-03-14 11:51] #550 closed

[2016-03-14 11:55] #548 closed

[2016-03-14 16:43] ChasingLogic commented on #544
Have you tested marshalling the struct directly yourself to verify it's correct? c.JSON() just uses the stdlib JSON encoder (which in turn uses the Marshal function) so the tag should be working and do work for my code. However I'm not deeply nesting structs.

[2016-03-15 03:43] dxvgef commented on #498
+1

[2016-03-15 07:24] appleboy commented on #560
@CaptainCodeman I test the benchmark again.

**Caching disabled**

[code]

**Caching enabled**

[code]

[2016-03-16 06:58] verdverm commented on #155
Ok, here is an example, but it requires modifying the Gin codes slightly

Outline
---------------
- Step 1. go get the swagger tool
- Step 2. build swagger-ui
- Step 3. modify `github.com/gin-gonic/gin/gin.go
- Step 4.  add a `swagger.go` file at the root of your project
- Step 5.  pass your Router to be swaggified
- Step 6. Annotate your code with comments (see the swagger tool docs)
- Step 7. ru

[2016-03-16 10:29] ChenMingzhe opened #563 "How to add <?xml> for xml result"
I want add <?xml version="1.0" encoding="UTF-8" ?>
for the result

[2016-03-16 20:27] verdverm commented on #559
This is implemented with my comments on #155

[2016-03-17 06:11] #563 closed

[2016-03-17 15:01] MyungjinJung opened #564 "Defer doesnt work in the gin handler ."
Hi, i already updated comment once as similar issue.

I coded somthing like this.

func (up *UploadHandler)UploadMultiParts(c *gin.Context) {
	//rw := c.Writer
	req := c.Request
        defer func(){ do something }
       -- huge File io working --
......

And I implemented "defer" function within this function , I expected that "defer" will be called by excepted situation such as the abnormal dis

[2016-03-17 17:20] CaptainCodeman commented on #560
As I explained in the reddit thread several times, I was seeing a huge discrepancy between the results I got when I ran the tests in the Iris project vs when I ran them in the go-http-router-benchmark project - for both Gin and Iris so I didn't find them convincing.  For a valid comparison to be made I think the author really needs to add his router to the go-http-router-benchmark project.

I'm al

[2016-03-18 06:53] appleboy commented on #560
@CaptainCodeman

Could you provide `go-http-router-benchmark` results or testing source code? I am gonna get to know what's different between `Iris` project and `go-http-router-benchmark`.

[2016-03-19 02:56] CaptainCodeman commented on #560
Sorry @appleboy, after the last update it started failing the unit tests and as the author was unwilling to accept the results anyway so I didn't see any point bothering with it anymore so deleted it all.

[2016-03-19 07:21] MyungjinJung commented on #564
It was my fault , gin handler has no any problem with defer function.
Part class was returning a message of unexpected EOF.

This issue is supposed be closed.
Thanks

[2016-03-19 07:21] #564 closed

[2016-03-19 09:10] appleboy commented on #560
@CaptainCodeman Thanks for your explanation.

[2016-03-19 13:41] joeybloggs commented on #560
@manucorporat @CaptainCodeman @appleboy @dcu
It's not as fast as the author portrays, there is the pull request I just put in to bring it back in line:
https://github.com/kataras/iris/pull/14

and updated the reddit posting:
https://www.reddit.com/r/golang/comments/4a8yit/is_this_the_fastest_go_web_framework/d15n2oa

[2016-03-19 15:56] kataras commented on #560
Xmm I like that

[2016-03-19 19:15] donileo opened #566 "binding form data into *string"
For some reason I am getting an error when trying to bind form values (POST) into a *string field in a struct. It works fine when using bind.JSON but binding using FORM fails when "unknown type".

My struct looks like the following

type Person struct {
    FirstName        *string   `form:"firstName" json:"firstName" binding:"required"`
    LastName *string `form:"lastName" json:"lastName" bindin

[2016-03-19 21:52] kataras commented on #560
Hello to all here, I just use cache, without cache the iris is faster only for 1k-2k nanoseconds (on my hardware), with cache is 20k nanoseconds and gin 56k ( on my hardware) so all ok we are all friends joyblogggs stop hating me please and upload some serious staff, thanks and nice work to the @manucorporat !

[2016-03-20 04:28] appleboy commented on #560
@kataras Why you closed https://github.com/kataras/iris/pull/14 issues? If someone like me want to test iris framework, he/she will get wrong benchmark results.

By the way, you must to change benchmark result on iris project readme and update benchmark chart on [iris website](http://kataras.github.io/iris/).

Thanks.